{% for block in blocks %}
    {% if block.rows is not empty %}
        {% include('@blog/rows.twig') with {'rows' : block.rows } %}
    {% else %}
        {% include('@blog/blocks/' ~ block.identifier ~ '.twig') with {'block' : block}%}
    {% endif %}
{% endfor %}

