{% for row in rows  %}
    <div class="row justify-content-center ">
        {% for col in row %}
            {% if col.cols is not empty %}
            <div class="col-12 col-sm-{{ col.cols }}">
                {% include("@blog/blocks.twig") with { 'blocks' : col.blocks } %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}