{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="mx-auto mt-5" style="max-width: 700px;">

        <h1>Blog</h1>
        {% for t in tree %}
        <div class="my-5 pt-5" style="border-top: 1px solid #F0F0F0;">
            <div class="row">
                <div class="col-9 col-lg-8">
                    <h2>{{ t.item.title }}</h2>
                    <h6>{{ t.navItem.timestamp_create | date("d.m.Y", "Europe/Zurich")}}</h6>
                    <p class="mb-2" style="opacity: 0.7;">
                        {{ t.navItem.description }}
                    </p>
                    <p class="m-0">
                        <a class="btn btn-danger btn-sm" href="{{ Url.to('/blog/' ~ t.item.alias) }}">Weiterlesen</a>
                    </p>
                </div>
                {% if t.props.graph_image.value %}
                <div class="col-3 col-lg-4">
                    <a href="{{ Url.to('/blog/' ~ t.item.alias) }}">
                        <img src="{{ t.props.graph_image.value }}" class="img-fluid">
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}