<div class="col-lg-4 pull-lg-8">
    <div class="side-navi">
        <a href="{{ Url.to(['/page/jobs/jobs'], true) }}"><span class="icon icon-angle-down"></span>{{ 'Page_Jobs_Title'|trans('staticcontent') }}</a>
        <div class="collapse show">
            <div class="card-block">
                <a href="{{ Url.to(['/page/jobs/work'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Work_Title'|trans('staticcontent') }}</a>
                <a href="{{ Url.to(['/page/jobs/education'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Education_Title'|trans('staticcontent') }}</a>
                <a href="{{ Url.to(['/page/jobs/positions'], true) }}" class="positions"><span class="icon icon-angle-right"></span>{{ 'Page_Positions_Title'|trans('staticcontent') }}</a>
            </div>
        </div>
    </div>
</div>
