<div class="second-level-wrapper">
    <div class="second-level-header">
        <strong>{% block cat_title %}{% endblock %}</strong><br>
        {% block cat_location %}{% endblock %}
        <span>+</span>
    </div>
    <div class="second-level-body">
        {% block cat_content %}{% endblock %}
    </div>
</div>
