{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="customer-account">
        <div class="row">
            <div class="col-md-3">
                {% include '@customer-account/menu/sidebar.twig' %}
            </div>
            <div class="col-md-9">
                {% block customer_data %}
                {% endblock %}
            </div>
        </div>
        {% block customer_footer %}
        {% endblock %}
    </div>
{% endblock %}
