{% extends "@customer-account/customer-account.twig" %}

{% block customer_data %}
    <h1>{{ block('customer_headline_1') }}</h1>
    <h2 class="thin mb-4">{{ block('customer_headline_2') }}</h2>

    {% block customer_content %}{% endblock %}
{% endblock %}
