{% set header %}{% block header %}{{ title }}{% endblock %}{% endset %}
{% set additional %}
    {% block additional %}
        <div class="form-group row">
            <div class="col-md-6">
                {{ form.field(model, 'contactPhoneNumber').size('lg').noFormGroup.labelAsPlaceholder.telInput|raw }}
            </div>
        </div>
    {% endblock %}
{% endset %}

{% embed '@views/components/card.twig' with {body_class: hide_address|default(false) ? 'hidden-xs-up' } %}
    {% block header %}
        {{ header }}
    {% endblock %}
    {% block body %}
        {% if not hide_hint|default(false) %}
            <strong>{{ 'Address_Hint'|trans }}:</strong><br>
            <p><small>{{ 'Address_Hint_Text'|trans }}</small></p>
        {% endif %}

        {{ form.field(model, 'sex').size('lg').inline().label(false).genderRadioList|raw }}
        {{ form.field(model, 'firstname').size('lg').labelAsPlaceholder.textInput|raw }}
        {{ form.field(model, 'lastname').size('lg').labelAsPlaceholder.textInput|raw }}

        <div class="row">
            <div class="col-lg-9">
                {{ form.field(model, 'street').size('lg').labelAsPlaceholder.textInput|raw }}
            </div>
            <div class="col-lg-3">
                {{ form.field(model, 'houseNumber').size('lg').labelAsPlaceholder.textInput|raw }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                {{ form.field(model, 'zip').size('lg').labelAsPlaceholder.textInput|raw }}
            </div>
            <div class="col-lg-9">
                {{ form.field(model, 'city').size('lg').labelAsPlaceholder.textInput|raw }}
            </div>
        </div>

        {{ additional }}

        {% if not cartHasTariff %}
            <div class="row">
                <div class="col-lg-6">
                    {{ form.field(model, 'birthday').size('lg').date()|raw }}
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}

