{% extends '@checkout/steps/layout-sidebar-right.twig' %}

{% block content %}
    {% set customer = active_step.data.customer %}

    {% if not customer.id %}
        <ul id="checkout-steps-customer" class="nav nav-tabs nav-tabs-danger">
            <li class="nav-item">
                <a class="nav-link {{ not customer.loginAttempt ? 'active' }}" data-toggle="tab" href="#checkout-pane-new">{{ 'Neukunde'|trans('checkout') }}</a>
            </li>
            <li class="nav-item">
                <a id="checkout-tab-login" class="nav-link {{ customer.loginAttempt ? 'active' }}" data-toggle="tab" href="#checkout-pane-login">{{ 'Bestandskunde'|trans('checkout') }}</a>
            </li>
        </ul>
    {% endif %}

    <div class="tab-content">
        <div class="tab-pane {{ not active_step.data.customer.loginAttempt ? 'active' }}" id="checkout-pane-new" role="tabpanel">
            {% if not customer.id %}
                {% embed '@checkout/steps/customer_data/address.twig' with {title: 'Personal_Data'|trans, model: customer.billingAddress} %}
                    {% block additional %}
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form.field(model, 'contactPhoneNumber').size('lg').labelAsPlaceholder.telInput|raw }}
                            </div>
                            <div class="col-lg-6">
                                {{ form.field(customer, 'newEmail').size('lg').labelAsPlaceholder.textInput|raw }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form.field(customer, 'newPassword').size('lg').labelAsPlaceholder.passwordInput|raw }}
                            </div>
                            <div class="col-lg-6">
                                {{ form.field(customer, 'newPasswordRepeat').size('lg').labelAsPlaceholder.passwordInput|raw }}
                            </div>
                        </div>
                        {{ form.field(customer, 'registerAttempt').hiddenInput|raw }}
                    {% endblock %}
                {% endembed %}
            {% endif %}

            {% if customer.id %}
                {% include '@checkout/steps/customer_data/address.twig' with {title: 'Customer_Data'|trans, model: customer.billingAddress}  %}
                {{ form.field(customer, 'defaultAddressConfirmation').hiddenInput({value: 1})|raw }}
            {% endif %}

            <div id="checkout-delivery-address">
                {% embed '@checkout/steps/customer_data/address.twig' with {
                    model: customer.deliveryAddress,
                    hide_address: not active_step.data.customer.useDeliveryAddress,
                    hide_hint: true
                } %}
                    {% block header %}
                        {{ form.field(active_step.data.customer, 'useDeliveryAddress').noFormGroup.checkBox|raw }}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>

        <div class="tab-pane {{ active_step.data.customer.loginAttempt ? 'active' }}" id="checkout-pane-login" role="tabpanel">
            {% include '@checkout/steps/customer_data/login.twig' with {title: 'Login'}  %}
        </div>
    </div>


{% endblock %}
