{% if not customer.id %}
    {% embed '@views/components/card.twig' %}
        {% block header %}
            {{ title }}
        {% endblock %}
        {% block body %}
            <div class="row">
                <div class="col-lg-6">
                    {{ form.field(customer, 'email').size('lg').labelAsPlaceholder.textInput|raw }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {{ form.field(customer, 'password').size('lg').labelAsPlaceholder.passwordInput|raw }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {{ form.field(customer, 'loginAttempt').hiddenInput|raw }}
                        <button type="submit" class="btn btn-danger btn-lg">{{ 'Login_Now'|trans }}</button>
                        <a href="/customer-account/customer-account/forgot-password">{{ 'Forgot_Password'|trans('customer-account') }}</a>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endif %}
