<div class="highlight">
    <strong class="month">{{ month | annualTrans(lang_key) }}</strong>
    <strong>{{ headline | annualTrans(lang_key) }}</strong>
    <p>{{ text | annualTrans(lang_key) }}</p>
</div>
