<h1 class="dotted">{{ subject | annualTrans(lang_key) }}</h1>

<p class="h1">{{ text | annualTrans(lang_key) }}</p>

<a class="btn btn-danger" target="_blank"
   href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_' ~ target_file_name ~ '.pdf') | cdn }}">
    {{ 'read-pdf' | annualTrans(lang_key) }} <span class="icon icon-angle-right"></span>
</a>
