<div class="stats {% if not number_size %}text-right{% endif %}">
    <h3 class="h6">{{ headline|annualTrans(lang_key) }}</h3>
    <p>
        <span class="{{ number_size ? number_size : 'display-3' }}">{{ number }}</span>
        {% if percent %}
            <span class="percent h3">+{{ percent }}%</span>
        {% endif %}
    </p>
</div>
