<h2 class="dotted">{{ subject | annualTrans(lang_key) }}</h2>

<p class="{{ text_size|default('h1') }}">{{ text | annualTrans(lang_key) }}</p>

<a class="btn btn-danger" href="{{ Url.to([ '/page/annual-report/' ~ target_file_name ~ '-' ~ lang_key ], true) }}">
    {{ 'read-more' | annualTrans(lang_key) }} <span class="icon icon-angle-right"></span>
</a>
