{% set dismissable = dismissible|default(false) %}
{% set type = type|default('warning') %}

<div class="alert alert-{{ type }} {{ dismissible ? 'alert-dismissible' }}" role="alert">
    {% if dismissable %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    {% endif %}
    {% block body %}{% endblock %}
</div>
