{% set header %}{% block header %}{% endblock %}{% endset %}
{% set body %}{% block body %}{% endblock %}{% endset %}

<div class="card {{ type is defined ? 'card-' ~ type }}">
    {% if header|length > 0 %}
        <h4 class="card-header">{{ header }}</h4>
    {% endif %}

    {% if body|length > 0 %}
        <div class="card-block {{ body_class|default('') }}">{{ body }}</div>
    {% endif %}
</div>
