@import '../../variables';

.provider-list {
  margin: 0 (-$spacer / 3);

  > div {
    padding: 0 ($spacer / 3);
  }

  .provider-wrapper {
    position: relative;
    height: 50px;
    margin-bottom: $spacer / 2;
    border: $border-width solid $gray-lightest;
    border-radius: $border-radius;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 90%;
      max-height: 90%;
      transform: translate(-50%, -50%);
    }
  }

  .active .provider-wrapper {
    border: 2px solid $brand-danger;
  }
}
