{% set rate_payment_active = article_tariff.price_article_monthly > 0 %}

{% if rate_payment_active %}
    <div class="row">
        <div class="col-sm-6">{{ 'Article_Tariff_Device_Deposit'|trans('view') }}</div>
        <div class="col-sm-6 text-right price-sm font-weight-bold">{{ article_tariff.price_article_once|price }}</div>
    </div>
{% endif %}

<div class="row">
    <div class="col-sm-6">
        {{ (rate_payment_active ? 'Article_Tariff_Rate_Device' : 'Article_Tariff_Device')|trans('view') }}
        <span
            class="icon icon-info"
            data-toggle="popover"
            title="{{ 'Fine_Print_Label'|trans('view') }}"
            data-content='{% include '@product/price-box/fine-print.twig'|raw with { item: article_tariff } %}'
        >
        </span>
    </div>
    <div class="col-sm-6 text-right price-sm  font-weight-bold">
        {{ rate_payment_active ? article_tariff.price_article_monthly|price : article_tariff.price_article_once|price }}
    </div>
</div>
