{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="checkout error">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ 'Error_Title'|trans }}</h1>
                <p>{{ 'Error_Message'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}