{% if active_step.identifier == constant('app\\modules\\checkout\\services\\checkout\\step\\CartStep::IDENTIFIER') %}
    {% set layout = '@views/layouts/base.twig' %}
{% else %}
    {% set layout = '@views/layouts/slim.twig' %}
{% endif %}

{% extends layout %}

{% import "@views/common/utils.twig" as utils %}

{% block content %}
    {% set customer = active_step.data.customer %}

    <div class="checkout step-{{ active_step.identifier|replace('_', '-') }}{% if customer.id %} logged-in{% endif %}">
        <div class="row">
            {% if active_step.identifier != constant('app\\modules\\checkout\\services\\checkout\\step\\CartStep::IDENTIFIER') %}
                <div class="col-lg-12 hidden-md-down">
                    {% include '@checkout/step_list.twig' %}
                </div>
            {% endif %}
            <div class="col-lg-12">
                {% include '@checkout/steps/' ~ active_step.identifier ~ '/index.twig' with {step: active_step} %}
            </div>
        </div>
    </div>
{% endblock %}
