{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="checkout payment-redirect">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mb-2">{{ 'Payment_Redirect_Title'|trans }}</h1>
                <button type="button" class="btn btn-danger">
                    {{ 'Payment_Button'|trans }}
                    {{ payment_redirect_html|raw }}
                </button>
            </div>
        </div>
    </div>
{% endblock %}
