<ul class="list-inline list-checkout-steps">
    {% for step in steps %}
        <li class="list-inline-item">
            {% set icon_mapping = {
                cart: 'phone',
                customer_data: 'customer',
                contract_data: 'pen',
                payment: 'credit-card',
                overview: 'file'
            } %}

            {% set icon_name = icon_mapping[step.identifier] is defined ? icon_mapping[step.identifier] : 'phone' %}

            {% if step.accessible %}
                <a href="/checkout/checkout/select-step/{{ step.identifier }}" class="{{ step.active ? 'active' : 'text-muted' }}">
                    <span class="icon icon-lg icon-{{ icon_name }}"></span> {{ step.name|trans }}
                </a>
            {% else %}
                <span class="text-muted">
                    <span class="icon icon-lg icon-{{ icon_name }}"></span> {{ step.name|trans }}
                </span>
            {% endif %}
        </li>
        {% if not loop.last %}
            <li class="list-inline-item">
                <span class="text-muted">
                    <span class="icon icon-lg icon-angle-right"></span>
                </span>
            </li>
        {% endif %}
    {% endfor %}
</ul>
