{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="checkout success">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ 'Success_Title'|trans }}</h1>
                <h2 class="mb-2">{{ 'Success_Subtitle {linkStart}{linkEnd}'|trans(null, {linkStart: '<a href="/customer-account/order" class="brand-danger">', linkEnd: '</a>'})|raw }}</h2>
                <h3>{{ 'Success_Message'|trans }}:</h3>
                <p>
                    {{ 'Success_Order_Nr'|trans }}: {{ order.id }}<br>
                    {{ 'Your_Email_Address'|trans }}: {{ customer.email }}
                </p>
            </div>
        </div>
        <div class="row flex-md-up">
            <div class="col-md-6">
                {% include '@checkout/success/payment.twig' %}
            </div>
            <div class="col-md-6">
                {% include '@checkout/success/delivery-type.twig' %}
            </div>
        </div>
        <div class="row flex-md-up">
            <div class="col-md-6">
                {% include '@checkout/success/billing.twig' %}
            </div>
            <div class="col-md-6">
                {% include '@checkout/success/delivery-address.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% include '@checkout/success/order.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
