<div class="marker-info">
    {% if shop.is_helpcenter %}
        <div>
            <img src="{{ asset('img/shop-finder/clock.png') }}" alt="Clock Icon">
        </div>
    {% endif %}
    <div>
        <h4>{{ shop.name }}</h4>

        {% if shop.extra_line is not empty %}{{ shop.extra_line }}<br>{% endif %}
        {{ shop.street }}<br>
        {{ shop.zip }} {{ shop.city }}<br>
        {{ 'Tel'|trans }} {{ shop.phone }}

        <p>{% include '@shop-finder/openings.twig' with {shop: shop, showSpecial : true} only %}</p>

        <a href="{{ url('shop-finder/view', {id: shop.id}) }}" class="text-danger">
            {{ 'Learn_More'|trans }}
            <span class="icon icon-angle-right"></span>
        </a>
    </div>
</div>
