{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mb-4">{{ 'Page_Tree_Standorte'|trans('staticcontent') }}</h1>
            <div id="map-locations" class="hidden-xs-up">
                {{ {settings: shop_finder.toArray(), shops: shops}|json_encode }}
            </div>

            <div class="shop-finder-form">
                {% set form = form_begin({id: 'shop-finder', method: 'POST'}) %}

                <div class="form-inline mb-2">
                    {{ form.field(shop_finder, 'latitude').hiddenInput|raw }}
                    {{ form.field(shop_finder, 'longitude').hiddenInput|raw }}

                    <div class="form-group">
                        <input id="google-maps-query"
                               type="text"
                               class="form-control"
                               placeholder="{{ 'Zip_Or_City'|trans }}"
                               value="{{ app.request.get('store') }}">
                    </div>

                    <div class="form-group">
                        <button id="google-maps-search" type="submit" class="btn btn-danger">{{ 'Search'|trans }}</button>
                    </div>

                    {% if app.request.isSecureConnection %}
                        <div id="google-maps-mylocation-container" class="form-group google-maps-mylocation">
                            <button id="google-maps-mylocation" type="button" class="btn btn-success">
                                <span class="icon icon-location"></span>{{ 'Close_To_Me'|trans }}
                            </button>
                        </div>
                    {% endif %}
                </div>

                {{ Html.checkbox({
                    label: 'Search_Express_Repair'|trans,
                    attrs: {
                        id: 'shopfinderform-helpcenter',
                        value: true
                    }
                })|raw }}
                {{ form_end() }}
            </div>

            <div class="pull-out-md-down">
                <div id="map" class="google-maps"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% include '@shop-finder/shop-list.twig' %}
        </div>
    </div>
{% endblock %}
