{% if not shop.closed_today %}
    <span class="text-danger">{{ 'Today_Closed'|trans('shop-finder') }}</span>
{% elseif shop.already_closed_today %}
    <span class="text-danger">{{ 'Today_Closed_Already'|trans('shop-finder') }}</span>
{% else %}
    {% set hours %}
        {% for val in shop.todays_openings %}
            {% spaceless %}
                {{ val.opened_at|date('H:i') }} - {{ val.closed_at|date('H:i') }}{{ not loop.last ? ',' }}
            {% endspaceless %}
        {% endfor %}
    {% endset %}
    <span class="text-success">{{ 'Today_Openinings_Hours'|trans('shop-finder', {hours: hours|trim}) }}</span>

    {% if showSpecial %}
        {% if shop.special_opening %}
        <div class="alert alert-info mt-3 p-1">
            <small>{{ shop.special_opening | raw | nl2br}}</small>
        </div>
        {% endif %}
    {% endif %}

{% endif %}
