<div class="hidden-md-down">
    <table class="table table-light table-aligned table-shopfinder">
        <thead>
            <tr>
                <th class="name">{{ 'Name'|trans('shop-finder') }}</th>
                <th class="text-md-center tel">{{ 'Phone'|trans('shop-finder') }}</th>
                <th colspan="2" class="text-md-center">{{ 'Business_Hours'|trans('shop-finder') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for shop in shops %}
                <tr>
                    <td class="name"><strong>{{ shop.name }}</strong> <br> <small>{{ shop.street }}, {{ shop.zip }} {{ shop.city }}</small></td>
                    <td class="text-md-center tel"><a class="btn btn-outline-danger btn-sm" href="tel:{{ shop.phone }}">{{ shop.phone }}</a></td>
                    <td class="text-md-center" colspan="{% if shop.special_opening %}1{% else %}2{% endif %}">
                        {% include '@shop-finder/openings.twig' with {shop: shop, showSpecial : false} only %}
                    </td>
                    {% if shop.special_opening %}
                    <td class="text-md-center">
                        <div class="alert alert-info mt-3 p-1">
                            <small>{{ shop.special_opening | raw | nl2br}}</small>
                        </div>
                    </td>
                    {% endif %}
                    <td>
                        <a href="{{ url('/shop-finder/shop-finder/view', { id: shop.id, city: shop.city|lower }) }}" class="btn btn-danger">
                            {{ 'Learn_More'|trans('shop-finder') }}
                            <span class="icon icon-angle-right"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include '@shop-finder/shop-list-mobile.twig' %}
