<div class="hidden-lg-up">
    <div class="row">
        {% for shop in shops %}
            <div class="col-sm-6">
                {% embed '@views/components/card.twig' %}
                    {% block body %}
                        <h4 class="card-title">{{ shop.name }}</h4>
                        <p>
                            {% if shop.extra_line is not empty %}{{ shop.extra_line }}<br>{% endif %}
                            {{ shop.street }}<br>
                            {{ shop.zip }} {{ shop.city }}<br>
                            {{ 'Tel'|trans }} {{ shop.phone }}
                        </p>
                        <p>
                            {% include '@shop-finder/openings.twig' with {shop: shop, showSpecial : true} only %}
                        </p>
                        <a href="{{ url('/shop-finder/shop-finder/view', { id: shop.id, city: shop.city|lower }) }}" class="btn btn-danger">
                            {{ 'Learn_More'|trans }}
                            <span class="icon icon-angle-right"></span>
                        </a>
                    {% endblock %}
                {% endembed %}
            </div>
        {% endfor %}
    </div>
</div>
