<h3 class="provider-logos-headline hidden-sm-down mt-5">{{ 'Provider_Logo_Row_Text'|trans('view') }}</h3>
<div class="row provider-logos mt-4">
    {% for provider in providers.take(6) %}
        <div class="hidden-sm-down col-md-4 col-lg-2">
            <img src="{{ provider.image|image('thumbnail') }}" alt="{{ provider.title }}"/>
        </div>
    {% endfor %}
</div>
