{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div id="selection">
        <div class="category-intro mb-4">
            <h1>{{ 'Our_Tariffs'|trans('view') }}</h1>
            <h2>{{ 'Please_Select_Tariff_Type'|trans('view') }}</h2>
        </div>

        <div class="selections card-deck">
            <div class="contract-box card">
                {% include '@tariff/selection/selection-box-new-contract.twig' %}
            </div>
            <div class="contract-box card">
                {% include '@tariff/selection/selection-box-porting.twig' %}
            </div>
            <div class="contract-box card">
                {% include '@tariff/selection/selection-box-renewal.twig' %}
            </div>
        </div>

        <div>{{ 'Our_Tariffs_text'|trans('view')|raw }}</div>
    </div>
{% endblock %}
