{% extends '@tariff/selection/selection-box.twig' %}

{% block head -%}{{ 'Tariff_Selection_New_Contract'|trans('view') }}{%- endblock %}

{% block subline -%}{{ 'Tariff_Selection_New_Number'|trans('view') }}{%- endblock %}

{% block text %}{{ 'Tariff_Selection_New_Contract_Text'|trans('view') }}{% endblock %}

{% block bottom %}
    <div class="button-wrapper mt-4">
        <strong>{{ 'Tariff_Selection_Mobile_Contract'|trans('view') }}</strong> {{ 'Tariff_Selection_With_Phone'|trans('view') }}
        <a href="{{ url('/tariff/tariff/overview', {'offer-type': 1, 'mode': 'new-number'}) }}" class="btn btn-block btn-danger">
            {{ 'Tariff_Selection_To_Mobile_Contracts'|trans('view') }}
            <span class="icon icon-angle-right"></span>
        </a>
    </div>
    <div class="button-wrapper mt-4">
        <strong>{{ 'Tariff_Selection_Data_Contract'|trans('view') }}</strong> {{ 'Tariff_Selection_With_Tablet'|trans('view') }}
        <a href="{{ url('/tariff/tariff/overview', {'offer-type': 4, 'mode': 'new-number'}) }}" class="btn btn-block btn-danger">
            {{ 'Tariff_Selection_To_Tablet_Contracts'|trans('view') }}
            <span class="icon icon-angle-right"></span>
        </a>
    </div>
{% endblock %}
