<div class="contract-box-header card-title">
    {% block head %}{% endblock %}
    <label class="subline pt-0 font-weight-normal">{% block subline %}{% endblock %}</label>
</div>
<div class="contract-box-content px-4 pb-0 card-block">
    {% block text %}{% endblock %}
</div>
<div class="card-footer">
    {% block bottom %}{% endblock %}
</div>
