{% extends '@tariff/selection/selection-box.twig' %}

{% block head -%}{{ 'Tariff_Selection_Porting'|trans('view') }}{%- endblock %}

{% block subline -%}{{ 'Tariff_Selection_Porting_Subtitle'|trans('view') }}{%- endblock %}

{% block text %}{{ 'Tariff_Selection_Porting_Text'|trans('view') }}{% endblock %}

{% block bottom %}
    {% include '@tariff/selection/select-current-provider.twig' with {type: 'porting'} %}
{% endblock %}
