{# this could be included more than once in a single view, hence the unique id for the field #}
{% set field_id = uniqid('provider-') %}


<div class="button-wrapper">
    {% set form = form_begin({method: 'POST'}) %}
        <label for="{{ field_id }}" class="mb-0">
            <strong>{{ 'Previous_Provider'|trans('view') }}</strong>
        </label>
        {{ form.field(tariff_selection, 'provider').labelAsPrompt.dropdownList(tariff_selection.getProviders(type))|raw }}
        <input type="hidden" name="TariffSelectionForm[type]" value="{{ type }}" />

        <div class="button-wrapper">
            <button type="submit" class="btn btn-block btn-danger mt-5">
                {{ 'Tariff_Selection_Porting_To_Contracts'|trans('view') }}
                <span class="icon icon-angle-right"></span>
            </button>
        </div>
    {{ form_end() }}
</div>
