@import '../variables';

.external-links {
  h2 {
    vertical-align: middle;
  }

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    max-width: 100px;
    padding-right: $spacer;
  }
}
