@import '../variables';
@import 'external-links';
@import 'service-n-news';
@import 'newsletter-box';
@import 'internal-links';
@import 'lang-switch';

footer.footer {
  @include media-breakpoint-down(sm) {
    border: 0;
    text-align: center;
  }

  padding: 2 * $spacer;

  @include media-breakpoint-up(lg) {
    padding: (3 * $spacer) 0;
  }

  background: $gray-lightest;

  > div {
    &:not(:last-child) {
      margin-bottom: 2 * $spacer;
      padding-bottom: 2 * $spacer;
      border-bottom: $border-width solid $gray-lighter;
    }
  }

  h2 {
    font-size: $font-size-h3;
  }

  li {
    line-height: 1.75;
  }
}
