@import '../variables';

.lang-switch {
  font-size: $font-size-h3;
  text-align: left;

  .lang {
    padding: 0 ($spacer / 2);

    &:not(:last-of-type) {
      border-right: $border-width solid $gray;
    }
  }

  .active {
    color: $brand-danger;
    font-weight: bold;
  }
}
