@import '../variables';

.service-n-news {
  .list-service {
    @include media-breakpoint-down(md) {
      column-count: 1;
    }

    column-count: 2;

    li {
      position: relative;
      padding-left: $btn-padding-x;
    }

    span {
      @include media-breakpoint-up(md) {
        position: absolute;
      }

      top: 5px;
      left: 0;
      color: $brand-success;
    }
  }

  .list-news {
    li {
      @include media-breakpoint-down(sm) {
        margin-bottom: $spacer;
      }

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .date {
      @include media-breakpoint-down(sm) {
        display: block;
      }

      color: $brand-danger;
    }

    .headline {
      @include media-breakpoint-down(sm) {
        margin: 0;
        padding: 0;
        border-left: 0;
      }

      margin-left: 10px;
      padding-left: 10px;
      border-left: $border-width solid $brand-inverse;
    }
  }
}
