{% set sim_only_id = constant('app\\models\\ArticleModel::SIM_ONLY') %}
{% set wingo_id = constant('app\\models\\ProviderModel::WINGO_ID') %}
{% set provider_img_src = tariff.provider.alt_image and tariff.show_alt_provider_img ?
    tariff.provider.alt_image|image('thumbnail') :
    tariff.provider.image|image('thumbnail')
%}

<div class="card info-block">
    <div class="card-header left py-1 px-3">
        {% if text is not empty %}
            {{ text }}
        {% elseif(contract_mode == 'new-number') %}
            {{ 'Contract_Box_New_Contract'|trans('view') }}
        {% elseif(contract_mode == 'porting') %}
            {{ 'Number_Porting'|trans('product') }}
        {% elseif(contract_mode == 'contract-renewal') %}
            {{ 'Contract_Renewal'|trans('product') }}
        {% endif %}
    </div>
    {% if tariff.young_people %}
        <div class="card-header right py-1 px-3">
            {{ 'Tariff_info_youth_tariff'|trans('view') }}
        </div>
    {% endif %}
    <div class="card-block mt-5">
        <div class="row">
            <div class="col-sm-6 pl-5">
                <div class="provider-logo my-2">
                    <img src="{{ provider_img_src }}" alt="{{ tariff.provider.title }}">
                </div>
            </div>
            <div class="col-sm-6 tariff-price-monthly text-right pr-5">
                <p class="m-0">{{ 'Tariff_with_phone_from'|trans('view') }}</p>
                <p class="text-danger price">{{ tariff.price_monthly|price }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pl-5">
                <p><strong>{{ tariff.title }}</strong></p>
                {% include '@views/products/highlights.twig' with { highlights: tariff.highlights } only %}
            </div>
            <div class="col-md-5 offset-md-3 pr-5">
                {% if tariff.text_call %}
                    <p class="m-0"><strong>{{ 'Tariff_info_call'|trans('view') }}</strong> {{ tariff.text_call }}</p>
                {% endif %}
                {% if tariff.text_internet %}
                    <p class="m-0"><strong>{{ 'Tariff_info_internet'|trans('view') }}</strong> {{ tariff.text_internet }}</p>
                {% endif %}
                {% if tariff.text_sms %}
                    <p class="m-0"><strong>{{ 'Tariff_info_sms'|trans('view') }}</strong> {{ tariff.text_sms }}</p>
                {% endif %}
                {% if tariff.sim_only_article_tariff_id %}
                    {% include '@product/subscriptions/buy-button.twig' with {
                        article_id: sim_only_id,
                        provider_id: tariff.provider.id,
                        item: tariff.simOnlyArticleTariff,
                        additional_button_classes: 'float-right w-100 mt-3',
                        button_text: 'Order_Without_Device'|trans('view')
                    } %}
                {% elseif tariff.provider.id == wingo_id %}
                    {% include '@product/subscriptions/buy-button.twig' with {
                        provider_id: tariff.provider.id,
                        additional_button_classes: 'float-right w-100 mt-3',
                        button_text: 'Order_Without_Device'|trans('view')
                    } %}
                {% endif %}
            </div>
            {% if tariff.footnote_text %}
                <div class="col-md-12 card-footer pl-5">
                    {{ tariff.footnote_text }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
