{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="subscriptions">
        <a name="subscriptions"></a>
        <ul class="nav nav-tabs nav-justify text-center mb-2">
            <li class="nav-item">
                <a class="nav-link {% if(contract_mode == 'new-number') %}active{% endif %}"
                   href="{{ url('/tariff/tariff/overview', {mode: 'new-number'}) }}">
                    {{ 'Contract_Box_New_Contract'|trans('view') }}<br>
                    (<small>{{ 'Contract_Box_New_Number'|trans('view') }}</small>)
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if(contract_mode == 'porting') %}active{% endif %}"
                   href="{{ url('/tariff/tariff/porting', {mode: 'porting'}) }}">
                    {{ 'Number_Porting'|trans('product') }}<br>
                    (<small>{{ 'Keep_Number_New_Provider'|trans('product') }}</small>)
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if(contract_mode == 'contract-renewal') %}active{% endif %}"
                   href="{{ url('/product/renewal-request/index', {mode: 'contract-renewal'}) }}">
                    {{ 'Contract_Renewal'|trans('product') }}<br>
                    (<small>{{ 'Of_The_Existing_Contract'|trans('product') }}</small>)
                </a>
            </li>
        </ul>

        {% if contract_mode == 'new-number' %}
            <h1>{{ 'Tariff_Category_Title'|trans('product') }}</h1>
            <p>{{ 'Tariff_Category_Subtitle'|trans('product')|raw }}</p>
        {% elseif contract_mode == 'contract-renewal' %}
            <h1>{{ 'Renewal_Contract_Headline'|trans('view') }}</h1>
        {% endif %}

        {% if filters is defined %}
            {% set show_reset_button = true %}
            {% include('@product/subscriptions/subs-filter.twig') %}
        {% endif %}

        <div class="tariffs-wrapper tariff-cards">
            {% include('@tariff/tariff-cards.twig') %}
        </div>
    </div>

    {% if contract_mode != 'contract-renewal' %}
        {% include "@pagination/load-more.twig" %}
    {% endif %}
{% endblock %}
