<div class="product-cards">
    <div class="row">
        {% for article_tariff in article_tariffs %}
            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
                {% include '@category/product-card.twig' with {
                    article: article_tariff.article,
                    hash: hash|default(null)
                } %}
            </div>
        {% endfor %}
    </div>
</div>
