{% extends "@views/layouts/base.twig" %}

{% block content %}
    {% block tabs %}
        {% include "@product/subscriptions.twig" with { hide_filter: true } %}
    {% endblock tabs %}

    {% block intro %}
        <div class="category-intro mt-5">
            {% block info %}
                {% include "@tariff/info-block.twig" with { text: text } %}
            {% endblock info %}
            <h2>{{ 'Best_phones_for_your_tariff'|trans('view') }}</h2>
        </div>
    {% endblock intro %}

    <span class="d-none" id="pagination-url" data-url="{{ url('/tariff/tariff/tariff', {id: tariff.id, paginate: true}) }}"></span>
    <div class="tariff-articles" data-tariff-id="{{ tariff.id }}">
        {% block articles %}
            {% include "@tariff/product-cards.twig" %}
        {% endblock articles %}
    </div>

    {% include "@pagination/load-more.twig" %}
{% endblock content %}
