{% set provider_img_src = tariff.provider.alt_image and tariff.show_alt_provider_img ?
    tariff.provider.alt_image|image('thumbnail') :
    tariff.provider.image|image('thumbnail')
%}

<div class="tariff-card card">
    {% if tariff.young_people %}
        <small class="tariff-youth">{{ 'Subs_Filter_Youth_Tariff'|trans('view') }}</small>
    {% endif %}

    <div class="card-block pb-0">
        <img class="img-fluid provider-logo card-title mb-4"
             src="{{ provider_img_src }}"
             title="{{ tariff.provider.title }}"
             alt="{{ tariff.provider.title }}">
        <h4 class="card-subtitle text-truncate{% if not tariff.contract_duration %} border-bottom pb-4 mb-4{% endif %}" title="{{ tariff.title }}">{{ tariff.title }}</h4>
        {% if tariff.contract_duration %}
            <div class="border-bottom pb-4 mb-4 text-muted">{{ '{months} Months'|trans('app', {months: tariff.contract_duration}) }}</div>
        {% endif %}
    </div>

    {% if tariff.highlights|length > 0 %}
        <div class="card-block pb-0">
            <div class="highlights pb-4 mb-4 border-bottom">
                {% include '@views/products/highlights.twig' with { highlights: tariff.highlights } only %}
            </div>
        </div>
    {% endif %}

    <div class="card-block pt-0">
        <div class="mb-3 price-row">
            <span class="subscriptionLabel">
                {{ 'Contract_Box_Price_Subscription_Monthly'|trans('view') }}
            </span>
            <span class="price price-md float-right">
                {{ tariff.price_monthly|price }}
            </span>
        </div>

        <a class="btn btn-danger btn-block"
           href="{{ url('/tariff/tariff/tariff', {
               id: tariff.id,
               providerTitle: tariff.provider.title|slugify,
               tariffTitle: tariff.title|slugify,
               mode: contract_mode
           }) }}">
            <span>{{ 'Choose_Tariff'|trans('product') }}</span>
            <span class="icon icon-angle-right"></span>
        </a>
    </div>
</div>
