{% if tariffs|length > 0 %}
    <div class="row">
        {% for tariff in tariffs %}
            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
                {% include "@tariff/tariff-card.twig" with { tariff: tariff } %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="hidden-md-down">{{ 'No_Filter_Result'|trans('view') }}</div>
{% endif %}
