{% extends '@page/support.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Canon_Reparaturannahme'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    <p><strong>{{ 'Page_Canon_Content'|trans('staticcontent') }}</strong></p>
    <p>
        <a href="{{ ('downloads/flyer/canon-' ~ app.language ~ '.pdf') | cdn }}" target="_blank">
            <img src="{{ asset('img/canon-' ~ app.language ~ '.jpg') }}"
                 alt="{{ 'Page_Tree_Canon_Reparaturannahme'|trans('staticcontent') }}" class="img-fluid">
        </a>
    </p>
    <p>
        <a href="{{ ('downloads/flyer/canon-' ~ app.language ~ '.pdf') | cdn }}" target="_blank">
            {{ 'Page_Canon_More_Info'|trans('staticcontent') }}
        </a>
    </p>
{% endblock %}
