{% extends '@page/support.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Datenschutz'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    {{ 'Page_Data_Protection_Html'|trans('staticcontent')|raw }}
{% endblock %}
