{% extends '@page/support.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Handyversicherung'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    <h2>{{ 'Page_Device_Insurance_Sub'|trans('staticcontent') }}</h2>
    {{ 'Page_Device_Insurance_Intro'|trans('staticcontent')|raw }}
    <table>
        <tr>
            <th>
                <p><img src="{{ asset('img/insurance/apple_care.png') }}" alt="AppleCare+ Logo"></p>
                <h3>AppleCare+</h3>
            </th>
            <th>
                <p><img src="{{ asset('img/insurance/protect_clever.png') }}" alt="Protect Clever Logo"></p>
                <h3>Protect Clever</h3>
            </th>
        </tr>
        <tr>
            <td>{{ 'Page_Device_Insurance_Apple'|trans('staticcontent') }}.</td>
            <td>{{ 'Page_Device_Insurance_Android'|trans('staticcontent') }}.</td>
        </tr>
        <tr>
            <td><strong>{{ 'Page_Device_Insurance_Damages'|trans('staticcontent') }}:</strong>
                <ul>
                    <li>{{ 'Page_Device_Insurance_Damages_Wet'|trans('staticcontent') }}</li>
                    <li>{{ 'Page_Device_Insurance_Damages_Water'|trans('staticcontent') }}</li>
                    <li>{{ 'Page_Device_Insurance_Damages_Display'|trans('staticcontent') }}</li>
                    <li>{{ 'Page_Device_Insurance_Damages_Fall'|trans('staticcontent') }}</li>
                </ul>
            </td>
            <td><strong>{{ 'Page_Device_Insurance_Damages'|trans('staticcontent') }}:</strong>
                <ul class="list-insurance">
                    <li>{{ 'Page_Device_Insurance_Damages_Wet'|trans('staticcontent') }}</li>
                    <li>{{ 'Page_Device_Insurance_Damages_Water'|trans('staticcontent') }}</li>
                    <li>{{ 'Page_Device_Insurance_Damages_Display'|trans('staticcontent') }}</li>
                    <li>{{ 'Page_Device_Insurance_Damages_Fall'|trans('staticcontent') }}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><strong>{{ 'Page_Device_Insurance_Price_Apple'|trans('staticcontent') }}</strong></td>
            <td><strong>{{ 'Page_Device_Insurance_Price_Android'|trans('staticcontent') }}</strong></td>
        </tr>
        <tr>
            <td>
                <a href="{{ ('downloads/flyer/AppleCare_' ~ app.language ~ '.pdf') | cdn }}" target="_blank">
                    {{ 'Page_Device_Insurance_Info_Label_Apple'|trans('staticcontent') }}
                </a>
            </td>
            <td>
                <a href="{{ ('downloads/flyer/Protect_Clever_' ~ app.language ~ '.pdf') | cdn }}" target="_blank">
                    {{ 'Page_Device_Insurance_Info_Label_Android'|trans('staticcontent') }}
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ 'Page_Device_Insurance_Contract_Link_Apple'|trans('staticcontent') }}" target="_blank">
                    {{ 'Page_Device_Insurance_Contract_Label'|trans('staticcontent') }}
                </a>
            </td>
            <td>
                <a href="{{ ('downloads/flyer/AVB_Protect_Clever_' ~ app.language ~ '.pdf') | cdn }}" target="_blank">
                    {{ 'Page_Device_Insurance_Contract_Label'|trans('staticcontent') }}
                </a>
            </td>
        </tr>
    </table>
    {{ 'Page_Device_Insurance_Outro'|trans('staticcontent')|raw }}
    <p><a href="{{ Url.to(['/page/support/terms'], true) }}">www.mobilezone.ch</a></p>
{% endblock %}
