{% extends '@page/support.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Imprint'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    {{ 'Page_Imprint_Html'|trans('staticcontent')|raw }}
{% endblock %}
