{% extends '@page/support.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Express_Reparatur'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    {{ 'Page_Repair_Content'|trans('staticcontent')|raw }}

    <div class="card product-card">
        <div class="card-block">
            <h3 class="mb-4">{{ 'Page_Repair_Card_Header'|trans('staticcontent') }}</h3>
            <div class="row mb-4">
                <div class="col-9">{{ 'Page_Repair_Card_Text'|trans('staticcontent') }}</div>
                <div class="col-3 text-danger text-right"><b>{{ 39|price }}</b></div>
            </div>
            <small>{{ 'Page_Repair_Card_Footer'|trans('staticcontent') }}</small>
        </div>
    </div>

    <h2>{{ 'Page_Express_Sub_Repair'|trans('staticcontent') }}</h2>
    <div class="list-group">
        {% include "@page/support/parts/shop-link.twig" with {
            shop_id: 98,
            shop_name: 'Einkaufszentrum Letzipark, Zürich',
        } %}
        {% include "@page/support/parts/shop-link.twig" with {
            shop_id: 107,
            shop_name: 'Einkaufszentrum Wankdorf, Bern',
        } %}
        {% include "@page/support/parts/shop-link.twig" with {
            shop_id: 77,
            shop_name: 'Einkaufszentrum Shopping Arena, St. Gallen',
        } %}
        {% include "@page/support/parts/shop-link.twig" with {
            shop_id: 8,
            shop_name: 'Einkaufszentrum St. Jakob Park, Basel',
        } %}
        {% include "@page/support/parts/shop-link.twig" with {
            shop_id: 30,
            shop_name: 'Einkaufszentrum Emmen-Center, Emmenbrücke',
        } %}
        {% include "@page/support/parts/shop-link.twig" with {
            shop_id: 92,
            shop_name: 'Shop Winterthur',
        } %}
        {% include "@page/support/parts/shop-link.twig" with {
            shop_id: 53,
            shop_name: 'Shop Lugano',
        } %}
    </div>
{% endblock %}
