{% extends '@page/support.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Service_Support'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    {{ 'Page_Service_Content'|trans('staticcontent')|raw }}
    <h2 class="mb-3">{{ 'Page_Service_Sub'|trans('staticcontent') }}</h2>
    <div class="row support-cards">
        {% include "@page/support/parts/support-card.twig" with {
            headline: 'SC_Head_1',
            content: 'SC_Body_1',
            price: 25,
        } %}
        {% include "@page/support/parts/support-card.twig" with {
            headline: 'SC_Head_2',
            content: 'SC_Body_2',
            price: 39,
        } %}
        {% include "@page/support/parts/support-card.twig" with {
            headline: 'SC_Head_3',
            content: 'SC_Body_3',
            price: 20,
        } %}
        {% include "@page/support/parts/support-card.twig" with {
            headline: 'SC_Head_4',
            content: 'SC_Body_4',
            price: 40,
        } %}
        {% include "@page/support/parts/support-card.twig" with {
            headline: 'SC_Head_5',
            content: 'SC_Body_5',
            price: 60,
        } %}
        {% include "@page/support/parts/support-card.twig" with {
            headline: 'SC_Head_6',
            content: 'SC_Body_6',
        } %}
        {% include "@page/support/parts/support-card.twig" with {
            headline: 'SC_Head_7',
            content: 'SC_Body_7',
            price: 39
        } %}
        {% include "@page/support/parts/support-card.twig" with {
            headline: 'SC_Head_8',
            content: 'SC_Body_8',
        } %}
    </div>
    {% include "@page/support/parts/shopfinder.twig" %}
{% endblock %}
