{% extends '@page/support.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Service_Garantie'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    <h2>{{ 'Page_Service_Garantie_Sub'|trans('staticcontent') }}</h2>
    {{ 'Page_Service_Garantie_Content'|trans('staticcontent')|raw }}
{% endblock %}