{% extends '@page/support.twig' %}

{% block static_headline %}
    {{ 'Page_Shipment_Headline'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    <h2>{{ 'Page_Shipment_Sub_Shipment'|trans('staticcontent') }}</h2>
    {{ 'Page_Shipment_Text_Shipment'|trans('staticcontent')|raw }}
    <h2>{{ 'Page_Shipment_Sub_Payment'|trans('staticcontent') }}</h2>
    {{ 'Page_Shipment_Text_Payment'|trans('staticcontent')|raw }}
{% endblock %}
