{% extends '@page/support.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Terms'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    {{ 'Page_Terms_Html'|trans('staticcontent')|raw }}
{% endblock %}
