<div class="external-links">
    <div class="row">
        <div class="col-md-6">
            <h2 class="hidden-sm-down">
                {{ 'Footer_Follow_Us'|trans('view') }}
            </h2>
            <ul class="list-unstyled">
                <li>
                    <a href="https://www.facebook.com/mobilezone.ch/" target="_blank">
                        <img class="img-fluid" src="{{ asset('img/footer/icon_social_fb.png') }}" alt="Facebook">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/mobilezone" target="_blank">
                        <img class="img-fluid" src="{{ asset('img/footer/icon_social_twitter.png') }}" alt="Twitter">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC1PhADPXDIxFo5NSXQ4vDlQ" target="_blank">
                        <img class="img-fluid" src="{{ asset('img/footer/icon_social_youtube.png') }}" alt="YouTube">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/mobilezone.ch/" target="_blank">
                        <img style="min-width: 45px;" class="img-fluid" src="{{ asset('img/footer/icon_social_insta.svg') }}" alt="Instagram">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>{{ 'Footer_Payment_Methods'|trans('view') }}</h2>
            <ul class="payment-methods list-unstyled">
                <li><img src="{{ asset('img/footer/rechnung.png') }}" alt="{{ 'payment-account-purchase-title'|trans('checkout') }}"></li>
                <li><img src="{{ asset('img/footer/vorauskasse.png') }}" alt="{{ 'payment-pre-payment-title'|trans('checkout') }}"></li>
                <li><img src="{{ asset('img/footer/visa.png') }}" alt="Visa"></li>
                <li><img src="{{ asset('img/footer/mastercard.png') }}" alt="MasterCard"></li>
                <li><img src="{{ asset('img/footer/post-finance.png') }}" alt="Post Finance"></li>
            </ul>
        </div>
    </div>
</div>
