<footer class="footer">
    {% include "@views/footer/external-links.twig" %}
    {% include "@views/footer/service-n-news.twig" %}
    {% include "@views/footer/internal-links.twig" %}
    {% include "@views/footer/b2b.twig" %}
    {% include "@views/footer/lang-switch.twig" %}
</footer>
