<div class="internal-links">
    <div class="row">
        <div class="col-md-3">
            <h2>{{ 'Footer_Shop'|trans('view') }}</h2>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ Url.to(['/category/category/smartphones'], true) }}">
                        {{ 'Navi_Mobilephone'|trans('view') }}
                    </a>
                </li>
                <li>
                    <a href="{{ Url.to(['/category/category/tablets'], true) }}">
                        {{ 'Navi_Tablets'|trans('view') }}
                    </a>
                </li>
                <li>
                    <a href="{{ Url.to(['/category/category/accessories'], true) }}">
                        {{ 'Navi_Accessories'|trans('view') }}
                    </a>
                </li>
                <li>
                    <a href="{{ Url.to(['/category/category/smartwatches'], true) }}">
                        {{ 'Navi_Smartwatches'|trans('view') }}
                    </a>
                </li>
                <li>
                    <a href="{{ Url.to(['/tv'], true) }}">
                        {{ 'Navi_TV'|trans('view') }}
                    </a>
                </li>
                <li>
                    <a href="{{ Url.to(['/category/category/specials'], true) }}">
                        {{ 'Navi_Specials'|trans('view') }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>{{ 'Footer_Service_And_Support'|trans('view') }}</h2>
            <ul class="list-unstyled">
                <li><a href="{{ Url.to(['/page/support/service-support'], true) }}">{{ 'Page_Tree_Service_Support'|trans('staticcontent') }}</a></li>
                <li><a href="{{ Url.to(['/page/support/terms'], true) }}">{{ 'Page_Tree_Terms'|trans('staticcontent') }}</a></li>
                <li><a href="{{ Url.to(['/page/support/shipment'], true) }}">{{ 'Page_Shipment_Headline'|trans('staticcontent') }}</a></li>
                <li><a href="{{ Url.to(['/page/support/data-protection'], true) }}">{{ 'Page_Tree_Datenschutz'|trans('staticcontent') }}</a></li>
                <li><a href="{{ Url.to(['/page/about/contact'], true) }}">{{ 'Page_Tree_Contact'|trans('staticcontent') }}</a></li>
                <li><a href="{{ Url.to(['/page/support/imprint'], true) }}">{{ 'Page_Tree_Imprint'|trans('staticcontent') }}</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>{{ 'Footer_About_Us'|trans('view') }}</h2>
            <ul class="list-unstyled">
                <li><a href="{{ Url.to(['/page/about/about-us'], true) }}">{{ 'Page_Tree_Company'|trans('staticcontent') }}</a></li>
                <li><a href="{{ Url.to(['/page/about/news'], true) }}">{{ 'Page_Tree_Media'|trans('staticcontent') }}</a></li>
                <li><a href="{{ Url.to(['/page/about/key-figures'], true) }}">{{ 'Page_Tree_Investors'|trans('staticcontent') }}</a></li>
                <li><a href="{{ Url.to(['/page/about/structure'], true) }}">{{ 'Page_Tree_Governance'|trans('staticcontent') }}</a></li>
                <li><a href="{{ Url.to(['/page/jobs/jobs'], true) }}">{{ 'Page_Jobs_Title'|trans('staticcontent') }}</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>{{ 'Footer_Partner_Websites'|trans('view') }}</h2>
            <ul class="list-unstyled">
                <li><a href="http://mobiletouch.ch" target="_blank">Mobiletouch {{ 'Switzerland'|trans('countries') }}</a></li>
                <li><a href="http://mobiletouch.at" target="_blank">Mobiletouch {{ 'Austria'|trans('countries') }}</a></li>
                <li><a href="http://Deinhandy.de" target="_blank">Deinhandy {{ 'Germany'|trans('countries') }}</a></li>
                <li><a href="http://Deinhandy.ch" target="_blank">Deinhandy {{ 'Switzerland'|trans('countries') }}</a></li>
                <li><a href="http://einsAmobile.de" target="_blank">einsAmobile</a></li>
                <li><a href="http://TalkTalk.ch" target="_blank">TalkTalk</a></li>
                <li><a href="https://www.tphcom.de/" target="_blank">TPHCom</a></li>
            </ul>
        </div>
    </div>
</div>
