<div class="lang-switch hidden-md-up">
    {% for language in Languages.languages %}
        <a href="{{ language.route }}" class="lang {% if language.active %}active{% endif %}">{{ language.name }}</a>
    {% endfor %}

    <span>
        <a href="{{ Url.to(['/customer-account'], true) }}" class="float-xs-right">{{ 'My_Account'|trans('view') }}</a>
    </span>
</div>
