<div class="service-n-news">
    <div class="row">
        <div class="col-md-6">
            <h2>{{ 'Footer_Satisfaction_And_Service'|trans('view') }}</h2>
            <ul class="list-service list-unstyled">
                <li>
                    <span class="icon icon-check"></span>
                    {{ 'Footer_Satisfaction_And_Service_Bullet_1'|trans('view') }}
                </li>
                <li>
                    <span class="icon icon-check"></span>
                    {{ 'Footer_Satisfaction_And_Service_Bullet_2'|trans('view') }}
                </li>
                <li>
                    <span class="icon icon-check"></span>
                    {{ 'Footer_Satisfaction_And_Service_Bullet_3'|trans('view') }}
                </li>
                <li>
                    <span class="icon icon-check"></span>
                    {{ 'Footer_Satisfaction_And_Service_Bullet_4'|trans('view') }}
                </li>
                <li>
                    <span class="icon icon-check"></span>
                    {{ 'Footer_Satisfaction_And_Service_Bullet_5'|trans('view') }}
                </li>
                <li>
                    <span class="icon icon-check"></span>
                    {{ 'Footer_Satisfaction_And_Service_Bullet_6'|trans('view') }}
                </li>
            </ul>
        </div>
        <div class="col-md-6">

            {% if GeneralNewsItems.items(count, lang)|length %}
            <h2>{{ 'Footer_General_Mobilezone_News'|trans('view') }}</h2>
            {% include '@views/news/generalnews.twig' with { count: 3 } %}
            {% endif %}
            <h2>{{ 'Footer_Mobilezone_News'|trans('view') }}</h2>
            {% include '@views/news/news.twig' with { count: 3 } %}
        </div>
    </div>
</div>
