{% extends '@page/annual-reports/layout/layout.twig' %}

{% set header_pic = 'compensation-report-2016.png' %}

{% block intro %}
    {% include '@page/annual-reports/parts/pdf-teaser.twig' with {
        subject: 'compensation-title',
        text: 'compensation-text',
        target_file_name: 'compensation-report-2016'
    } %}
{% endblock %}
