{% extends '@page/annual-reports/layout/layout.twig' %}

{% set header_pic = 'corporate-governance-2016.png' %}

{% block intro %}
    {% include '@page/annual-reports/parts/pdf-teaser.twig' with {
        subject: 'governance-title',
        text: 'governance-text',
        target_file_name: 'corporate-governance-report-2016'
    } %}
{% endblock %}
