{% extends '@page/annual-reports/layout/layout.twig' %}

{% set header_pic = 'highlights-2016.png' %}

{% block intro %}
    <h1 class="dotted">Highlights</h1>
    <h2 class="h1">{{ 'highlights-subtitle' | annualTrans(lang_key) }}</h2>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4 mt-5">

        </div>

        <div class="col-md-8">
            {% include '@page/annual-reports/parts/highlights.twig' with {
                month: 'month-april',
                headline: 'highlight1-title',
                text: 'highlight1-text'
            } %}

            {% include '@page/annual-reports/parts/highlights.twig' with {
                month: 'month-may',
                headline: 'highlight2-title',
                text: 'highlight2-text'
            } %}

            {% include '@page/annual-reports/parts/highlights.twig' with {
                month: 'month-june',
                headline: 'highlight3-title',
                text: 'highlight3-text'
            } %}

            {% include '@page/annual-reports/parts/highlights.twig' with {
                month: 'month-july',
                headline: 'highlight4-title',
                text: 'highlight4-text'
            } %}

            {% include '@page/annual-reports/parts/highlights.twig' with {
                month: 'month-november',
                headline: 'highlight5-title',
                text: 'highlight5-text'
            } %}

            {% include '@page/annual-reports/parts/highlights.twig' with {
                month: 'month-november',
                headline: 'highlight6-title',
                text: 'highlight6-text'
            } %}
        </div>
    </div>
{% endblock %}
