{% extends '@page/annual-reports/layout/layout.twig' %}

{% set header_pic = 'financial-report-2016.png' %}

{% block intro %}
    <h1 class="dotted">{{ 'kpi-title' | annualTrans(lang_key) }}</h1>
    <h2 class="h1">{{ 'kpi-text' | annualTrans(lang_key) }}</h2>
{% endblock %}

{% block main %}
    <div class="row justify-content-end">
        <div class="col-md-8">
            <h3 class="dotted">{{ 'kpi-shareprice' | annualTrans(lang_key) }}</h3>
            <img class="img-fluid" src="{{ asset('img/annual-reports/shareprice-chart.jpg') }}"
                 alt="{{ 'kpi-shareprice'|annualTrans(lang_key) }}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 push-md-4">
            <h3 class="dotted">{{ 'groupreport-subtitle' | annualTrans(lang_key) }}</h3>
            {% include '@page/about/parts/table-key-figures.twig' with { en: lang_key == 'en' } %}
        </div>

        <div class="col-md-4 pull-md-8 mt-5">
            {% include '@page/annual-reports/parts/stats.twig' with {
                headline: 'kpi-net-sales',
                number: '1 087.9',
            } %}

            {% include '@page/annual-reports/parts/stats.twig' with {
                headline: 'kpi-ebit',
                number: '48.5',
                percent: '4.5'
            } %}

            {% include '@page/annual-reports/parts/stats.twig' with {
                headline: 'kpi-ebitda',
                number: '36.1',
                percent: '3.3'
            } %}
        </div>
    </div>
{% endblock %}
