{% extends '@page/annual-reports/layout/layout.twig' %}

{% set header_pic = 'shareholder-letter-2016.png' %}

{% block intro %}
    <h1 class="dotted">{{ 'letter-title' | annualTrans(lang_key) }}</h1>
    <h2 class="h1">{{ 'letter-subtitle' | annualTrans(lang_key) }}</h2>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            <div class="mb-4">
                <img class="img-fluid" src="{{ asset('img/annual-reports/urs_shareholder-letter-2016.png') }}"
                     alt="Urs T. Fischer">

                <p>
                    Urs T. Fischer<br>
                    {{ 'letter-fischer-title' | annualTrans(lang_key) }}
                </p>
            </div>

            <div>
                <img class="img-fluid" src="{{ asset('img/annual-reports/markus_shareholder-letter-2016.png') }}"
                     alt="Markus Bernhard">

                <p>
                    Markus Bernhard<br>
                    Chief Executive Officer
                </p>
            </div>
        </div>

        <div class="col-md-8">
            <div class="letter">
                {{ 'letter-content' | annualTrans(lang_key)|raw }}
            </div>

            <div class="float-left mr-4">
                <img class="signature" src="{{ asset('img/annual-reports/signature_urs-fischer.png') }}"
                     alt="Urs T. Fischer">

                <p>
                    Urs T. Fischer<br>
                    {{ 'letter-fischer-title' | annualTrans(lang_key) }}
                </p>
            </div>

            <div class="float-left">
                <img class="signature" src="{{ asset('img/annual-reports/signature_markus-bernhard.png') }}"
                     alt="Markus Bernhard">

                <p>
                    Markus Bernhard<br>
                    Chief Executive Officer
                </p>
            </div>
        </div>
    </div>
{% endblock %}
