{% extends '@page/annual-reports/layout/layout.twig' %}

{% set header_pic = 'profile-2016.png' %}

{% block intro %}
    <h1 class="dotted">{{ 'profile-title' | annualTrans(lang_key) }}</h1>
    <h2 class="h1">{{ 'profile-subtitle' | annualTrans(lang_key) }}</h2>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" src="{{ asset('img/annual-reports/' ~ lang_key ~ '_structure-chart_profile-2016.png') }}"
                 alt="structure-chart_profile-2016">
        </div>

        <div class="col-md-8">
            <p>{{ 'profile-text' | annualTrans(lang_key) }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="dotted">{{ 'retail-subtitle' | annualTrans(lang_key) }}</h3>

            <strong>mobilezone</strong>
            <p>{{ 'retail-mz-text' | annualTrans(lang_key) }}</p>

            <strong>einsAmobile</strong>
            <p>{{ 'retail-eam-text' | annualTrans(lang_key) }}</p>

            <strong>mobilezone business</strong>
            <p>{{ 'retail-mzbiz-text' | annualTrans(lang_key) }}</p>
        </div>

        <div class="col-md-6">
            <h3 class="dotted">Service Providing</h3>

            <strong>TalkTalk</strong>
            <p>{{ 'service-talktalk-text' | annualTrans(lang_key) }}</p>

            <strong>mobiletouch</strong>
            <p>{{ 'service-mobiletouch-text' | annualTrans(lang_key) }}</p>
        </div>
    </div>
{% endblock %}
