{% extends '@page/annual-reports/layout/layout.twig' %}

{% block main %}
    <div class="row justify-content-end">
        <div class="col-md-8">
            <h1 class="my-5">
                <span class="year number-xxl">2016</span>
                <span class="font-weight-normal">{{ 'title' | annualTrans(lang_key) }}</span>
            </h1>

            {% include '@page/annual-reports/parts/teaser.twig' with {
                subject: 'profile-title',
                text: 'profile-teaser',
                target_file_name: 'portrait'
            } %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="dotted">{{ 'kpi-title'|annualTrans(lang_key) }}</h2>
        </div>

        <div class="col-md-8">
            {% include '@page/annual-reports/parts/stats.twig' with {
                headline: 'kpi-profit',
                number: '36.1',
                number_size: 'number-xxl',
                percent: '3.3'
            } %}

            <h3 class="h6">{{ 'kpi-shareprice'|annualTrans(lang_key) }}</h3>

            <img class="img-fluid" src="{{ asset('img/annual-reports/shareprice-chart.jpg') }}" alt="{{ 'kpi-shareprice'|annualTrans(lang_key) }}">
        </div>

        <div class="col-md-4">
            {% include '@page/annual-reports/parts/stats.twig' with {
                headline: 'kpi-net-sales',
                number: '1 087.9',
            } %}

            {% include '@page/annual-reports/parts/stats.twig' with {
                headline: 'kpi-ebit',
                number: '48.5',
                percent: '4.5'
            } %}

            {% include '@page/annual-reports/parts/stats.twig' with {
                headline: 'kpi-employees',
                number: '878',
            } %}

            {% include '@page/annual-reports/parts/stats.twig' with {
                headline: 'kpi-dividend',
                number: '0.60',
            } %}
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="col-md-8">
            {% include '@page/annual-reports/parts/teaser.twig' with {
                subject: 'letter-title',
                text: 'letter-teaser',
                target_file_name: 'letter-to-shareholders'
            } %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="dotted">Highlights</h2>
        </div>

        <div class="col-md-4">
            <img class="img-fluid" src="{{ asset('img/annual-reports/shop_start-2016.png') }}"
                 alt="{{ 'highlights-teaser' | annualTrans(lang_key) }}">
        </div>

        <div class="col-md-8">
            <p class="h1">{{ 'highlights-teaser' | annualTrans(lang_key) }}</p>

            <a class="btn btn-danger" href="{{ Url.to([ '/page/annual-report/highlights-' ~ lang_key ], true) }}">
                {{ 'read-more' | annualTrans(lang_key) }} <span class="icon icon-angle-right"></span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include '@page/annual-reports/parts/teaser.twig' with {
                subject: 'governance-title',
                text: 'governance-teaser',
                target_file_name: 'corporate-governance',
                text_size: 'h2',
            } %}
        </div>

        <div class="col-md-6">
            {% include '@page/annual-reports/parts/teaser.twig' with {
                subject: 'compensation-title',
                text: 'compensation-teaser',
                target_file_name: 'compensation-report',
                text_size: 'h2',
            } %}
        </div>

        <div class="col-md-6">
            {% include '@page/annual-reports/parts/teaser.twig' with {
                subject: 'financial-title',
                text: 'financial-teaser',
                target_file_name: 'financial-report',
                text_size: 'h2',
            } %}
        </div>
    </div>
{% endblock %}
