$primary-animation-speed: 1s;

.animate
{
  > .animate-scale
  {
    @media (min-width: map-get($grid-breakpoints, md)) {
      opacity: 0.3;
      transform: scale(0.95);
      transition: all $primary-animation-speed ease-in-out;
    }
  }

  &.visible
  {
    > .animate-scale
    {
      @media (min-width: map-get($grid-breakpoints, md)) {
        opacity: 1;
        transform: scale(1);
      }
    }
  }


  > .animate-translate-x-left
  {
    @media (min-width: map-get($grid-breakpoints, md)) {
      opacity: 0;
      transform: translateX(-30px);
      transition: all $primary-animation-speed ease-in-out;
    }
  }

  &.visible
  {
    > .animate-translate-x-left
    {
      @media (min-width: map-get($grid-breakpoints, md)) {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  > .animate-translate-x-right
  {
    @media (min-width: map-get($grid-breakpoints, md)) {

      opacity: 0;
      transform: translateX(30px);
      transition: all $primary-animation-speed ease-in-out;
    }

  }

  &.visible
  {

    > .animate-translate-x-right
    {
      @media (min-width: map-get($grid-breakpoints, md)) {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  > .animate-opacity
  {
    @media (min-width: map-get($grid-breakpoints, md)) {
      opacity: 0;
      transition: all $primary-animation-speed ease-in-out;
    }

  }

  &.visible
  {

    > .animate-opacity
    {
      @media (min-width: map-get($grid-breakpoints, md)) {
        opacity: 1;
      }
    }
  }



}