{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="page page-about">
        <div class="row">
            <div class="col-lg-8 push-lg-4">
                {% set static_headline %}{% block static_headline %}{% endblock%}{% endset %}

                {% if static_headline|length > 0 %}
                    <h1>{{ static_headline }}</h1>
                {% endif %}

                {% block static_content %}

                {% endblock %}
            </div>

            {% include "@page/about/parts/aside.twig" %}
        </div>
    </div>
{% endblock %}