{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="page page-tv">
        <h1>{{ 'Page_Tv_Title'|trans('staticcontent') }}</h1>
        <div class="row mb-4">
            <div class="col-lg-6">
                {% include '@views/marketing/marketing-image.twig' with {
                    item_tag: 'contract-configurator',
                    item_name: 'Contract Configurator',
                    item_position: 'TV Page Left',
                } %}
            </div>

            <div class="col-lg-6">
                <a href="{{ ('downloads/tv/TV-' ~ app.language ~ '.pdf')|cdn }}" target="_blank">
                    <img src="{{ ('images/tv/banner_tv_tarif_' ~ app.language ~ '.jpg')|cdn }}"
                         alt="Banner TV Tarif" class="img-fluid">
                </a>
            </div>
        </div>

        {% set text = 'Page_TV_Contact'|trans('staticcontent') %}
        {% if text != 'Page_TV_Contact' %}
            <p class="my-4">{{ text|raw }}</p>
        {% endif %}

        <p class="card">
            {% include '@views/marketing/marketing-image.twig' with {
                item_tag: 'tv-banner-1',
                item_name: 'TV Banner 1',
                item_position: 'TV Page Bottom First',
            } %}
        </p>

        <p class="card">
            {% include '@views/marketing/marketing-image.twig' with {
                item_tag: 'tv-banner-2',
                item_name: 'TV Banner 2',
                item_position: 'TV Page Bottom Middle',
            } %}
        </p>

        <p class="card">
            {% include '@views/marketing/marketing-image.twig' with {
                item_tag: 'tv-banner-3',
                item_name: 'TV Banner 3',
                item_position: 'TV Page Bottom Last',
            } %}
        </p>
    </div>
{% endblock %}
