<div class="row mt-5 text-center">
    <div class="col col-sm-4 mb-5">
        <h4>Liken Sie uns auf Facebook!</h4>
        <p>Wir informieren Sie gerne über Neuigkeiten und Gewinnspiele.</p>
        <a class="btn btn-outline-danger" href="https://www.facebook.com/mobilezone.ch" target="_blank">Zu Facebook</a>
    </div>

    <div class="col-sm-4 mb-5">
        <h4>mobilezone-Shop in Ihrer Nähe</h4>
        <p>Entdecken Sie mehr in Ihrem nächsten mobilezone-Shop.</p>
        <a class="btn btn-outline-danger" href="https://www.mobilezone.ch/filialsuche">Shop finden</a>
    </div>

    <div class="col-sm-4 mb-5">
        <h4>Kontaktieren Sie uns</h4>
        <p>Unser Kundendienst steht Ihnen f&uuml;r Fragen gerne zur Verf&uuml;gung.</p>
        <a class="btn btn-outline-danger" href="https://www.mobilezone.ch/ueber-uns/kontakt">Kontakt aufnehmen</a>
    </div>
</div>