<div class="row mt-5 text-center">
    <div class="col col-sm-4 mb-5">
        <h4>Mettete un «Mi piace» sul nostro Facebook!</h4>
        <p>Sarà per noi un piacere informarvi sulle novità e sui giochi a premi.</p>
        <a class="btn btn-outline-danger" href="https://www.facebook.com/mobilezone.ch" target="_blank">Vai a Facebook</a>
    </div>

    <div class="col-sm-4 mb-5">
        <h4>Shop mobilezone nelle vostre vicinanze</h4>
        <p>Scoprite di più sullo shop mobilezone più vicino a voi.</p>
        <a class="btn btn-outline-danger" href="https://it.mobilezone.ch/pronta-negozi">Trova shop</a>
    </div>

    <div class="col-sm-4 mb-5">
        <h4>Contattateci</h4>
        <p>Il nostro servizio clienti è a vostra disposizione. </p>
        <a class="btn btn-outline-danger" href="https://it.mobilezone.ch/chi-siamo/contatto">Contattare</a>
    </div>
</div>