<div class="row mt-5 text-center">
    <div class="col col-sm-4 mb-5">
        <h4>Likez-nous sur Facebook!</h4>
        <p>Nous vous tiendrons informés des nouveautés et jeux-concours.</p>
        <a class="btn btn-outline-danger" href="https://www.facebook.com/mobilezone.ch" target="_blank">Accéder à Facebook</a>
    </div>

    <div class="col-sm-4 mb-5">
        <h4>Shop mobilezone près de chez vous</h4>
        <p>Pour en savoir plus, rendez-vous dans votre shop mobilezone.</p>
        <a class="btn btn-outline-danger" href="https://fr.mobilezone.ch/rechercher-magasin">Trouver un shop</a>
    </div>

    <div class="col-sm-4 mb-5">
        <h4>Contactez-nous</h4>
        <p>Notre service clients se tient à votre disposition pour répondre à vos questions. </p>
        <a class="btn btn-outline-danger" href="https://fr.mobilezone.ch/portrait/contact">Prendre contact</a>
    </div>
</div>
