{% include '@checkout/steps/items/prices/article.twig' with {
    item: item.article,
    insurance_item: item,
    prices: {
        monthly: item.price_article_monthly,
        once: item.price_article_once
    }
} %}

{% include '@checkout/steps/items/prices/tariff.twig' with {
    item: item.tariff,
    prices: {
        monthly: item.price_tariff_monthly,
        once: item.price_tariff_once
    }|merge(item.sim_card ? {once: 0} : {}),
} %}

{% if item.sim_card %}
    {% include '@checkout/steps/items/prices/sim_card.twig' with {
        item: item.sim_card
    } %}
{% endif %}
