{% import "@views/common/utils.twig" as utils %}

{% if not monthly|default(false) %}
    <tr>
        <td>{{ item.code }}</td>
        <td class="text-right">
            <span class="text-success">
                {{ utils.price(-1 * item.discount_device_price) }}
            </span>
        </td>
    </tr>
{% endif %}
