{% import "@views/common/utils.twig" as utils %}
{% set prices = prices|default(item.prices) %}
{% set price =  monthly|default(false) ? prices.monthly : prices.once %}

{% if price > 0 %}
    <tr>
        <td>{{ item.product_name }}</td>
        <td class="text-right">{{ utils.price(price) }}</td>
    </tr>
    {% set insurance_item = insurance_item|default(item) %}
    {% if insurance_item.has_insurance %}
        <tr>
            <td>{{ insurance_item.current_insurance.product_name }}</td>
            <td class="text-right">{{ utils.price(insurance_item.current_insurance.prices.once) }}</td>
        </tr>
    {% endif %}
{% endif %}
