{% import "@views/common/utils.twig" as utils %}
{% set prices = prices|default(item.prices) %}
{% set price =  monthly|default(false) ? prices.monthly : prices.once %}

{% if price > 0 %}
    <tr>
        <td>
            <img class="product-brand-image"
                 src="{{ item.provider.image|image('thumbnail') }}"
                 alt="{{ item.provider.title }}">

            <h4>{{ item.title }}</h4>
            <p>
                <strong>{{ 'Contract_Duration'|trans('checkout') }}:</strong>
                {{ '{months} months'|trans('app', {months: item.contract_duration}) }}
            </p>
        </td>
        <td class="text-right">
            {{ utils.price(price) }}
        </td>
    </tr>
{% endif %}
