.table {
  thead,
  tfoot {
    tr {
      background-color: $gray-lightest;

      > td,
      > th {
        border-color: $gray-lightest;
      }

      > th {
        font-weight: normal;
      }
    }
  }

  tbody {
    tr {
      td {
        border-color: $gray-lightest;
      }
    }
  }

  tr.highlight {
    background-color: $brand-primary;
    color: $brand-info;

    > td {
      border-color: $brand-primary;
    }
  }

  // table with a light header
  &.table-light {
    thead {
      tr {
        background-color: transparent;

        th {
          font-weight: bold;
        }
      }
    }
  }

  // table without any padding on the first and last column
  &.table-aligned {
    tr {
      th,
      td {
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          width: 1%;
          padding-right: 0;
        }
      }
    }
  }
}
