{% embed '@views/components/card.twig' %}
    {% block header %}
        {{ 'Payment_Heading'|trans }}
    {% endblock %}
    {% block body %}

        {% set model = active_step.data.payment %}

        <div id="form-group paymentmodel-type">
            <div class="custom-controls-stacked">
                {% for type, type_label in model.types if (type != 'no-payment-required') %}
                    {% set label %}
                        {{ type_label|trans }}<br>
                        {% if constant('app\\models\\PaymentModel::TYPE_BILL') == type %}
                            <small>{{ 'Payment_Bill_Comment'|trans }}</small>

                            <div class="form-inline hidden-xs-up">
                                {{ form.field(model, 'birthday').size('lg').date({'readonly' : 'readonly'})|raw }}
                            </div>
                        {% endif %}


                        {% if constant('app\\models\\PaymentModel::PREPAYMENT') == type %}
                            <small>{{ 'Payment_Prepayment_Comment'|trans('view') }}</small>
                        {% endif %}

                    {% endset %}

                    {{ Html.radio({
                        size: 'lg',
                        label: label,
                        attrs: {
                            name: model.formName() ~ '[type]',
                            value: type,
                            checked: (model.type == type)
                        }
                    })|raw }}
                {% endfor %}
            </div>
        </div>

    {% endblock %}
{% endembed %}
