$scroll-bar-height: 10px;
$scroll-bar-border-radius: 7px;
$scroll-bar-background-color: $gray-lightest;
$scroll-bar-dragger-color: $brand-danger;

.jspTrack {
  border-radius: $scroll-bar-border-radius;
  background: $scroll-bar-background-color;
}

.jspDrag {
  border-radius: $scroll-bar-border-radius;
  background: $scroll-bar-dragger-color;
}

.jspHorizontalBar {
  height: $scroll-bar-height;
  background: none;
}

.scroll-pane {
  outline: none;
}

// TODO: find better way to fix it?!
// Firefox Fix
.jspVerticalBar {
  display: none;
}

.jspPane {
  top: 0 !important;
}
