$range-track-height: 8px;
$range-border-radius: 10px;
$range-grip-size: 18px;
$range-grip-center-size: 4px;
$range-grip-main-color: $brand-danger;
$range-grip-secondary-color: $brand-info;
$range-label-font-size: $font-size-base;
$range-grip-color: #f00;
$range-grip-color-gradient: #d60000;

.range {
  margin-bottom: $spacer-y;

  &.disabled {
    cursor: not-allowed;
    opacity: .5;

    .range-bar {
      display: none;
    }

    // position grip in the middle of the slider
    .range-grip {
      left: 50% !important;
    }

    // display overlaying element which prevents the user from using the slider
    &::before {
      content: ' ';
      position: absolute;
      height: $range-grip-size;
      width: 100%;
      margin-top: -($range-grip-size - $range-track-height) / 2;
      z-index: 100;
    }
  }

  .nstSlider {
    position: relative;
    background-color: $gray-lighter;
    height: $range-track-height;
    box-shadow: inset 0 3px 5px 0 transparentize($gray, .5);

    border-radius: $range-border-radius;
    margin: {
      top: ($range-grip-size - $range-track-height) / 2;
      bottom: ($range-grip-size - $range-track-height) / 2;
    };
    cursor: pointer;
  }

  .range-bar {
    position: absolute;
    background-color: $range-grip-color;
    height: $range-track-height;
    border-radius: $range-border-radius;
    box-shadow: inset 0 3px 5px 0 transparentize($gray, .5);
  }

  // display labels for currently selected values
  .range-display {
    @include clearfix;

    .range-display-left,
    .range-display-right {
      font-size: $range-label-font-size;
    }

    .range-display-left {
      float: left;
    }

    .range-display-right {
      float: right;
    }
  }

  // round buttons you can drag around
  .range-grip {
    @include gradient-directional($range-grip-color, $range-grip-color-gradient, 180deg);

    background-color: $range-grip-color;
    position: relative;
    text-align: center;
    width: $range-grip-size;
    height: $range-grip-size;
    border-radius: $range-grip-size / 2;
    top: -($range-grip-size - $range-track-height) / 2;

    + .range-grip {
      top: -$range-grip-size - ($range-grip-size - $range-track-height) / 2;
    }

    // small circle in middle of the slider grip
    &::before {
      top: 50%;
      left: 50%;
      position: absolute;
      display: inline-block;
      content: ' ';
      height: $range-grip-center-size;
      width: $range-grip-center-size;
      margin: -($range-grip-center-size/2) 0 -($range-grip-center-size/2);
      border-radius: $range-grip-center-size / 2;
      background-color: $range-grip-secondary-color;
    }
  }
}
