{% extends "@views/layouts/base.twig" %}

{% block content %}
    <h1>{{ 'Page_CC_Success_Title'|trans('staticcontent') }}</h1>
    {{ 'Page_CC_Success_Message'|trans('staticcontent')|raw }}
{% endblock %}
