{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="page page-contract-configurator">
        <h1 class="mb-4">{{ 'Page_CC_Title'|trans('staticcontent') }}</h1>

        <div class="bg-faded p-4">
            <h2 class="text-center">{{ 'Page_CC_Subtitle'|trans('staticcontent') }}</h2>
            <p class="text-center">{{ 'Page_CC_Teaser'|trans('staticcontent')|raw }}</p>
            <p class="text-center">
                <a href="{{ ('downloads/tv/TV-' ~ app.language ~ '.pdf') | cdn }}" target="_blank" class="text-danger">
                    <span class="icon icon-contract"></span>
                    {{ 'Tariff Set'|trans('app') }}
                </a>
            </p>

            {% set form = form_begin(
                {
                    id: 'contract-configurator',
                    method: 'POST',
                    action: Url.to(['/page/tv/contract-configurator'], true)
                }
            ) %}
                <div class="survey">
                    <div class="trigger-wrapper">
                        <h3>{{ 'Navi_Support'|trans('view') }}</h3>
                        <fieldset class="form-group">
                            <h4>{{ 'Page_CC_Service_Question'|trans('staticcontent') }}</h4>
                            {{ form.field(model, 'service').inline().checkboxList(model.allServices)|raw }}
                        </fieldset>
                    </div>

                    <div class="target-wrapper" data-toggle="Digital TV">
                        <h3>{{ 'Page_CC_TV_Title'|trans('staticcontent') }}</h3>
                        <fieldset class="form-group">
                            <h4>{{ 'Page_CC_TV_Question'|trans('staticcontent') }}</h4>
                            {{ form.field(model, 'tv').inline().radioList(model.allTvs)|raw }}
                        </fieldset>
                    </div>

                    <div class="target-wrapper" data-toggle="Internet">
                        <h3>{{ 'Page_CC_Internet_Title'|trans('staticcontent') }}</h3>
                        <fieldset class="form-group">
                            <h4>{{ 'Page_CC_Internet_Question'|trans('staticcontent') }}</h4>
                            {{ form.field(model, 'internet').inline().checkboxList(model.allInternet)|raw }}
                        </fieldset>
                    </div>

                    <div class="target-wrapper" data-toggle="Festnetz">
                        <h3>{{ 'Page_CC_Land_Line_Title'|trans('staticcontent') }}</h3>
                        <fieldset class="form-group">
                            <h4>{{ 'Page_CC_Land_Line_Question'|trans('staticcontent') }}</h4>
                            {{ form.field(model, 'land_line').inline().radioList(model.allLandLine)|raw }}
                        </fieldset>
                    </div>

                    <h3>{{ 'Page_CC_Mobile_Title'|trans('staticcontent') }}</h3>
                    <fieldset class="form-group">
                        <h4>{{ 'Page_CC_Mobile_Question'|trans('staticcontent') }}</h4>
                        {{ form.field(model, 'mobile').inline().radioList(model.allMobile)|raw }}
                    </fieldset>

                    <h3>{{ 'Page_CC_Provider_Title'|trans('staticcontent') }}</h3>
                    <fieldset class="form-group">
                        <h4>{{ 'Page_CC_Provider_Question'|trans('staticcontent') }}</h4>
                        <div class="trigger-wrapper">
                            {{ form.field(model, 'provider').inline().checkboxList(model.allProvider)|raw }}
                        </div>
                        <div class="target-wrapper" data-toggle="Digital TV laufend">
                            {{ form.field(model, 'tv_provider').providerDropDown('Page_CC_TV_Provider'|trans('staticcontent')).labelAsPrompt|raw }}
                        </div>
                        <div class="target-wrapper" data-toggle="Internet laufend">
                            {{ form.field(model, 'internet_provider').providerDropDown('Page_CC_Internet_Provider'|trans('staticcontent')).labelAsPrompt|raw }}
                        </div>
                        <div class="target-wrapper" data-toggle="Festnetz laufend">
                            {{ form.field(model, 'land_line_provider').providerDropDown('Page_CC_Land_Line_Provider'|trans('staticcontent')).labelAsPrompt|raw }}
                        </div>
                        <div class="target-wrapper" data-toggle="Kombie laufend">
                            {{ form.field(model, 'kombi_provider').providerDropDown('Page_CC_Kombi_Provider'|trans('staticcontent')).labelAsPrompt|raw }}
                        </div>
                    </fieldset>
                </div>

                <div class="contact">
                    {% include '@views/forms/base-contact-form.twig' with { birthday: true } %}

                    <fieldset class="form-group">
                        <h4>{{ 'Page_CC_Get_In_Touch_Title'|trans('staticcontent') }}</h4>
                        {{ form.field(model, 'get_in_touch_type').dropDownList(model.allGetInTouchTypes).labelAsPrompt|raw }}
                        {{ form.field(model, 'shop').shopDropDown('Page_CC_Shop_Question'|trans('staticcontent')).labelAsPrompt|raw }}
                        {{ form.field(model, 'remarks').textarea()|raw }}
                    </fieldset>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-danger">
                        {{ 'Page_CC_Button_Submit'|trans('staticcontent') }}
                    </button>
                </div>
            {{ form_end() }}
        </div>
    </div>
{% endblock %}
