

{% include '@checkout/steps/items/extended/article.twig' with {
    item: item.article,
    insurance_item: item,
    prices: {
        monthly: item.price_article_monthly,
        once: item.price_article_once
    },
    item_identifier: item.identifier
} %}

{% include '@checkout/steps/items/extended/tariff.twig' with {
    item: item.tariff,
    prices: {
        monthly: item.price_tariff_monthly,
        once: item.price_tariff_once
    }|merge(item.sim_card ? {once: 0} : {}),
    item_identifier: item.identifier
} %}

{% if item.sim_card %}
    {% include '@checkout/steps/items/extended/sim_card.twig' with {
        item: item.sim_card
    } %}
{% endif %}
