<tr>
    <td><h2 class="item-title">{{ 'Coupon'|trans('checkout') }} ({{ item.code }})</h2></td>
    {% if item.validate_code %}
    <td class="hidden-md-down text-center"></td>
    <td class="hidden-md-down text-center">{{ utils.price(-1 * item.discount_device_price, 'lg') }}</td>
    {% else %}
    <td class="text-center" colspan="2">
        <div class="alert alert-warning">{{ 'Invalid_Coupon'|trans('checkout') }}</div>
    </td>
    {% endif %}
</tr>
