{% if interactive %}
    <tr class="form-insurance highlight" data-article-id="{{ article.identifier }}">
        <td>
            <h2 class="item-title">
                {{ 'Your_Insurance_Of'|trans('checkout') }}
                <img src="{{ article.insurances.first.manufacturer.insurance_image|image('default')|default(asset('/img/no_image_big.png')) }}"
                     alt="{{ article.insurances.first.product_name }}">
            </h2>
            <h3>
                {% set voiding_suffix = article.insurances|length > 1 ? '-voided' %}
                {{ Html.checkbox({
                    size: 'lg',
                    label: article.insurances.first.product_name,
                    attrs: {
                        name: 'insurance-for-' ~ article.id ~ '-' ~ insurance_count ~ voiding_suffix,
                        class: 'insurance-active',
                        value: article.insurances.first.id,
                        checked: article.has_insurance,
                        'data-price': article.insurances.first.prices.once|price,
                        'data-price-empty': 0|price
                    }
                })|raw }}
            </h3>
            <div>
                {% if article.insurances|length > 1 %}
                    <div class="custom-controls-inline mt-1">
                        {% for insurance in article.insurances %}
                            {% set is_checked =
                                article.has_insurance and insurance.id == article.current_insurance.id or
                                not article.has_insurance and insurance.id == article.insurances.first.id
                            %}
                            {{ Html.radio({
                                size: 'lg',
                                label: 'Insurance_Duration_{months}'|trans('checkout', {months: insurance.insurance_duration}),
                                attrs: {
                                    name: 'insurance-for-' ~ article.id ~ '-' ~ insurance_count,
                                    value: insurance.id,
                                    class: 'insurance-options',
                                    'data-price': insurance.prices.once|price,
                                    checked: is_checked,
                                    disabled: not article.has_insurance
                                }
                            })|raw }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="toggle-information mt-1">
                <span class="icon icon-info"></span>
                <a class="collapsed" data-toggle="collapse" href="#moreInsuranceInformationFor{{ article.id }}" aria-expanded="false" aria-controls="moreInsuranceInformationFor{{ article.id }}" role="tab">
                    <span class="more-info">{{ 'More_Info'|trans('view') }}</span>
                    <span class="less-info">{{ 'Less_Info'|trans('view') }}</span>
                    <span class="icon icon-angle-down"></span>
                </a>
            </div>
        </td>
        <td class="hidden-md-down price-monthly">
            {% if article.insurances|length > 0 %}
                {% for insurance in article.insurances %}
                    {% include '@views/products/highlights.twig' with {
                        id: insurance.id,
                        highlights: insurance.highlights,
                        type: 'info'
                    } only %}
                {% endfor %}
            {% endif %}
        </td>
        <td class="insurance-price hidden-md-down text-center price-once">
            {{ utils.price(article.has_insurance ? article.current_insurance.prices.once : 0, 'lg') }}
        </td>
    </tr>
    {% if article.insurances|length > 0 %}
        <tr id="moreInsuranceInformationFor{{ article.id }}" class="collapse highlight more-insurance-information" role="tabpanel" aria-expanded="false">
            <td colspan="3">
                <div class="info-separator"></div>
                <div>
                    {% for insurance in article.insurances %}
                        <div id="additionalInformationFor{{ insurance.id }}" class="additional-insurance-information">
                            {{ insurance.additional_information|raw }}
                        </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
    {% endif %}
{% elseif article.has_insurance %}
    <tr class="highlight">
        <td>
            <h2>
                {{ 'Your_Insurance_Of'|trans('checkout') }}
                <img src="{{ article.insurances.first.manufacturer.insurance_image|image('default')|default(asset('/img/no_image_big.png')) }}"
                     alt="{{ article.insurances.first.product_name }}">
            </h2>
            <h3>{{ article.current_insurance.product_name }}</h3>
        </td>
        <td class="hidden-md-down"></td>
        <td class="hidden-md-down text-center">
            {{ utils.price(article.current_insurance.prices.once, 'lg') }}
        </td>
    </tr>
{% endif %}
