{% set prices = prices|default(item.prices) %}

<tr class="sim-card-row">
    <td>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="item-title">{{ item.product_name }}</h2>
                <div class="checkout-hint">{{ item.checkout_hint }}</div>
            </div>
        </div>
    </td>
    <td class="text-center hidden-md-down price-monthly">
        {{ utils.price(prices.monthly, 'lg') }}
    </td>
    <td class="text-center hidden-md-down price-once">
        {{ utils.price(prices.once, 'lg') }}
    </td>
</tr>
