{% set interactive = interactive|default(false) %}
{% set prices = prices|default(item.prices) %}

{% set provider_img_src = item.provider.alt_image and item.show_alt_provider_img ?
    item.provider.alt_image|image('thumbnail') :
    item.provider.image|image('thumbnail')
%}

<tr class="tariff-row">
    <td>
        <div class="row">
            <div class="col-lg-6">
                <img class="product-brand-image"
                     src="{{ provider_img_src }}"
                     alt="{{ item.provider.title }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2 class="item-title">{{ item.title }}</h2>

                {% if item.description is not empty %}
                    <p>{{ item.description }}</p>
                {% endif %}

                <p>{{ 'Contract duration: {months} months'|trans('checkout', {months: item.contract_duration}) }}</p>

                {% if interactive %}
                    <a href="{{ Url.to('/checkout/cart/remove/' ~ item_identifier|default(item.identifier)) }}">
                        <span class="icon icon-sm icon-cancel"></span>
                        {{ 'Remove article'|trans('checkout') }}
                    </a>
                {% endif %}
            </div>
            <div class="col-lg-6 hidden-md-down">
                {% include '@views/products/highlights.twig' with {highlights: item.highlights} only %}
            </div>
        </div>
    </td>
    <td class="text-center hidden-md-down price-monthly">
        {{ utils.price(prices.monthly, 'lg') }}
    </td>
    <td class="text-center hidden-md-down price-once">
        {{ utils.price(prices.once, 'lg') }}
    </td>
</tr>
