{% set category = item.product_category_frontend_route_name ~ '#' ~ item.product_category.type %}

{
    'id': '{{ item.id ~ '_' ~ category }}',
    'name': '{{ item.product_name }}',
    'price': '{{ item.prices.once }}',
    'brand': '{{ item.manufacturer.title }}',
    'category': '{{ category }}',
    'variant': '{{ item.color ~ (item.memory ? ' ' ~ item.memory|unit('GB') : '') }}',
    'quantity': 1
},
