{% for item in items %}
    {% if item.itemType == 'article_tariff' %}
        {% set category = item.article.product_category_frontend_route_name ~ '#' ~ item.article.product_category.type %}
        {% set article_monthly_price = item.prices.article.monthly ? (item.prices.article.monthly * item.tariff.contract_duration) : 0 %}
        {% set article_price = item.prices.article.once + article_monthly_price %}
        {% set tariff_price = item.prices.tariff.monthly * item.tariff.contract_duration %}

        {
            'id': '{{ item.article.id ~ '_' ~ category }}',
            'name': '{{ item.article.product_name }}',
            'price': '{{ article_price }}',
            'brand': '{{ item.article.manufacturer_title }}',
            'category': '{{ category }}',
            'variant': '{{ item.article.color ~ (item.article.memory ? ' ' ~ item.article.memory|unit('GB') : '') }}',
            'quantity': 1
        },
        {
            'id': '{{ item.tariff.id ~ '_Tarif#Tarif' }}',
            'name': '{{ item.tariff.title }}',
            'price': '{{ tariff_price }}',
            'brand': '{{ item.tariff.provider.title }}',
            'category': 'Tarif#Tarif',
            'quantity': 1
        },
    {% elseif item.discount_device_price %}
        {
            'id': '{{ item.id ~ '_voucher' }}',
            'name': '{{ item.code }}',
            'price': '{{ item.discount_device_price }}',
            'category': 'voucher',
            'quantity': 1
        },
    {% else %}
        {% include '@views/marketing/products/base-item.twig' %}
    {% endif %}
{% endfor %}
