{% for item in items %}
    {% if item.item_product_type_id == 'tariff' %}
        {% set article = item.tariff %}
        {% set category = 'Tarif#Tarif' %}
        {% set price = item.prices.monthly * item.tariff.contract_duration %}
        {% set brand = article.provider.title %}
    {% elseif item.item_product_type_id == 'coupon' %}
        {% set category = 'voucher' %}
        {% set price = item.prices.once %}
        {% set brand = '' %}
    {% elseif item.item_product_type_id == 'article' %}
        {% set article = item.article %}
        {% set category = article.product_category_frontend_route_name ~ '#' ~ article.product_category.type %}
        {% set price = item.prices.monthly ? (item.prices.once + (item.prices.monthly * contract_duration )) : item.prices.once %}
        {% set brand = article.manufacturer_title %}
    {% elseif item.item_product_type_id == 'accessories' %}
        {% set category = 'accessories' %}
        {% set price = item.prices.once %}
        {% set brand = article.manufacturer_title %}
    {% endif %}

    {
        'id': '{{ item.item_id ~ '_' ~ category }}',
        'name': '{{ item.title }}',
        'price': '{{ price }}',
        'brand': '{{ brand }}',
        'category': '{{ category }}',
        'variant': '{{ item.article.color ~ (item.article.memory ? ' ' ~ item.article.memory|unit('GB') : '') }}',
        'quantity': 1
    },
{% endfor %}
