{% if item.provider %}
    {
        'id': '{{ item.id ~ '_Tarif#Tarif' }}',
        'name': '{{ item.title }}',
        'price': '{{ item.prices.monthly * item.contract_duration }}',
        'brand': '{{ item.provider.title }}',
        'category': 'Tarif#Tarif',
        'quantity': 1
    },
{% else %}
    {% include '@views/marketing/products/base-item.twig' %}
{% endif %}
