<div class="grouped-infos">
    <div class="row">
        {% for item in article.articleDetails %}
            <div class="col-md-4 group">
                <h3>{{ item.group.title | trans('article_details') }}</h3>
                {% for item in item.items %}
                    {% if item.detail_id is not empty %}
                        <dl>
                            {% set detail = 'Detail ' ~ item.detail_id %}
                            <dt>{{ detail | trans('app') }}</dt>
                            <dd>
                                {% if item.value is same as(false) %}
                                    <span class="icon icon-cancel"></span>
                                {% elseif item.value is same as(true) %}
                                    <span class="icon icon-check"></span>
                                {% else %}
                                    {{ item.value|unit(item.unit) }}
                                {% endif %}
                            </dd>
                        </dl>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
