<div class="top-infos">
    <div class="row">
        <div class="col-md-4">
            <div class="clearfix">
                <span class="icon icon-cpu"></span>
                <h3>{{ 'Processor' | trans('article_details') }}</h3>
                <span>{{ article.articleDetails[2].items[3].value }}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="clearfix">
                <span class="icon icon-camera"></span>
                <h3>{{ 'Camera' | trans('article_details') }}</h3>
                <span>
                    {{ article.articleDetails[4].items[1].value }}
                    {{ article.articleDetails[4].items[1].unit }},

                    {{ article.articleDetails[4].items[1].value }}
                    x
                    {{ article.articleDetails[4].items[2].value }}
                    {{ article.articleDetails[4].items[2].unit }}
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="clearfix">
                <span class="icon icon-dimensions"></span>
                <h3>{{ 'Dimensions' | trans('article_details') }}</h3>
                <span>
                    {{ article.articleDetails[0].items[0].value }}
                    x
                    {{ article.articleDetails[0].items[1].value }}
                    x
                    {{ article.articleDetails[0].items[2].value }}
                    {{ article.articleDetails[0].items[0].unit }}
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="clearfix">
                <span class="icon icon-display"></span>
                <h3>{{ 'Display Size' | trans('article_details') }}</h3>
                <span>
                    {{ article.articleDetails[1].items[1].value }}
                    cm,

                    {{ article.articleDetails[1].items[2].value }},
                    Zoll
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="clearfix">
                <span class="icon icon-battery"></span>
                <h3>{{ 'Battery' | trans('article_details') }}</h3>
                <span>
                    {{ article.articleDetails[3].items[0].value }},

                    {{ article.articleDetails[3].items[1].value }}
                    {{ article.articleDetails[3].items[1].unit }}
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="clearfix">
                <span class="icon icon-memory"></span>
                <h3>{{ 'Internal Storage' | trans('article_details') }}</h3>
                <span>
                    {{ article.articleDetails[2].items[0].value | unit(article.articleDetails[2].items[0].unit) }}

                    {% if article.articleDetails[2].items[2].value %}
                        {{ 'Expandable_With'|trans('product') }}
                        {{ article.articleDetails[2].items[2].value }}
                        {{ article.articleDetails[2].items[2].unit }}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
