{% set sim_only_id = constant('app\\models\\ArticleModel::SIM_ONLY') %}

{% if renewal or (contract_mode == 'contract-renewal' and tariff is defined and tariff.provider_id == 2) %}
    {% set hash = 'swisscom_api' %}
{% endif %}
{% set form = form_begin({ method: 'POST', action: '/checkout/cart/add' }) %}
    <input type="hidden" name="item_type" value="article_tariff">
    <input type="hidden" name="item_id" value="{{ item.id }}">
    {% if hash is defined and hash %}
        <input type="hidden" name="hash" value="{{ hash }}">
    {% endif %}
    <button type="submit" class="btn btn-outline-danger buy-button {{ additional_button_classes|default('') }}">
        {{ button_text|default('Order_Now'|trans('view')) }}
        <span class="icon icon-angle-right"></span>
    </button>
{{ form_end() }}

