<div class="row">
    <div class="col-md-8">
        {% include '@category/filters/double-slider.twig' with {
            name: slider_name,
            label: slider_label | trans('product'),
            options: {
                hide_grip: true,
                limits: {
                    min: 0|round(0, 'floor'),
                    max: max_value|round(0, 'ceil'),
                },
                min: {
                    name: slider_name,
                    value: 0|round(0, 'floor'),
                },
                max: {
                    name: 'slider-to',
                    value: max_value|round(0, 'ceil'),
                },
                format: '%v ' ~ slider_format | default('MB')
            }
        } only %}
    </div>
    <div class="col-md-4">
        <input type="checkbox" name="{{ slider_name }}" value="{{ max_value + 1 }}"/>
        <label for="{{ slider_name }}">{{ 'Unlimited' | trans('product') }}</label>
    </div>
</div>


