<div class="row contract-renewal-sliders">
    <div class="col-md-12">
        <div class="form-group">
            {% include '@product/subscriptions/contract-renewal-slider.twig' with {
            slider_name: 'RenewalRequestForm[monthly_national_data_volume]',
            slider_label: 'monthly_national_data_volume',
            max_value: 10000,
            } %}
        </div>
        <div class="form-group">
            {% include '@product/subscriptions/contract-renewal-slider.twig' with {
            slider_name: 'RenewalRequestForm[monthly_international_data_volume]',
            slider_label: 'monthly_international_data_volume',
            max_value: 10000,
            } %}
        </div>
        <div class="form-group">
            {% include '@product/subscriptions/contract-renewal-slider.twig' with {
            slider_name: 'RenewalRequestForm[monthly_national_phone_minutes]',
            slider_label: 'monthly_national_phone_minutes',
            max_value: 3000,
            slider_format: 'Min'
            } %}
        </div>
        <div class="form-group">
            {% include '@product/subscriptions/contract-renewal-slider.twig' with {
            slider_name: 'RenewalRequestForm[monthly_international_phone_minutes]',
            slider_label: 'monthly_international_phone_minutes',
            max_value: 3000,
            slider_format: 'Min'
            } %}
        </div>
        <div class="form-group">
            {% include '@product/subscriptions/contract-renewal-slider.twig' with {
            slider_name: 'RenewalRequestForm[monthly_phone_minutes_from_abroad]',
            slider_label: 'monthly_phone_minutes_from_abroad',
            max_value: 3000,
            slider_format: 'Min'
            } %}
        </div>
    </div>
</div>
