{% if tariff.text_call %}
    <div>{{ 'Subs_Phone'|trans('view') }}: {{ tariff.text_call }}</div>
{% endif %}

{% if tariff.text_sms %}
    <div>{{ 'Tariff_info_sms'|trans('view') }} {{ tariff.text_sms }}</div>
{% endif %}

{% if tariff.text_internet %}
    <div>{{ 'Tariff_info_internet'|trans('view') }} {{ tariff.text_internet }}</div>
{% endif %}

{% if tariff.footnote_text %}
    <div>{{ tariff.footnote_text }}</div>
{% endif %}
