<p class="px-3 py-3 mb-0 text-center">{{ 'You_want_to_renew_your_contract'|trans('product') }}</p>
<div class="px-3 my-3">

    {% if renewal_request_form.created %}
        {% include '@product/contract-box/renewal-request/success.twig' %}
    {% else %}
        {% set form = form_begin({id: 'contract-number-keep', method: 'POST'}) %}
            <label for="CurrentProviderSelection">
                <h3>{{ 'Current_Provider'|trans('product') }}:</h3>
            </label>

            <input type="hidden"
               id="renewalrequestform-step_contract_renewal"
               name="RenewalRequestForm[step_contract_renewal]"
               value="step_contract_renewal">

            <input type="hidden" id="swisscom_url" value="{{ swisscom_login_url }}"/>

            <select class="form-control" id="CurrentProviderSelectionRenewal" name="RenewalRequestForm[provider_id]">
                <option>{{ 'Please_select_your_current_provider'|trans('product') }}</option>
                {% for provider in providers %}
                    <option value="{{ provider.id }}"{% if selected_provider.id == provider.id and not article_tariffs|length > 0 %} selected{% endif %}>
                        {{ provider.title }}
                    </option>
                {% endfor %}
            </select>

            <div class="subscription-box-renewal hidden-xs-up">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-2">{{ 'Fill_In_Form_To_Check_Renewal_Options'|trans('product') }}</p>
                        {% include '@product/contract-box/renewal-request/phone-number.twig' with {
                            hide_submit: true,
                            hide_provider_list: true,
                            hide_modal: true,
                            hide_title: true
                        } %}
                        {% include '@product/contract-box/renewal-request/personal-data.twig' with {
                            hide_submit: true
                        } %}
                    </div>

                    <div class="col-md-6">
                        <p class="mb-2">{{ 'Fill_In_So_We_Can_Find_Relevant_Contract_Renewals'|trans('product') }}</p>
                        {% include '@product/subscriptions/contract-renewal-sliders.twig' %}
                    </div>

                    <div class="col-md-12">
                        <div class="text-lg-center">
                            <p>* {{ 'Required_Field'|trans('product') }}</p>
                            <button type="submit" class="btn btn-danger">
                                {{ 'Request_Offer'|trans('product') }} <span class="icon icon-angle-right"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end() }}

        <div class="subs-wrapper {% if not show_subscriptions %}hidden-xs-up{% endif %}">
            {% include '@product/subscriptions/subs-list.twig' with { renewal: true } %}
        </div>
    {% endif %}
</div>
