<span class="icon icon-info p-2"
    data-toggle="popover"
    data-trigger="{{ trigger ?? 'hover' }}"
    data-offset="0 {{ offset ?? 0 }}"
    title="{{ item.tariff.provider.title }} {{ item.tariff.title }}"
    data-content='
        {% if item.tariff.highlights %}
            <h4 class="mt-4 mb-2">{{ 'Tariff_Info'|trans }}</h4>
            {% include '@views/products/highlights.twig'|raw with { highlights: item.tariff.highlights } only %}
        {% endif %}

        {% if item.ContractInformation %}
            <h4 class="mt-4 mb-2">{{ 'Contract_Information'|trans('product') }}</h4>
            {% include '@product/subscriptions/contract-information.twig'|raw with { tariff: item.tariff } %}
        {% endif %}

        <h4 class="mt-4 mb-2">{{ 'Fine_Print_Label'|trans('view') }}</h4>
        {% include '@product/price-box/fine-print.twig'|raw %}
    '>
</span>
