<p class="px-3 py-3 mb-0 text-center">
    {{ 'Contract_Box_New_Contract_Hint {article}'|trans('product', {article: article.product_name~', '~article.memory|unit('GB')}) }}
</p>

{% include('@product/subscriptions/subs-filter.twig') %}

<div class="subs-wrapper">
    {% include('@product/subscriptions/subs-list.twig') %}
</div>
