<p class="px-3 py-3 mb-0 text-center">
    {{ 'Porting_Message'|trans('product') }}
</p>

<form class="form px-lg-3 mb-5 mt-3 mx-auto {% if renewal_provider %}hidden-xs-up{% endif %}">
    <label for="CurrentProviderSelection">
        <h3>
            {{ 'Previous_Provider'|trans('view') }}:
        </h3>
    </label>
    <select class="form-control ml-1" id="CurrentProviderSelection">
        <option>{{ 'Please_select_your_current_provider'|trans('product') }}</option>
        {% for provider in providers %}
            <option {% if renewal_provider == provider.id %} selected {% endif %} value="{{ provider.id }}">{{ provider.title }}</option>
        {% endfor %}
    </select>
</form>

{% include '@product/subscriptions/subs-filter.twig' %}
<div class="subs-wrapper">
    {% include '@product/subscriptions/subs-list.twig' %}
</div>
