<input type="hidden" name="tariff-id" id="tariffId" value="{{ article_tariffs[0].tariff.id }}">
<input type="hidden" name="hidden-filter" id="hidden-filter" value="{{ hidden_filter|default({})|json_encode }}">

<div class="subs-filter hidden-sm-down px-lg-3">
    <div class="row">
        <div class="col-md-2">
            {% include '@category/filters/singleselect.twig' with {
                name: 'provider',
                label: 'Subs_Filter_Provider'|trans('view'),
                label_empty: 'Subs_All_Providers'|trans('view'),
                options: filters.provider,
                selected: selected_provider.id,
            } only %}
        </div>
        <div class="col-md-2">
            {% include '@category/filters/singleselect.twig' with {
                name: 'contract_duration',
                label: 'Subs_Filter_Duration'|trans('view'),
                label_empty: 'Subs_All_Durations'|trans('view'),
                options: filters.contract_duration,
                value_format: '%v ' ~ ('Months'|trans('view'))
            } only %}
        </div>
        <div class="col-md-2">
            {% include '@category/filters/double-slider.twig' with {
                name: 'data_volume',
                label: 'Subs_Filter_Traffic'|trans('view'),
                options: {
                    limits: {
                        min: filters.data_volume.min|round(0, 'floor'),
                        max: filters.data_volume.max|round(0, 'ceil'),
                    },
                    min: {
                        name: 'filter-tariff-from',
                        value: filters.data_volume.min|round(0, 'floor'),
                    },
                    max: {
                        name: 'filter-tariff-to',
                        value: filters.data_volume.max|round(0, 'ceil'),
                    },
                    format: '%v MB'
                }
            } only %}
        </div>
        <div class="col-md-2">
            {% include '@category/filters/double-slider.twig' with {
                name: 'price_monthly',
                label: 'Subs_Filter_Price_Monthly'|trans('view'),
                options: {
                    limits: {
                        min: filters.price_monthly.min|round(0, 'floor'),
                        max: filters.price_monthly.max|round(0, 'ceil'),
                    },
                    min: {
                        name: 'filter-price-from',
                        value: filters.price_monthly.min|round(0, 'floor'),
                    },
                    max: {
                        name: 'filter-price-to',
                        value: filters.price_monthly.max|round(0, 'ceil'),
                    },
                }
            } only %}
        </div>
        <div class="col-md-2">
            {% include '@category/filters/choice.twig' with {
                name: 'recommended_for_youth',
                label: 'Subs_Filter_Youth_Tariff'|trans('view'),
                disabled: not filters.recommended_for_youth_optional,
                options: [
                    {
                        value: 1,
                        label: 'Yes'|trans('view'),
                        size: 'button',
                        checked: false,
                    },{
                        value: 0,
                        label: 'No'|trans('view'),
                        size: 'button',
                        checked: false,
                    }
                ]
            } only %}
        </div>
        {% if filters.deferred_payment_optional is defined %}
            <div class="col-md-2">
                {% include '@category/filters/choice.twig' with {
                    name: 'deferred_payment',
                    label: 'Subs_Filter_Pay_By_Instalments'|trans('view'),
                    disabled: not filters.deferred_payment_optional,
                    options: [
                        {
                            value: 1,
                            label: 'Yes'|trans('view'),
                            size: 'button',
                            checked: false,
                        },
                        {
                            value: 0,
                            label: 'No'|trans('view'),
                            size: 'button',
                            checked: false,
                        }
                    ]
                } only %}
            </div>
        {% endif %}
    </div>
</div>

{% include '@product/subscriptions/subs-filter-mobile.twig' %}

{% if show_reset_button is defined and show_reset_button %}
    {% include '@product/subscriptions/filter-reset.twig' %}
{% endif %}
