{% if article_tariffs|length > 0 %}
    <table class="subs-list table table-hover hidden-md-down">
        {% if not isAjax %}
        <thead>
            <tr>
                <th colspan="2">{{ 'Subs_Tariff_Name'|trans('view') }}</th>
                <th>{{ 'Subs_Filter_Duration'|trans('view') }}</th>
                <th>{{ 'Subs_Filter_Traffic'|trans('view') }}</th>
                <th>{{ 'Subs_Price_Once'|trans('view') }}</th>
                <th>{{ 'Subs_Price_Monthly'|trans('view') }}</th>
                <th></th>
            </tr>
        </thead>
        {% endif %}

        <tbody>
            {% for standard_tariff in standard_tariffs %}
                {% include "@product/subscriptions/subs-row.twig" with { item: standard_tariff, default: true } %}
            {% endfor %}

            {% for article_tariff in article_tariffs %}
                {% include "@product/subscriptions/subs-row.twig" with { item: article_tariff } %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="hidden-md-down">{{ 'No_Filter_Result'|trans('view') }}</div>
{% endif %}

{% include '@product/subscriptions/subs-list-mobile.twig' %}
