<div class="filters subs-filter-mobile hidden-md-up mt-5">
    <input type="checkbox" id="product-filter"/>
    <label for="product-filter" class="icon icon-search"></label>
    <div class="blackout"></div>
    <ul class="filter-layer list-unstyled">
        <li>
            <span>{{ 'Subs_Filter_Your_Selection'|trans('view') }}</span>
        </li>
        <li>
            {% include '@category/filters/singleselect.twig' with {
                name: 'provider',
                label_empty: 'Subs_Filter_Provider'|trans('view'),
                options: filters.provider
            } only %}
        </li>
        <li>
            {% include '@category/filters/singleselect.twig' with {
                name: 'contract_duration',
                label_empty: 'Subs_Filter_Duration'|trans('view'),
                options: filters.contract_duration,
                value_format: '%v ' ~ ('Months'|trans('view'))
            } only %}
        </li>
        <li>
            {% include '@category/filters/double-slider.twig' with {
                name: 'data_volume',
                label: 'Subs_Filter_Traffic'|trans('view'),
                options: {
                    limits: {
                        min: filters.data_volume.min,
                        max: filters.data_volume.max,
                    },
                    min: {
                        name: 'filter-tariff-from',
                        value: filters.data_volume.min,
                    },
                    max: {
                        name: 'filter-tariff-to',
                        value: filters.data_volume.max,
                    },
                    format: '%v GB'
                }
            } only %}
        </li>
        <li>
            {% include '@category/filters/double-slider.twig' with {
                name: 'price_monthly',
                label: 'Subs_Filter_Price_Monthly'|trans('view'),
                options: {
                    limits: {
                        min: filters.price_monthly.min|round(0, 'floor'),
                        max: filters.price_monthly.max|round(0, 'ceil'),
                    },
                    min: {
                        name: 'filter-price-from',
                        value: filters.price_monthly.min|round(0, 'floor'),
                    },
                    max: {
                        name: 'filter-price-to',
                        value: filters.price_monthly.max|round(0, 'ceil'),
                    }
                }
            } only %}
        </li>
        <li>
            {% include '@category/filters/choice.twig' with {
                name: 'recommended_for_youth',
                label: 'Subs_Filter_Youth_Tariff'|trans('view'),
                disabled: not filters.recommended_for_youth_optional,
                options: [
                    {value: 1, label: 'Yes'|trans('view')},
                    {value: 0, label: 'No'|trans('view')},
                ]
            } only %}
        </li>
        {% if filters.deferred_payment_optional is defined %}
            <li>
                {% include '@category/filters/choice.twig' with {
                    name: 'deferred_payment',
                    label: 'Subs_Filter_Pay_By_Instalments'|trans('view'),
                    disabled: not filters.deferred_payment_optional,
                    options: [
                        {value: 1, label: 'Yes'|trans('view')},
                        {value: 0, label: 'No'|trans('view')},
                    ]
                } only %}
            </li>
        {% endif %}
    </ul>
</div>
