{% set is_selected_default_provider = (
    default
    and filter.provider|default([])|length != 0
    and item.tariff.provider_id == filter.provider[0]
) %}

{% set provider_img_src = item.tariff.provider.alt_image and item.tariff.show_alt_provider_img ?
    item.tariff.provider.alt_image|image('thumbnail') :
    item.tariff.provider.image|image('thumbnail')
%}

<tr {% if default %}class="active{% if is_selected_default_provider %} selected{% endif %}"{% endif %}>
    <th scope="row" class="title">
        {% if item.tariff.young_people %}
            <small class="tariff-youth">{{ 'Subs_Filter_Youth_Tariff'|trans('view') }}</small><br>
        {% endif %}
        {% if is_selected_default_provider %}
            <small class="tariff-selected">{{ 'Subs_Filter_Selected'|trans('view') }}</small><br>
        {% endif %}
        <img src="{{ provider_img_src }}"
             class="img-fluid" alt="{{ item.tariff.provider.title }}"><br>
        <span class="tariff-title">{{ item.tariff.title }}</span>
    </th>
    <td class="legal">
        {% include '@product/subscriptions/legal-text.twig' %}
    </td>
    <td class="duration">{{ item.tariff.contract_duration }} {{ 'Months'|trans('view') }}</td>
    <td class="volume">{{ item.tariff.data_volume is not null ? item.tariff.data_volume ~ ' MB' : 'unlimited'|trans('view') }}</td>
    <td class="price-once">
        {{ item.price_article_monthly > 0 ? 'Hardware_Deposit'|trans('view') : 'Hardware'|trans('view') }}:
        <br>
        <span class="price-article-once">{{ item.price_article_once|price }}</span>
    </td>
    <td class="price-monthly">
        {{ 'Subscription'|trans('view') }}: <span class="price-tariff-monthly">{{ item.price_tariff_monthly|price }}</span><br>
        {{ item.price_article_monthly > 0
            ? ('Hardware_Rate'|trans('view') ~ ': <span class="price-article-monthly">' ~ item.price_article_monthly|price ~ '</span>')|raw
        }}
    </td>
    <td class="buy-button">
        {% include '@product/subscriptions/buy-button.twig' with {
            article_id: item.article.id,
            provider_id: item.tariff.provider.id
        } %}
    </td>
</tr>
