<div class="subs-list-mobile hidden-lg-up">
    <div class="row">
        {% if article_tariffs|length > 0 %}
            {% for article_tariff in article_tariffs %}
                {% set tariff = article_tariff.tariff %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                <img src="{{ tariff.provider.image|image('thumbnail') }}"
                                     class="float-right" alt="{{ tariff.provider.title }}">
                                <span>{{ tariff.title }}</span>
                            </h4>
                        </div>

                        {% if tariff.highlights %}
                            <div class="card-block py-0">
                                <h3>
                                    {{ 'Pdp_Your_Subscription_Highlights'|trans('view') }}
                                </h3>
                                {% include '@views/products/highlights.twig' with { highlights: tariff.highlights } only %}
                            </div>
                        {% endif %}

                        <div class="card-footer border-top-0 border-top-sm-1">
                            <dl class="price-onetime">
                                <dt>{{ 'Subs_Price_Once'|trans('view') }}:</dt>
                                <dd>{{ article_tariff.prices.total.once|price }}</dd>
                            </dl>
                            <dl class="price-contract">
                                <dt>{{ 'Subs_Price_Monthly'|trans('view') }}:</dt>
                                <dd>{{ article_tariff.prices.total.monthly|price }}</dd>
                            </dl>
                            <dl>
                                <dt>
                                    <form method="post" action="{{ Url.to('/checkout/cart/add/') }}">
                                        <input type="hidden" name="item_type" value="article_tariff">
                                        <input type="hidden" name="item_id" value="{{ article_tariff.id }}">
                                        <button type="submit" class="btn btn-danger">
                                            {{ 'Order_Now'|trans('view') }}
                                            <span class="icon icon-angle-right"></span>
                                        </button>
                                    </form>
                                </dt>
                                <dd class="text-right">
                                    {% include '@product/subscriptions/legal-text.twig' with {
                                        item: article_tariff,
                                        trigger: 'click',
                                        offset: '100px'
                                    } %}
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {{ 'No_Filter_Result'|trans('view') }}
        {% endif %}
    </div>
</div>
