@import '../variables';

.shop-view {
  background-color: $brand-info;

  .shop-view-business-times {
    margin-bottom: $spacer;

    table {
      width: 100%;

      td:first-child {
        width: 120px;
      }
    }
  }

  .img-shop-manager {
    max-width: 150px;
  }

  .shop-manager-name {
    width: 1px;
  }

  .shop-particularity {
    color: $brand-info;

    > div {
      &:first-child {
        background: $brand-inverse;
      }

      &:nth-child(2) {
        background: $gray;
      }
    }
  }

  .shop-view-nearby {
    padding: {
      top: $spacer-y;
      right: $spacer-x;
      left: $spacer-x;
    };
    background-color: $gray-lightest;

    > .shop-view-nearby-shop {
      padding: $spacer 0;

      &:not(:last-child) {
        border-bottom: 1px solid $gray-lighter;
      }
    }
  }
}
