$shop-finder-map-height: 600px;
$shop-finder-map-height-small: 320px;
$shop-finder-map-img-size: 40px;
$shop-finder-map-info-width: 200px;
$shop-manager-image-size: 155px;

@import 'shop';


html.no-geolocation {
  .google-maps-mylocation {
    display: none;
  }
}

.google-maps {
  width: 100%;
  height: $shop-finder-map-height-small;
  margin: {
    bottom: $spacer-y * 2;
  };

  @include media-breakpoint-up(lg) {
    height: $shop-finder-map-height;
  }

  .marker-info {
    display: table;
    width: $shop-finder-map-info-width;
    font-weight: 400;
    line-height: 1.1;

    img {
      width: $shop-finder-map-img-size;
      height: $shop-finder-map-img-size;
      margin-top: $spacer-y;
    }

    h4 {
      margin: 0 0 $spacer-y / 3;
    }

    p {
      margin-bottom: $spacer-y / 3;
    }

    > * {
      display: table-cell;
      vertical-align: top;

      &:first-child {
        padding-right: $spacer-x / 2;
      }
    }
  }
}

.shop-finder-form {
  position: absolute;
  left: 0;
  padding-left: $spacer;
  background-color: $brand-info;
  z-index: 50;
}

.table-shopfinder {
  .name {
    max-width: 200px;
  }

  .tel {
    white-space: nowrap;
  }
}

