<style>
    #api-console {
        position: fixed;
        width: 100%;
        height: 300px;
        margin-top: 15px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
    }

    #api-console table {
        max-width: 100%;
    }

    #api-console .scroller {
        overflow-y: scroll;
        height: 260px;
    }

    #api-console:not(.opened) {
        height: 40px;
    }

    .toggler {
        padding: 10px;
        cursor: pointer;
    }

    #api-console:not(.opened) table {
        display: none;
    }

    body.api-console-opened {
        padding-bottom: 315px;
    }

    body:not(.api-console-opened) {
        padding-bottom: 50px;
    }
</style>
<script>
    $(function() {
        if (JSON.parse(sessionStorage.getItem('api-log-console')) === true) {
            $('#api-console').addClass('opened');
            $('body').addClass('api-console-opened');
        }

        $('#api-console .toggler').on('click', function() {
            $('#api-console').toggleClass('opened');
            $('body').toggleClass('api-console-opened');

            var isOpened = $('#api-console').hasClass('opened');

            sessionStorage.setItem('api-log-console', isOpened);
        });
    });
</script>
<div id="api-console">

    <div class="toggler text-xs-right">
        <strong>API Console - Logs ({{ logs|length }} requests)</strong>
    </div>

    <div class="scroller">
        <table class="table table-bordered table-sm">
            <thead>
            <tr>
                <th><strong>Method</strong></th>
                <th><strong>URI</strong></th>
                <th class="text-xs-right"><strong>Duration</strong></th>
                <th><strong>Params</strong></th>
            </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.method|upper }}</td>
                        <td style="word-break: break-all;">{{ log.uri }}</td>
                        <td class="text-xs-right">
                            {% if log.duration == 0 %}
                                <span class="text-success">CACHED</span>
                            {% else %}
                                {{ log.duration }} ms
                            {% endif %}
                        </td>
                        <td style="word-break: break-all;">{{ log.params|json_encode }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
