@import '../variables';

.about-us {
  column-gap: 2 * $spacer;
  column-fill: balance;
  column-count: 2;
  color: $gray-light;

  > div {
    break-inside: avoid-column;
  }

  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
}
