@import '../variables';

.brand-list {
  a {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: $spacer;

    &::before {
      display: block;
      padding-top: 50%;
      content: '';
    }
  }

  img {
    position:  absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: $spacer / 2;
  }
}
