@import '../variables';

.category-teasers {
  margin: {
    top: 2 * $spacer;
    bottom: 2 * $spacer;
  }
  line-height: $font-size-h3;

  a {
    @include media-breakpoint-down(md) {
      padding: $spacer / 2;
    }

    display: block;
    padding: $spacer;
    border: $border-width solid $gray-lightest;
    font-size: $font-size-h3;
    overflow: hidden;
  }

  .label {
    padding-left: $spacer;
    line-height: 40px;
    vertical-align: top;
  }

  span {
    line-height: $font-size-h3;

    &:first-child {
      color: $brand-danger;
      font-size: 40px;
      line-height: 40px;
      vertical-align: top;
    }

    &:last-child {
      float: right;
      color: $brand-danger;
      line-height: 40px;
    }
  }
}
