.hp-card {
  margin-bottom: $spacer * 2;
  padding: $spacer * 2;
  border: $border-width solid $gray-lightest;
}

@media (max-width: 767px) {
  .hp-card-text {
    margin-top: 15px;
  }
}

@import '../variables';
@import 'teaser';
@import 'category-teasers';
@import 'product-slider';
@import 'shopfinder';
@import 'newsletter-box-big';
@import 'brand-list';
@import 'about-us';
