@import '../variables';

.newsletter-box-big {
  background: $black;
  color: $brand-info;
  text-align: center;

  // img not big enough for some breakpoints
  // needs 100% width since .img-fluid only provides max-width
  // and fixes IE bug
  img {
    width: 100%;
  }

  form {
    padding: 0 ($spacer * 3);
  }

  @include media-breakpoint-down(sm){
    h2 {
      padding-top: $spacer * 2;
    }
    .btn {
      margin-bottom: $spacer * 2;
    }
  }

  input {
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}

@include media-breakpoint-down(sm) {
  .homepage .newsletter-box-big {
    &.no-gutter-right {
      margin-right: 0;
    }

    input {
      margin-bottom: $spacer-y;
    }
  }
}

@include media-breakpoint-up(sm) {
  .homepage {
    .newsletter-box-big {
      input,
      .btn {
        width: 100%;
        margin-bottom: $spacer-y;
      }
    }
  }
}
