@import '../variables';

.product-slider {
  padding-bottom: $spacer;

  .scroll-pane {
    overflow-x: scroll;
  }

  .jspContainer {
    min-height: 240px;
  }

  ul {
    margin-bottom: $spacer;
    padding: $spacer 0;
    text-align: center;
    white-space: nowrap;
  }

  li {
    display: inline-block;
    width: 150px;
    height: 150px;

    &:not(:last-child) {
      margin-right: $spacer;
    }
  }

  .name {
    max-height: 50px;
    font-size: larger;
    font-weight: bold;
    white-space: normal;
    overflow: hidden;
  }
}
