@import '../variables';

.shopfinder {
  background: $gray-lightest;
  text-align: center;

  > img {
    padding-bottom: 28px; // TODO quickfix to get both boxes aligned
  }

  .shopfinder-wrapper {
    padding: 15px 10%;
  }

  h2,
  .h1 {
    .icon-location {
      color: $brand-danger;
    }
  }

  .form-inline {
    font-size: 0; // little hack to remove spacing between input field and button and to match newsletter box
  }
}

@include media-breakpoint-down(sm) {
  .homepage .shopfinder.no-gutter-left {
    margin-left: 0;
  }
}

.page-support {
  .shopfinder {
    height: 230px;
    margin: 0 0 $spacer;

    div[role='img'] {
      height: 230px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
    }

    .border-corner {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-width: 0 0 230px 50px;
      border-style: solid;
      border-color: transparent transparent $gray-lightest;
    }

    .shopfinder-wrapper {
      padding: $spacer 0;

      p {
        margin-bottom: $spacer / 2;
      }
    }

    button {
      margin: $spacer / 2 0;
    }

    @include media-breakpoint-down(sm) {
      height: auto;

      div[role='img'] {
        background-size: cover;
      }

      .border-corner {
        display: none;
      }
    }
  }
}
