@import '../variables';

.teaser {
  .secondary-teaser {
    div {
      &:first-child {
        img {
          @include media-breakpoint-up(sm) {
            margin-bottom: $spacer;
          }
        }
      }
    }
  }
}

.carousel {
  .icon {
    padding: $spacer 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: $gray;
    color: $brand-info;

    &::before {
      position: relative;
      left: 3px;
    }
  }

  > a {
    width: 30px;
  }

  .carousel-control-prev .icon {
    transform: rotate(180deg);
  }
}
