@import '../variables';

$header-mobile-spacer: $spacer-y;
$header-mobile-width: 300px;
$header-mobile-border-color: $gray-lightest;
$header-mobile-logo-height: 34px;

.header-mobile {
  padding: $spacer;
  background: $brand-info;

  .logo img {
    height: $header-mobile-logo-height;
  }

  .navigation-wrapper {
    label {
      margin-bottom: 0;
    }

    > * {
      margin-left: $spacer;
      float: right;
    }

    .mobile-basket {
      span::before {
        font-size: 2em;
      }
    }

    .icon-cart {
      font-size: 12px;
    }

    .icon-customer {
      font-size: 24px;
    }

    .icon-search {
      font-size: 24px;
    }
  }

  .icon-menu {
    font-size: 200%;
    text-align: right;
  }

  [type='checkbox'] {
    position: absolute;
    top: -9999px;
    left: -9999px;

    &:checked {
      ~ .navigation-bar-vertical {
        display: block;
      }
    }
  }

  .navigation-bar-vertical {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: $font-size-base;
    text-align: left;
    z-index: 500;
    list-style-type: none;

    > li {
      padding: 0;
      border: 1px solid $header-mobile-border-color;

      .mobile-level1 {
        width: 100%;
        padding: $header-mobile-spacer;
        color: $gray;
        font-size: $font-size-base;
        font-weight: bold;
        line-height: 1;
        cursor: pointer;

        &:hover {
          color: $brand-danger;
        }

        .icon {
          position: absolute;
          top: 6px;
          right: $spacer;
          font-size: $font-size-h2;

          &.open {
            transform: rotate(90deg);
          }
        }
      }

      .level2 a {
        display: block;
        padding: 0 ($spacer / 2) ($spacer / 2);
      }

      &.highlighted {
        border-color: $brand-danger;
        background-color: $brand-danger;

        a {
          color: $brand-info;

          &:hover {
            color: $brand-info;
          }
        }
      }
    }

    form {
      width: 100%;
    }
  }

  .navi-layer {
    position: relative;
    margin-bottom: 0;

    .navi-layer-wrapper {
      margin-top: 0;
      padding: $spacer ($spacer / 2) 0;
    }
  }
}
