@import '../variables';
@import 'header-mobile';
@import 'link-bar';
@import 'navigation-bar';
@import 'search-bar';

.header {
  background: $brand-info;
}

.feedback-flag {
  position: fixed;
  right: -28px;
  bottom: 60px;
  padding: 5px $spacer;
  transform: rotate(-90deg);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background: $gray-light;
  color: $brand-info;
}

.usp-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  font-size: 0.8rem;

  .container {
    box-shadow: none;
  }

  .list-checked {
    li {
      margin: 0 30px 0 5px;
      padding-left: 10px;

      &::before {
        top: 5px;
        color: $brand-success;
        font-size: 26px;
      }
    }
  }

  li,
  a {
    color: $gray-light;
  }
}
