@import '../variables';
@import 'link-bar/hotline';
@import 'link-bar/language-switch';
@import 'link-bar/store-locations';

.link-bar {
  background: $body-bg;
  font-size: $font-size-sm;

  li {
    padding: 5px $spacer;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background: $brand-info;
  }

  .plain {
    background: transparent;
  }

  .inactive {
    margin-right: 0;
    background: $gray-light;
    color: $brand-info;

    a {
      color: $brand-info;
    }
  }
}
