@import '../variables';
@import 'navigation-bar/mini-basket';
@import 'navigation-bar/navi-layer';

.navigation-bar {
  margin: 0 (2 * $spacer);
  /* background-image: linear-gradient(to top, $gray-dark 0%, $gray 100%); */
  background-color: $gray-dark;

  li {
    &:hover {
      .navi-layer,
      .triangle {
        display: block;
      }
    }
  }

  .prominent {
    padding-left: 2 * $spacer;
    background: $brand-danger;
  }

  .fancy-skew {
    margin-right: -7px;
    padding: $spacer 5px;
    transform: skewX(-15deg);
    background: $brand-info;
  }

  .triangle {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    margin-top:3px;
    margin-left: $spacer;
    border-right: $spacer solid transparent;
    border-bottom: $spacer solid $gray-lightest;
    border-left: $spacer solid transparent;
    z-index: 200;
  }
}
