@import '../variables';

.search-bar {
  margin: 0 (2 * $spacer);
  background-color: $brand-info;

  @include media-breakpoint-up(lg) {
    margin-top: $spacer;
  }

  .shop-logo {
    img {
      height: 40px;
      margin: $spacer 0;
    }
  }

  form {
    margin-top: $spacer;
  }

  .mini-banner {
    img {
      height: 57px;
    }
  }
}
