{% extends "@customer-account/customer-account.twig" %}

{% block customer_data %}
    <h3>{{ 'Change_Password'|trans }}</h3>

    {% set form = form_begin({method: 'POST'}) %}
    {{ form.field(customer, 'password').grid('col-md-3', 'col-md-6').label('Password_Old'|trans).passwordInput|raw }}
    {{ form.field(customer, 'newPassword').grid('col-md-3', 'col-md-6').label('Password_New'|trans).passwordInput|raw }}
    {{ form.field(customer, 'newPasswordRepeat').grid('col-md-3', 'col-md-6').label('Password_New_Repeat'|trans).passwordInput|raw }}

    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            <button type="submit" class="btn btn-danger">
                {{ 'Change_Password'|trans }}
                <span class="icon icon-angle-right"></span>
            </button>
        </div>
    </div>
    {{ form_end() }}
{% endblock %}
