{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="customer-account">
        <h1>{{ 'Reset_Password'|trans }}</h1>
        <h2 class="thin mb-4">{{ 'Reset_Password_Subtitle'|trans }}</h2>

        {% set form = form_begin({method: 'POST'}) %}
        {{ form.field(customer, 'email').grid('col-md-2', 'col-md-6').textInput|raw }}
        <div class="form-group row">
            <div class="col-md-2 offset-md-2">
                <input type="submit" class="btn btn-danger" value="{{ 'Reset_Password_Send'|trans }}">
            </div>
        </div>
        {{ form_end() }}
    </div>
{% endblock %}
