{% extends "@customer-account/layout-double-headline.twig" %}

{% block customer_headline_1 %}
    {{ 'Welcome_To_Customer_Account'|trans }}
{% endblock %}

{% block customer_headline_2 %}
    {{ 'Here_You_Can_Find_Basic_Information'|trans }}
{% endblock %}

{% block customer_content %}
    <h3>{{ 'Customer_Account'|trans }}</h3>
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-md-4">{{ 'Customer_Account'|trans }}:</dt>
                <dd class="col-md-8">{{ customer.email }}</dd>

                <dt class="col-md-4">{{ 'Password'|trans }}:</dt>
                <dd class="col-md-8">************</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <a href="{{ Url.to('/customer-account/customer-account/change-password') }}"
               class="btn btn-block btn-danger">
                {{ 'Change_Password'|trans }}
                <span class="icon icon-angle-right"></span>
            </a>
        </div>
    </div>

    <h3>{{ 'Personal_Information'|trans }}</h3>
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-md-4">{{ 'Gender'|trans }}:</dt>
                <dd class="col-md-8">{{ constant('app\\models\\GenderInterface::ALL')[customer.gender]|trans('app') }}</dd>
                <dt class="col-md-4">{{ 'First_Name'|trans }}:</dt>
                <dd class="col-md-8">{{ customer.first_name }}</dd>
                <dt class="col-md-4">{{ 'Last_Name'|trans }}:</dt>
                <dd class="col-md-8">{{ customer.last_name }}</dd>

                <dt class="col-md-4">{{ 'Language_Preference'|trans }}:</dt>
                <dd class="col-md-8">{{ ('Language_'~customer.language_uppercase)|trans('languages') }}</dd>
                <dt class="col-md-4">{{ 'Birthday'|trans }}:</dt>
                <dd class="col-md-8">{{ customer.birthday|date('d.m.Y') }}</dd>
                <dt class="col-md-4">{{ 'Nationality'|trans }}:</dt>
                <dd class="col-md-8">
                    {% if customer.nationality %}
                        {{ ('Language_'~customer.nationality|upper)|trans('languages') }}
                    {% else %}
                        --
                    {% endif %}
                </dd>
                <dt class="col-md-4">{{ 'Passport_Type'|trans }}:</dt>
                <dd class="col-md-8">
                    {{ constant('app\\models\\PassportTypeInterface::ALL')[customer.passport_type]|trans('passport-types')|default('--') }}
                </dd>
                <dt class="col-md-4">{{ 'Passport_Number'|trans }}:</dt>
                <dd class="col-md-8">{{ customer.passport_id|default('--') }}</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <a href="{{ Url.to('/customer-account/customer-account/information') }}" class="btn btn-block btn-danger">
                {{ 'Edit'|trans }}
                <span class="icon icon-angle-right"></span>
            </a>
        </div>
    </div>
{% endblock %}
