{% extends "@customer-account/layout-double-headline.twig" %}

{% block customer_headline_1 %}
    {{ 'Other_Information'|trans }}
{% endblock %}

{% block customer_headline_2 %}
    {{ 'Other_Information_Subtitle'|trans }}
{% endblock %}

{% set nationality_field_id = {'id' : 'passportmodel-nationality'} %}
{% set passport_field_id = {'id' : 'passportmodel-passport_type'} %}

{% block customer_content %}
    {% set form = form_begin({method: 'PUT'}) %}
        {{ form.field(customer, 'gender').grid('col-md-3', 'col-md-6').inline().label(false).genderRadioList|raw }}
        {{ form.field(customer, 'first_name').grid('col-md-3', 'col-md-6').textInput|raw }}
        {{ form.field(customer, 'last_name').grid('col-md-3', 'col-md-6').textInput|raw }}
        {{ form.field(customer, 'language').grid('col-md-3', 'col-md-6').dropDownList(languages)|raw }}
        {{ form.field(customer, 'birthday').grid('col-md-3', 'col-md-6').date|raw }}
        {{ form.field(customer, 'nationality').grid('col-md-3', 'col-md-6').countryDropDown(nationality_field_id)|raw }}
        {{ form.field(customer, 'passport_type').grid('col-md-3', 'col-md-6').passportTypeDropDown(passport_field_id)|raw }}
        {{ form.field(customer, 'passport_id').grid('col-md-3', 'col-md-6').textInput|raw }}

        <button type="submit" class="btn btn-danger">
            {{ 'Save'|trans }}
            <span class="icon icon-angle-right"></span>
        </button>
    {{ form_end() }}
{% endblock %}


