{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="customer-account">
        <h1>{{ 'Login'|trans }}</h1>
        <h2 class="thin mb-4">{{ 'Login_Subtitle'|trans }}</h2>

        {% set form = form_begin({method: 'POST'}) %}
        {{ form.field(customer, 'email').size('lg').labelAsPlaceholder.textInput|raw }}
        {{ form.field(customer, 'password').size('lg').labelAsPlaceholder.passwordInput|raw }}

        <div class="form-group">
            <input type="submit" class="btn btn-lg btn-danger" value="Login">
            <a href="/customer-account/customer-account/forgot-password" class="btn btn-lg btn-inline">
                {{ 'Forgot_Password'|trans }}
            </a>
        </div>
        {{ form_end() }}
    </div>
{% endblock %}
