{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="customer-account">
        <h3>{{ 'Change_Password'|trans }}</h3>

        {% set form = form_begin({method: 'POST'}) %}
        {{ form.field(customer, 'newPassword').grid('col-md-3', 'col-md-6').passwordInput|raw }}
        {{ form.field(customer, 'newPasswordRepeat').grid('col-md-3', 'col-md-6').passwordInput|raw }}

        <div class="form-group row">
            <div class=" col-md-3">
                <button type="submit" class="btn btn-danger">
                    {{ 'Change_Password'|trans }} <span class="icon icon-angle-right float-md-right"></span>
                </button>
            </div>
        </div>
        {{ form_end() }}
    </div>
{% endblock %}
