<li class="level2">
    <a href="{{ url('/smartwatches') }}">{{ 'cat-main-smartwatch'|trans('view') }}</a>
    <ul>
        <li class="level3">
            <a href="{{ url('/category/category/smartwatches', {setName: 32}) }}">Apple</a>
        </li>
        <li class="level3">
            <a href="{{ url('/category/category/smartwatches', {setName: 17}) }}">Samsung</a>
        </li>
        <li class="level3">
            <a href="{{ url('/category/category/smartwatches', {setName: 44}) }}">Huawei</a>
        </li>
    </ul>
</li>
