<div class="navi-layer">
    <div class="navi-layer-wrapper">
        <div class="row">
            <div class="col-md-7">
                <ul class="level1">
                    <li class="level2">
                        <a href="{{ Url.to(['/page/support/repair']) }}">{{ 'cat-support-express-repair'|trans('view') }}</a>
                    </li>
                    <li class="level2">
                        <a href="{{ Url.to(['/page/support/service-garantie']) }}">{{ 'cat-support-service-guarantee'|trans('view') }}</a>
                    </li>
                    <li class="level2">
                        <a href="{{ Url.to(['/page/support/device-insurance']) }}">{{ 'cat-support-insurance'|trans('view') }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                {% include '@views/marketing/marketing-image.twig' with {
                    item_tag: 'navi-layer-smartwatches-teaser',
                    item_name: 'Navi Smartwatches',
                    item_position: 'Navi Smartwatches',
                } %}
            </div>
        </div>
    </div>
</div>
