<div class="navi-layer">
    <div class="navi-layer-wrapper">
        <div class="row">
            <div class="col-md-8">
                <ul class="level1">
                    <li class="level2">
                        <a href="/{{ 'occasion-handy-gebraucht'|trans('view') }}">
                            {{ 'Navi_Refurbished'|trans('view') }}
                        </a>
                    </li>
                    <li class="level2">
                        <a href="/{{ 'iphone-occasion-gebraucht-apple'|trans('view') }}">
                            {{ 'Navi_Refurbished_IPhone'|trans('view') }}
                        </a>
                    </li>
                    <li class="level2">
                        <a href="/{{ 'handy-verkaufen'|trans('view') }}">
                            {{ 'Navi_Sale_Phone'|trans('view') }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>
