{% set product_category_id = constant('app\\models\\ProductCategoryModel::TABLET') %}

<div class="navi-layer">
    <div class="navi-layer-wrapper">
        <div class="row">
            <div class="col-md-7">
                <ul class="level1">
                    <li class="level2 hidden-lg-up">
                        <a href="{{ Url.to(['/category/category/tablets'], true) }}">
                            {{ 'Navi_All_Tablets'|trans('view') }}
                        </a>
                    </li>
                    {% for manufacturer in NavigationItems.getManufacturer(product_category_id) %}
                        <li class="level2">
                            <a href="{{ url('/category/category/tablets', { setName: manufacturer.id }) }}">
                                {{ manufacturer.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-5">
                {% include '@views/marketing/marketing-image.twig' with {
                    item_tag: 'navi-layer-tablets-teaser',
                    item_name: 'Navi Tablets',
                    item_position: 'Navi Tablets',
                } %}
            </div>
        </div>
    </div>
</div>
