<div class="navi-layer">
    <div class="navi-layer-wrapper">
        <div class="row">
            <div class="col-md-7">
                <ul class="level1">
                    <li class="level2 hidden-lg-up">
                        <a href="{{ Url.to(['/category/category/accessories'], true) }}">
                            {{ 'Navi_All_Accessories'|trans('view') }}
                        </a>
                    </li>

                    {% for category in NavigationItems.getAccessoryCategories() %}
                        <li class="level2">
                            <a href="{{ url('/category/category/accessories', { setName: category.title }) }}">
                                {{ ('cat-main-' ~ category.title)|trans('view') }}
                            </a>
                            <ul>
                                {% for set in NavigationItems.getAccessorySetsByCategoryId(category.id) if category.title != set %}
                                    <li class="level3">
                                        <a href="{{ url('/category/category/accessories', {setName: set}) }}">
                                            {{ ('cat-' ~ set)|trans('view') }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}

                    {% include '@views/header/navigation-bar/navi-layer-smartwatches.twig' %}
                </ul>
            </div>
            <div class="col-md-5">
                {% include '@views/marketing/marketing-image.twig' with {
                    item_tag: 'navi-layer-accessories-teaser',
                    item_name: '',
                    item_position: 'Navi Accessories',
                } %}
            </div>
        </div>
    </div>
</div>
