<div class="navi-layer">
    <div class="navi-layer-wrapper">
        <div class="row">
            <div class="col-md-8">
                <ul class="level1">
                    <li class="level2">
                        <a href="{{ url('/product/renewal-request/index', {mode: 'contract-renewal'}) }}">{{ 'Navi_Contract_Renewal'|trans('view') }}</a>
                    </li>
                    <li class="level2">
                        <a href="{{ Url.to(['/tariff/tariff/porting', {mode: 'porting'}]) }}">{{ 'Navi_Contract_Porting'|trans('view') }}</a>
                    </li>
                    <li class="level2">
                        <a href="{{ url('/tariff/tariff/overview', {mode: 'new-number'}) }}">{{ 'Navi_Contract_Newnumber'|trans('view') }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                {% include '@views/marketing/marketing-image.twig' with {
                    item_tag: 'navi-layer-smartwatches-teaser',
                    item_name: 'Navi Smartwatches',
                    item_position: 'Navi Smartwatches',
                } %}
            </div>
        </div>
    </div>
</div>
