<div>
    {% set form = form_begin({method: 'POST', action: '/customer-account/newsletter/signup'}) %}

    <div class="custom-controls-inline">
        {{ form.field(newsletter, 'sex').inline().label(false).genderRadioList|raw }}
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ form.field(newsletter, 'firstname').labelAsPlaceholder.textInput|raw }}
        </div>
        <div class="col-sm-6">
            {{ form.field(newsletter, 'lastname').labelAsPlaceholder.textInput|raw }}
        </div>
        <div class="col-sm-6">
            {{ form.field(newsletter, 'email').labelAsPlaceholder.textInput|raw }}
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <button type="submit" class="btn btn-danger">
                    {{ 'Subscribe'|trans('view') }}
                    <span class="icon icon-angle-right"></span>
                </button>
            </div>
        </div>
    </div>
    {{ form_end() }}
</div>
