{% extends "@customer-account/layout-double-headline.twig" %}

{% block customer_headline_1 %}
    {{ 'Newsletter_Settings'|trans }}
{% endblock %}

{% block customer_headline_2 %}
    {{ 'Newsletter_Settings_Subtitle'|trans }}
{% endblock %}

{% block customer_content %}
    {% set form = form_begin({method: 'PUT'}) %}
    <div class="mb-4">
        {{ form.field(newsletter, 'active').size('lg').checkBox|raw }}
    </div>

    <button type="submit" class="btn btn-danger">
        {{ 'Save'|trans }}
        <span class="icon icon-angle-right"></span>
    </button>
    {{ form_end() }}
{% endblock %}
