{% if show_total is not defined %}
    {% set show_total = true %}
{% endif %}
{% if total > per_page %}
    <div class="text-center d-block load-more-button mb-3"
         data-target="{{ target|default('body') }}"
         data-per-page="{{ per_page|default(50) }}"
         data-total="{{ total|default(0) }}"
    >
        <button class="btn btn-success">
            {% if show_total %}
                {{ 'Load_More_Results'|trans('app', {'per_page': per_page|default(50), 'total': total|default(0) })|raw }}
            {% else %}
                {{ 'Load_More_Results_Without_Total'|trans('app') }}
            {% endif %}
        </button>
    </div>
{% endif %}
