<div class="col-lg-4 pull-lg-8">
    <div id="side-navi-accordion" class="side-navi mb-1" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a class="collapsed" data-toggle="collapse" data-parent="#side-navi-accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <span class="icon icon-angle-right"></span>{{ 'Page_Tree_Company'|trans('staticcontent') }}
                </a>
            </div>
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    <a href="{{ Url.to(['/page/about/about-us'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_About_Us'|trans('staticcontent') }}</a>
                    <a href="{{ Url.to(['/page/about/business-units'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Business_Units'|trans('staticcontent') }}</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <a class="collapsed" data-toggle="collapse" data-parent="#side-navi-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="icon icon-angle-right"></span>{{ 'Page_Tree_Media'|trans('staticcontent') }}
                </a>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block">
                    <a href="{{ Url.to(['/page/about/news'], true) }}" class="news"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_News'|trans('staticcontent') }}</a>
                    <a href="{{ Url.to(['/page/about/media-service'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Media_Service'|trans('staticcontent') }}</a>
                    <a href="{{ Url.to(['/page/about/contact'], true) }}?id=9"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Media_Contact'|trans('staticcontent') }}</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <a class="collapsed" data-toggle="collapse" data-parent="#side-navi-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="icon icon-angle-right"></span>{{ 'Page_Tree_Investors'|trans('staticcontent') }}
                </a>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block">
                    <a href="{{ Url.to(['/page/about/key-figures'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Key_Figures'|trans('staticcontent') }}</a>
                    <a href="{{ 'Page_Share_Price_Link'|trans('staticcontent') }}" target="_blank"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Share_Price'|trans('staticcontent') }}</a>
                    <a href="{{ Url.to(['/page/about/calendar'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Calendar'|trans('staticcontent') }}</a>
                    <a href="{{ Url.to(['/page/about/reports'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Reports'|trans('staticcontent') }}</a>
                    <a href="{{ Url.to(['/page/about/ir-service'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_IR_Service'|trans('staticcontent') }}</a>
                    <a href="{{ Url.to(['/page/about/contact'], true) }}?id=8"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Investor_Contact'|trans('staticcontent') }}</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <a class="collapsed" data-toggle="collapse" data-parent="#side-navi-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <span class="icon icon-angle-right"></span>{{ 'Page_Tree_Governance'|trans('staticcontent') }}
                </a>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="card-block">
                    <a href="{{ Url.to(['/page/about/structure'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Structure'|trans('staticcontent') }}</a>
                    <a href="{{ Url.to(['/page/about/board-of-directors'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Board_of_Directors'|trans('staticcontent') }}</a>
                    <a href="{{ Url.to(['/page/about/group-management'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Group_Management'|trans('staticcontent') }}</a>
                    <a href="{{ Url.to(['/page/about/management-team-trade'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Management_Team'|trans('staticcontent') }} <small>({{ 'Page_Tree_Management_Trade'|trans('staticcontent') }})</small></a>
                    <a href="{{ Url.to(['/page/about/management-team-service-providing'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Management_Team'|trans('staticcontent') }} <small>({{ 'Page_Tree_Management_Service_Providing'|trans('staticcontent') }})</small></a>
                    <a href="{{ Url.to(['/page/about/downloads'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Principles'|trans('staticcontent') }}</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed" href="{{ Url.to(['/page/about/contact'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Contact'|trans('staticcontent') }}</a>
            </div>
        </div>
    </div>

    {% include "@page/about/parts/en-lang-switch.twig" %}

    {% if sidebarExtension %}
        {% include "@page/about/parts/contact-info.twig" %}
    {% endif %}
</div>
