<div class="col-lg-4 pull-lg-8">
    <div id="side-navi-accordion" class="side-navi" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" data-parent="#side-navi-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="icon icon-angle-right"></span>Company
                </a>
            </div>
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    <a href="{{ Url.to(['/page/about/about-us-en'], true) }}"><span class="icon icon-angle-right"></span>About us</a>
                    <a href="{{ Url.to(['/page/about/business-units-en'], true) }}"><span class="icon icon-angle-right"></span>Business Units</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <a class="collapsed" data-toggle="collapse" data-parent="#side-navi-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="icon icon-angle-right"></span>Media
                </a>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block">
                    <a href="{{ Url.to(['/page/about/news-en'], true) }}" class="news"><span class="icon icon-angle-right"></span>News</a>
                    <a href="{{ Url.to(['/page/about/media-service-en'], true) }}"><span class="icon icon-angle-right"></span>Media Service</a>
                    <a href="{{ Url.to(['/page/about/contact-en'], true) }}?id=9"><span class="icon icon-angle-right"></span>Contact for Media</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <a class="collapsed" data-toggle="collapse" data-parent="#side-navi-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="icon icon-angle-right"></span>Investors
                </a>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block">
                    <a href="{{ Url.to(['/page/about/key-figures-en'], true) }}"><span class="icon icon-angle-right"></span>Key Figures</a>
                    <a href="http://www.six-swiss-exchange.com/shares/security_info_en.html?id=CH0276837694CHF4" target="_blank"><span class="icon icon-angle-right"></span>Share Price</a>
                    <a href="{{ Url.to(['/page/about/calendar-en'], true) }}"><span class="icon icon-angle-right"></span>Calendar</a>
                    <a href="{{ Url.to(['/page/about/reports-en'], true) }}"><span class="icon icon-angle-right"></span>Reports</a>
                    <a href="{{ Url.to(['/page/about/ir-service-en'], true) }}"><span class="icon icon-angle-right"></span>IR-Service</a>
                    <a href="{{ Url.to(['/page/about/contact-en'], true) }}?id=8"><span class="icon icon-angle-right"></span>Contact for Investors</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <a class="collapsed" data-toggle="collapse" data-parent="#side-navi-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <span class="icon icon-angle-right"></span>Governance
                </a>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="card-block">
                    <a href="{{ Url.to(['/page/about/structure-en'], true) }}"><span class="icon icon-angle-right"></span>Structure</a>
                    <a href="{{ Url.to(['/page/about/board-of-directors-en'], true) }}"><span class="icon icon-angle-right"></span>Board of Directors</a>
                    <a href="{{ Url.to(['/page/about/group-management-en'], true) }}"><span class="icon icon-angle-right"></span>Group Management</a>
                    <a href="{{ Url.to(['/page/about/management-team-en'], true) }}"><span class="icon icon-angle-right"></span>Management Team</a>
                    <a href="{{ Url.to(['/page/about/downloads-en'], true) }}"><span class="icon icon-angle-right"></span>Downloads</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed" href="{{ Url.to(['/page/about/contact-en'], true) }}"><span class="icon icon-angle-right"></span>Contact</a>
            </div>
        </div>
    </div>

    {% include "@page/about/parts/en-lang-switch.twig" %}

    {% if sidebarExtension %}
        {% include "@page/about/parts/contact-info.twig" with { en: true } %}
    {% endif %}
</div>
