<div class="aside-contact-info">
    <h2>{{ en ? 'Contact information' : ('Contact_Aside_Header'|trans('staticcontent')) }}</h2>
    <p>
        <h3>mobilezone ag</h3>
        Suurstoffi 22<br>
        6343 Rotkreuz<br>
        <br>
        Tel.: +41 43 388 77 11
    </p>

    <h3>{{ ('Contact_Aside_Customer_Service'|trans('staticcontent')|raw) }}</h3>
    <p>
        Tel.: +41 43 388 77 09<br>
        E-Mail: <a href="mailto:info@mobilezone.ch">info@mobilezone.ch</a> <br>
        <br>
        {{ ('Contact_Aside_Divers_Time'|trans('staticcontent')|raw) }}
    </p>

    <h3>Online Shop</h3>
    <p>
        Tel.: +41 43 388 77 99<br>
        E-Mail: <a href="mailto:onlineshop@mobilezone.ch">onlineshop@mobilezone.ch</a> <br>
        <br>
        {{ ('Contact_Aside_Online_Time'|trans('staticcontent')|raw) }}
    </p>

    <h3>{{ en ? 'Contact for media' : ('Contact_Aside_Contact_Media'|trans('staticcontent')) }}</h3>
    <p>
        Markus Bernhard, Chief Executive Officer<br>
        Andreas Fecker, Chief Financial Officer<br>
        <br>
        Tel.: +41 43 388 77 99<br>
        E-Mail: <a href="mailto:mobilezoneholding@mobilezone.ch">mobilezoneholding@mobilezone.ch</a>
    </p>

</div>
