{% set action_id = app.controller.action.id %}
{% set is_en = (action_id|slice(action_id|length() - 3, 3)) == '-en' %}
{% set en_link = '/page/about/' ~ (is_en ? action_id : action_id ~ '-en') %}
{% set regular_link = '/page/about/' ~ (is_en ? (action_id|slice(0, action_id|length() - 3)) : action_id) %}

<div class="language-switch">
    <a href="{{ Url.to([en_link], true) }}"
       class="lang lang-en">
        EN
    </a>
    <a href="{{ Url.to([regular_link], true) }}"
       class="lang">
        {{ app.language|slice(0, 2)|upper }}
    </a>
</div>
