<li>
    <span class="date">{{ event.date }}</span>

    <span class="headline">
        {{ event.title }}

        {% if event.download_title_one %}
            <br><a href="{{ event.download_link_one }}" target="_blank">{{ event.download_title_one }}</a>
        {% endif %}

        {% if event.download_title_two %}
            <br><a href="{{ event.download_link_two }}" target="_blank">{{ event.download_title_two }}</a>
        {% endif %}
    </span>
</li>