<div class="row row-person">
    <div class="col-sm-3">
        <img src="{{ asset('img/person/'~ person.img) }}" alt="{{ person.name }}">
    </div>

    <div class="col-sm-9">
        <h2>{{ person.name }} ({{ person.subtitle|trans('staticcontent') }})</h2>
        <p>{{ person.text|trans('staticcontent') }}</p>
    </div>
</div>
