{% set title = lang_key == 'en' ? report.title_en : report.title|trans('staticcontent') %}

<li>
    {{ title }}
    <div class="btn-group-right">

        {% if report.presentation_de %}
        <a class="btn btn-danger" {% if not report.no_pdf %}target="_blank"{% endif %}
           href="{{ report.presentation_de }}">
            {{ lang_key == 'en' ? 'Presentation': ('Präsentation'|trans('staticcontent')) }}
            <span class="icon icon-angle-right"></span>
        </a>
        {% endif %}

        <a class="btn btn-danger" {% if not report.no_pdf %}target="_blank"{% endif %}
           href="{{ report.no_pdf ? report.downloads_de : (('downloads/reports/' ~ report.downloads_de) | cdn) }}">
            {{ lang_key == 'en' ? 'German': ('German'|trans('staticcontent')) }}
            <span class="icon icon-angle-right"></span>
        </a>
        {% if report.downloads_en %}
            <a class="btn btn-danger" {% if not report.no_pdf %}target="_blank"{% endif %}
               href="{{ report.no_pdf ? report.downloads_en : (('downloads/reports/' ~ report.downloads_en) | cdn) }}">
                {{ lang_key == 'en' ? 'English' : ('English'|trans('staticcontent')) }}
                <span class="icon icon-angle-right"></span>
            </a>
        {% else %}
            <span class="placeholder"></span>
        {% endif %}
    </div>
</li>

