<table class="table-key-figures">
    <tr>
        <th>
            {{ en ?
                'Group <span class="font-weight-normal">(CHF 000 or as indicated)</span>' :
                ('Page_Key_Figures_Group'|trans('staticcontent')|raw)
            }}
        </th>
        <th>2017</th>
        <th>%</th>
        <th>2016</th>
        <th>%</th>
        <th>2015</th>
        <th>%</th>
    </tr>
    <tr>
        <td>{{ en ? 'Net sales' : ('Page_Key_Figures_Net_Sales'|trans('staticcontent')) }}</td>
        <td>1 171 578</td>
        <td></td>
        <td>1 087 855</td>
        <td></td>
        <td>859 020</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ en ? 'Gross profit' : ('Page_Key_Figures_Gross'|trans('staticcontent')) }}</td>
        <td>149 826</td>
        <td>12.8<sup>1</sup></td>
        <td>143 966</td>
        <td>13.2<sup>1</sup></td>
        <td>133 608</td>
        <td>15.6<sup>1</sup></td>
    </tr>
    <tr>
        <td>{{ en ? 'Operating profit (EBITDA)' : ('Page_Key_Figures_EBITDA'|trans('staticcontent')) }}</td>
        <td>55 954</td>
        <td>4.8<sup>1</sup></td>
        <td>54 255</td>
        <td>5.0<sup>1</sup></td>
        <td>47 388</td>
        <td>5.5<sup>1</sup></td>
    </tr>
    <tr>
        <td>{{ en ? 'Operating profit (EBIT)' : ('Page_Key_Figures_EBIT'|trans('staticcontent')) }}</td>
        <td>50 123</td>
        <td>4.3<sup>1</sup></td>
        <td>48 471</td>
        <td>4.5<sup>1</sup></td>
        <td>40 434</td>
        <td>4.7<sup>1</sup></td>
    </tr>
    <tr>
        <td>{{ en ? 'Net consolidated profit' : ('Page_Key_Figures_Net_Profit'|trans('staticcontent')) }}</td>
        <td>35 226</td>
        <td>3.0<sup>1</sup></td>
        <td>36 147</td>
        <td>3.3<sup>1</sup></td>
        <td>30 821</td>
        <td>3.6<sup>1</sup></td>
    </tr>
    <tr class="spacer">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{ en ? 'Total assets' : ('Page_Key_Figures_Total'|trans('staticcontent')) }}</td>
        <td>302 640</td>
        <td></td>
        <td>192 887</td>
        <td></td>
        <td>162 368</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ en ? 'Net cash & cash equivalents' : ('Page_Key_Figures_Net_Cash'|trans('staticcontent')) }}</td>
        <td>–70 200</td>
        <td></td>
        <td>-66 152</td>
        <td></td>
        <td>-65 268</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ en ? 'Shareholders\' equity' : ('Page_Key_Figures_Equity'|trans('staticcontent')) }}</td>
        <td>8 977</td>
        <td>3.0<sup>2</sup></td>
        <td>-3 294</td>
        <td>-1.7<sup>2</sup></td>
        <td>-12 142</td>
        <td>-7.5<sup>2</sup></td>
    </tr>
    <tr class="spacer">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{ en ? 'Net debt-to-EBITDA ratio' : ('Page_net_debt_to_ebitda'|trans('staticcontent')) }}</td>
        <td>1.25</td>
        <td></td>
        <td>1.22</td>
        <td></td>
        <td>1.38</td>
        <td></td>
    </tr>
    <tr class="spacer">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            {{ en ?
                'Net cash from operating activities' :
                ('Page_Key_Figures_Net_By_Activities'|trans('staticcontent'))
            }}
        </td>
        <td>45 911</td>
        <td></td>
        <td>40 440</td>
        <td></td>
        <td>20 020</td>
        <td></td>
    </tr>
    <tr>
        <td>
            {{ en ?
                'Investments in property, plant & equipment and intangible assets' :
                ('Page_Key_Figures_Investment'|trans('staticcontent'))
            }}
        </td>
        <td>10 947</td>
        <td></td>
        <td>9 809</td>
        <td></td>
        <td>6 460</td>
        <td></td>
    </tr>
    <tr class="spacer">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            {{ en ?
                'Number of full-time employees as of December 31' :
                ('Page_Key_Figures_Employees'|trans('staticcontent'))
            }}
        </td>
        <td>867</td>
        <td></td>
        <td>878</td>
        <td></td>
        <td>918</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ en ? 'Number of shops as of December 31' : ('Page_Key_Figures_Shops'|trans('staticcontent')) }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="pl-1">{{ en ? 'Switzerland' : ('Page_Key_Figures_Switzerland'|trans('staticcontent')) }}</td>
        <td>124</td>
        <td></td>
        <td>129</td>
        <td></td>
        <td>127</td>
        <td></td>
    </tr>
    <tr>
        <td class="pl-1">{{ en ? 'Germany' : ('Page_Key_Figures_Germany'|trans('staticcontent')) }}</td>
        <td>65</td>
        <td></td>
        <td>55</td>
        <td></td>
        <td>43</td>
        <td></td>
    </tr>
    <tr class="spacer">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            {{ en ?
                '<strong>Data per title</strong> (CHF 000 or as indicated)' :
                ('Page_Key_Figures_Information'|trans('staticcontent')|raw)
            }}
        </td>
        <td><strong>2017</strong></td>
        <td></td>
        <td><strong>2016</strong></td>
        <td></td>
        <td><strong>2015</strong></td>
        <td></td>
    </tr>
    <tr>
        <td>
            {{ en ?
                'Number of shares issued as of December 31 (pieces)' :
                ('Page_Key_Figures_Shares'|trans('staticcontent'))
            }}
        </td>
        <td>32 195 697</td>
        <td></td>
        <td>32 195 697</td>
        <td></td>
        <td>32 195 697</td>
        <td></td>
    </tr>
    <tr>
        <td>
            {{ en ?
                'Weighted average number of outstanding shares (pieces)' :
                ('Page_Key_Figures_Average_Shares'|trans('staticcontent'))
            }}
        </td>
        <td>32 163 959</td>
        <td></td>
        <td>32 179 994</td>
        <td></td>
        <td>32 195 697</td>
        <td></td>
    </tr>
    <tr>
        <td>
            {{ en ?
                'Earnings per share – undiluted/diluted' :
                ('Page_Key_Figures_Earnings'|trans('staticcontent'))
            }}
        </td>
        <td>1.10</td>
        <td></td>
        <td>1.12</td>
        <td></td>
        <td>0.96</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ en ? 'Equity per share' : ('Page_Key_Figures_Equity_Share'|trans('staticcontent')) }}</td>
        <td>0.28</td>
        <td></td>
        <td>-0.10</td>
        <td></td>
        <td>-0.38</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ en ? 'Payout per share' : ('Page_Key_Figures_Dividend'|trans('staticcontent')) }}</td>
        <td>0.60<sup>3</sup></td>
        <td></td>
        <td>0.60<sup></sup></td>
        <td></td>
        <td>0.60</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ en ? 'Share price (highest/lowest)' : ('Page_Key_Figures_Price_High_Low'|trans('staticcontent')) }}</td>
        <td>15.95/11.45</td>
        <td></td>
        <td>14.75/12.15</td>
        <td></td>
        <td>17.55/10.50</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ en ? 'Share price as of December' : ('Page_Key_Figures_Price_End'|trans('staticcontent')) }}</td>
        <td>12.85</td>
        <td></td>
        <td>14.50</td>
        <td></td>
        <td>14.35</td>
        <td></td>
    </tr>
</table>
<div class="footnotes">
    <p>
        <small>
            1 = {{ en ?
                'In percent of net sales.' :
                ('Page_Key_Figures_Footnote_One'|trans('staticcontent'))
            }}
        </small>
    </p>
    <p>
        <small>
            2 = {{ en ?
                'In percent of the balance sheet total.' :
                ('Page_Key_Figures_Footnote_Two'|trans('staticcontent'))
            }}
        </small>
    </p>
    <p>
        <small>
            3 = {{ en ?
                'In accordance with the proposal of the Board of Directors to the General Meeting on April 5, 2018.' :
                ('Page_Key_Figures_Footnote_Three'|trans('staticcontent'))
            }}
        </small>
    </p>
</div>
