{% extends "@page/jobs.twig" %}

{% block static_headline %}
    {{ 'Page_Education_Title'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    <h2>{{ 'Page_Education_Sub'|trans('staticcontent') }}</h2>
    {{ 'Page_Education_Content'|trans('staticcontent')|raw }}
    <div class="img-hover-wrapper">
        <img src="{{ ('images/people/lernender_1.png')|cdn }}" alt="Trainee">
        <div class="img-hover-text">{{ 'Page_Education_Person_One_Text'|trans('staticcontent') }}</div>
    </div>
    <div class="img-hover-wrapper">
        <img src="{{ ('images/people/lernender_2.png')|cdn }}" alt="Trainee">
        <div class="img-hover-text">{{ 'Page_Education_Person_Two_Text'|trans('staticcontent') }}</div>
    </div>
    <div class="img-hover-wrapper">
        <img src="{{ ('images/people/lernender_3.png')|cdn }}" alt="Trainee">
        <div class="img-hover-text">{{ 'Page_Education_Person_Three_Text'|trans('staticcontent') }}</div>
    </div>
{% endblock %}
