{% extends "@page/jobs.twig" %}

{% block static_headline %}
    {{ job.title }}
{% endblock %}

{% block static_content %}
    <div class="lead">{{ job.location }}</div>

    <p class="job-description">{{ job.text|raw }}</p>

    <a href="{{ Url.to(['/page/jobs/positions'], true) }}" class="btn btn-success">
        {{ 'Back_To_Job_Overview'|trans('staticcontent') }}
    </a>
    <a href="http://www.ostendis.ch/" class="btn btn-success float-right" target="_blank">
        {{ 'Apply_Now'|trans('staticcontent') }}
    </a>
    <a href="mailto:jobs@mobilezone.ch?subject={{ job.title }}" class="btn btn-success float-right mr-2">
        {{ 'Apply_Now_Mail'|trans('staticcontent') }}
    </a>
{% endblock %}
