{% extends "@page/jobs.twig" %}

{% block static_headline %}
    {{ 'Page_Jobs_Title'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    <p>{{ 'Page_Jobs_Content'|trans('staticcontent')|raw }}</p>
{% endblock %}