{% extends "@page/jobs.twig" %}

{% block static_headline %}
    {{ 'Page_Positions_Title'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    {% set jobDisplayed = false %}
    {% for jobCategory in jobCategories %}
        {% if jobCategory.localizedJobs|length > 0 %}
            {% set jobDisplayed = true %}
            <h2>{{ jobCategory.title }}</h2>
            <ul class="list-unstyled">
                {% for job in jobCategory.localizedJobs %}
                    <li>
                        <a href="{{ url('/page/jobs/job', { slug: job.slug }) }}">
                            <strong>{{ job.title }}</strong><br>
                            <span class="location">{{ job.location }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}

    {% if not jobDisplayed %}
        <div class="alert alert-success">
            {{ 'No_Joboffer_Found'|trans('staticcontent') }}
        </div>
    {% endif %}
{% endblock %}
