{% extends "@page/jobs.twig" %}

{% block static_headline %}
    {{ 'Page_Work_Title'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    <h2>{{ 'Page_Work_Sub'|trans('staticcontent') }}</h2>
    {{ 'Page_Work_Content'|trans('staticcontent')|raw }}
    <div class="img-hover-wrapper">
        <img src="{{ asset('img/person/milena.png') }}" alt="Employee">
        <div class="img-hover-text">{{ 'Page_Work_Person_One_Text'|trans('staticcontent') }}</div>
    </div>

    <div class="img-hover-wrapper">
        <img src="{{ asset('img/person/julien.png') }}" alt="Employee">
        <div class="img-hover-text">{{ 'Page_Work_Person_Two_Text'|trans('staticcontent') }}</div>
    </div>

    <div class="img-hover-wrapper">
        <img src="{{ asset('img/person/vanessa.png') }}" alt="Employee">
        <div class="img-hover-text">{{ 'Page_Work_Person_Three_Text'|trans('staticcontent') }}</div>
    </div>
{% endblock %}