{% extends "@views/layouts/base.twig" %}

{% block content %}
    {% if landingpage.title starts with '*' %}
    {% else %}
        <h1>{{ landingpage.title }}</h1>
    {% endif %}

    {{ include(template_from_string(landingpage.html_code)) }}
{% endblock %}