<div class="form-group">
    <a class="btn btn-lg btn-default float-sm-left" href="{{ Url.to('/checkout/checkout/back') }}">
        {{ 'Back'|trans }}
    </a>
    <button type="submit" class="btn btn-lg btn-danger float-sm-right">
        {{ 'Continue'|trans }}
        <span class="icon icon-angle-right"></span>
    </button>
</div>
