<div class="row">
    <div class="col-lg-8">
        {% set form = form_begin({id: 'checkout-step', method: 'POST', action: '/checkout/checkout/process'}) %}
            {% block content %}{% endblock %}
            {% block footer %}
                {% include '@checkout/steps/footer.twig' %}
            {% endblock %}
        {{ form_end() }}
    </div>
    <div class="col-lg-4 hidden-md-down checkout-aside">
        {% block sidebar_right %}
            {% include '@checkout/steps/items.twig' with {items: active_step.data.items} %}
        {% endblock %}
    </div>
</div>
