<div class="row">
    <div class="col-lg-12">
        {% set form = form_begin({id: 'checkout-step', method: 'POST', action: '/checkout/checkout/process'}) %}
            {% block content %}{% endblock %}
        {{ form_end() }}
        {% block footer %}
            {% include '@checkout/steps/footer.twig' %}
        {% endblock %}
    </div>
    {% block end %}{% endblock %}
</div>
