$filter-box-width: 260px;

.filters {
  > .icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: $spacer / 2;
    background: $brand-primary;
    color: $brand-info;
    font-size: 25px;
    box-shadow: $box-shadow;
    cursor: pointer;
    z-index: 12;
  }

  .blackout {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $gray-light;
    opacity: .7;
    z-index: 10;
  }

  [type='checkbox'] {
    position: absolute;
    top: -9999px;
    left: -9999px;

    &:checked {
      ~ .filter-layer {
        display: block;
      }

      ~ .blackout {
        display: block;
      }
    }
  }

  .filter-layer {
    display: none;
    position: absolute;
    top: 43px;
    right: 0;
    width: $filter-box-width;
    background: $brand-info;
    z-index: 11;

    li {
      margin-right: -1px;
      margin-bottom: -1px;
      margin-left: -1px;
      padding: 0;

      &:first-child {
        padding: $spacer;
        font-weight: bold;
      }
    }

    .filter-group-choice {
      padding: $spacer;
      border: $border-width solid $gray-lighter;

      .custom-radio {
        margin-bottom: 0;
      }
    }

    .filter-group-slider {
      margin: 0;
      padding: {
        top: $spacer;
        right: $spacer;
        left: $spacer;
      }
      border: $border-width solid $gray-lighter;
    }

    &.filter-layer-mobile {
      @include media-breakpoint-down(md) {
        li {
          margin-left: 0;
        }

        .filter-group-layer li:first-child {
          padding: 0;
          font-weight: normal;
        }
      }
    }
  }

  &.filter-groups-mobile {
    .filter-layer li {
      margin: 0;
    }
  }
}

.filter-group.active > span {
  color: $brand-danger;
}

.subs-filter-mobile {
  position: relative;
}
