#loader {
  position: fixed;
  z-index: 999999;
  background: rgba(255,255,255,0.8);
  top: 0; left: 0; right: 0; bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    animation: loader 1s ease-in-out infinite alternate;
    -webkit-animation: loader 1s ease-in-out infinite alternate;
    max-width: 100px;
  }

}

@keyframes loader {
  0% {
    transform: scale(1.0);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0.5;
  }
}