<div class="brand-list mt-3 row">
    <div class="my-5 col-6">
        <h2 class="h1">{{ 'Homepage_Our_Manufacturers'|trans('view') }}</h2>
        <p>{{ 'Homepage_The_Newest_Hardware_Of_The_Most_Popular_Manufacturers'|trans('view') }}</p>
        <hr>
        <div class="row">
            {% for manufacturer in manufacturers %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                    <a href="{{ url('/category/category/smartphones', { manufacturerId: manufacturer.id }) }}">
                        <img src="{{ manufacturer.image|image('product-brand-image')|default(asset('/img/no_image_big.png')) }}"
                            alt ="{{ manufacturer.title }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="my-5 col-6">
        <h2 class="h1">{{ 'Homepage_Our_Providers'|trans('view') }}</h2>
        <p>{{ 'Homepage_The_Best_Contracts_Of_All_Providers'|trans('view') }}</p>
        <hr>
        <div class="row">
            {% for provider in providers %}
                {% if provider.image %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                    {#<a href="{{ url('/category/category', {#}
                        {#'category':'contract',#}
                        {#'id':provider.id,#}
                        {#'manufacturerTitle': provider.title|lower,#}
                        {#'groupUrlText':provider.title|lower|replace({" ":"-"})#}
                    {#}) }}">#}
                    <a {% if provider.link %} href="{{ provider.link }}" {% endif %} class="py-2">
                       <img src="{{ provider.image|image('thumbnail') }}" alt="{{ provider.title }}">
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
