<div class="category-teasers">
    <div class="row">
        <div class="col-md-4">
            <a href="{{ Url.to(['/category/category/smartphones'], true) }}">
                <span class="icon icon-phone"></span>
                <span class="label">{{ 'Homepage_Smartphones'|trans('view') }}</span>
                <span class="icon icon-angle-right"></span>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ Url.to(['/category/category/accessories'], true) }}">
                <span class="icon icon-z-accessory"></span>
                <span class="label">{{ 'Navi_All_Accessories'|trans('view') }}</span>
                <span class="icon icon-angle-right"></span>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ 'Online_Katalog_Link'|trans('app') }}" target="_blank">
                <span class="icon icon-z-catalog"></span>
                <span class="label">{{ 'Online_Katalog'|trans('app') }}</span>
                <span class="icon icon-angle-right"></span>
            </a>
        </div>
    </div>
</div>
