{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="homepage">
        <div class="container-full-sm-down">
            {% include "@homepage/teaser.twig" %}
            {% include "@homepage/category-teasers.twig" %}
        </div>

        {% include "@homepage/product-slider.twig" with {
            slider_items: accessory_slider_items,
            header: 'Homepage_Accessory_Slider',
            url_path: '/product/product/accessories'
        } %}

        {% if MarketingImages.get('homepage-promo-1').target_url %}
            {% include "@homepage/promo-one.twig" %}
        {% endif %}

        {% include "@homepage/product-slider.twig" with {
            slider_items: top_ten_slider_items,
            header: 'Homepage_The_Best_Mobilephones',
            h1: true,
            url_path: '/product/product/smartphones'
        } %}

        {% if MarketingImages.get('homepage-promo-2').target_url %}
            {% include "@homepage/promo-two.twig" %}
        {% endif %}

        <div class="container-full">
            <div class="row flex-md-up">
                <div class="col-md-6">
                    {% include "@homepage/newsletter-box-big.twig" %}
                </div>
                <div class="col-md-6">
                    {% include "@homepage/shopfinder.twig" %}
                </div>
            </div>
        </div>

        {% include "@homepage/brand-list.twig" %}
        {% include "@views/common/about-us.twig" %}
    </div>
{% endblock %}
