<div class="newsletter-box-big no-gutter-right">
    <img class="img-fluid pb-4 hidden-xs-down" src="{{ asset('img/homepage/'~newsletter_image) }}" alt="Newsletter Teaser">
    <h2>{{ 'Homepage_Offers_By_Newsletter'|trans('view') }}</h2>
    <p>{{ 'Homepage_Subscribe_Now_Dont_Miss_Offers'|trans('view') }}</p>

    {% include '@customer-account/newsletter/form_advanced.twig' %}
</div>
