<div class="product-slider hp-card">

    {% if header %}

    <h{{ h1? '1 class="h2"' : '2' }}>
        {{ header|trans('view') }}
    </h{{ h1? '1' : '2' }}>

    {% endif %}

    <div class="scroll-pane">
        <ul>
            {% for article in slider_items %}
                {% set productName = article.group.short_name | default(article.product_name) | default('[Product Name]') %}
                <li>
                    <a href="{{ url( url_path , {
                           'id': article.id,
                           'manufacturerTitle': article.manufacturer_title|lower,
                           'groupUrlText': article.group.title|slugify
                       }) }}">
                        <img class="img-fluid img-mh mb-3"
                             alt="{{ article.product_name }}"
                             src="{{ article.images[0]|image('medium') | default(asset('img/no_image_big.png')) }}"/>
                        <div class="name" title="{{ productName }}">{{ productName }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
