<div class="hp-card">
    <div class="row">
        <div class="col-md-4">
            <h2>{{ 'Hompage_Promo_2_Title'|trans('view') }}</h2>
            <p>{{ 'Hompage_Promo_2_Text'|trans('view') }}</p>
            <a href="{{ MarketingImages.get('homepage-promo-2').target_url }}" class="btn btn-danger btn-sm">
                {{ 'Learn_More'|trans('shop-finder') }}
            </a>
        </div>
        <div class="col-md-8">
            {% include '@views/marketing/marketing-image.twig' with {
                item_tag: 'homepage-promo-2',
                item_name: 'Homepage Promotion',
                item_position: 'Promo 2',
            } %}
        </div>
    </div>
</div>
