<div class="shopfinder no-gutter-left">
    <img class="img-fluid" src="{{ asset('img/homepage/img_maps.png') }}" alt="Shopfinder Map">

    <div class="shopfinder-wrapper">
        <h2>
            <span class="icon icon-location"></span>
            <span>{{ 'Shopfinder_Location_Search'|trans('view') }}</span>
        </h2>
        <p>{{ 'Shopfinder_Find_The_Next_Mobilezone_Shop'|trans('view') }}</p>

        <div class="form-group">
            <form class="form-inline" method="get" action="{{ Url.to(['/shop-finder'], true) }}">
                <input id="google-maps-query" name="store" class="form-control" type="text"
                       placeholder="{{ 'Shopfinder_Enter_City_Or_Zip_Code'|trans('view') }}">
                <button class="btn btn-danger" type="submit">{{ 'Search'|trans('view') }}</button>
                {% if app.request.isSecureConnection %}
                    <div id="google-maps-mylocation-container" class="form-group">
                        <button id="google-maps-mylocation" class="btn btn-success" type="submit">
                            <span class="icon icon-location"></span>
                            <span>{{ 'Shopfinder_In_My_Vicinity'|trans('view') }}</span>
                        </button>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
