<div class="teaser mb-1">
    <div class="row">
        <div class="col-md-8">
            <div id="homepageTeaserCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">

                    {% for i in 1..9 %}
                        {% set mb = MarketingImages.get('homepage-slider-image-' ~ i) %}
                        {% if mb.target_url %}
                            <div class="carousel-item {% if i == 1 %}active{% endif %}">
                                {% include '@views/marketing/marketing-image.twig' with {
                                item_tag: 'homepage-slider-image-' ~ i,
                                item_name: 'Homepage Silder',
                                item_position: 'Slide ' ~ i,
                                } %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#homepageTeaserCarousel" role="button" data-slide="prev">
                    <span class="icon icon-angle-right h1"></span>
                </a>
                <a class="carousel-control-next" href="#homepageTeaserCarousel" role="button" data-slide="next">
                    <span class="icon icon-angle-right h1"></span>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row secondary-teaser">
                <div class="col-xs-12 col-sm-6 col-md-12">
                    {% include '@views/marketing/marketing-image.twig' with {
                        item_tag: 'homepage-side-teaser-1',
                        item_name: 'Homepage Sideteaser',
                        item_position: 'Top',
                    } %}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12">
                    {% include '@views/marketing/marketing-image.twig' with {
                        item_tag: 'homepage-side-teaser-2',
                        item_name: 'Homepage Sideteaser',
                        item_position: 'Bottom',
                    } %}
                </div>
            </div>
        </div>
    </div>
</div>
