{% extends "@customer-account/address/index.twig" %}

{% block customer_content %}
    {% set form = form_begin({method: 'PUT'}) %}
    {% include '@customer-account/address/form.twig' with {form: form, address: address} %}
    {{ form_end() }}
{% endblock %}
