<div class="custom-controls-inline">
    {{ form.field(address, 'sex').inline().label(false).genderRadioList|raw }}
</div>

{{ form.field(address, 'firstname').labelAsPlaceholder.textInput|raw }}
{{ form.field(address, 'lastname').labelAsPlaceholder.textInput|raw }}

<div class="form-group row row-sm">
    <div class="col-md-8">
        {{ form.field(address, 'street').labelAsPlaceholder.noFormGroup.textInput|raw }}
    </div>
    <div class="col-md-4">
        {{ form.field(address, 'houseNumber').labelAsPlaceholder.noFormGroup.textInput|raw }}
    </div>
</div>

<div class="form-group row row-sm">
    <div class="col-md-4">
        {{ form.field(address, 'zip').labelAsPlaceholder.noFormGroup.input('number')|raw }}
    </div>
    <div class="col-md-8">
        {{ form.field(address, 'city').labelAsPlaceholder.noFormGroup.textInput|raw }}
    </div>
</div>

{{ form.field(address, 'contactPhoneNumber').labelAsPlaceholder.telInput()|raw }}

{% if not address.is_default %}
    <div class="mb-4">
        {{ form.field(address, 'isDefault').size('lg').checkBox|raw }}
    </div>
{% endif %}

<button type="submit" class="btn btn-danger">
    {{ 'Save'|trans }}
    <span class="icon icon-angle-right"></span>
</button>

