{% extends "@customer-account/layout-double-headline.twig" %}

{% block customer_headline_1 %}
    {{ 'Address_Book'|trans }}
{% endblock %}

{% block customer_headline_2 %}
    {{ 'Address_Book_Subtitle'|trans }}
{% endblock %}

{% block customer_content %}
    {% if default_address %}
        <h3>{{ 'Default_Address'|trans }}</h3>

        <div>
            {% include '@customer-account/address/partials/address.twig' with {address: default_address} %}
        </div>

        <a class="text-danger" href="{{ Url.to('/customer-account/address/edit?id=' ~ default_address.id) }}">
            <u>{{ 'Edit'|trans }}</u>
        </a>
    {% endif %}

    {% if other_addresses|length > 0 %}
        <h3 class="mt-4">{{ 'Other_Addresses'|trans }}</h3>

        {% for address in other_addresses %}
            <div>
                {% include '@customer-account/address/partials/address.twig' with {address: address} %}
            </div>

            <a class="text-danger mr-1" href="{{ Url.to('/customer-account/address/edit?id=' ~ address.id) }}">
                <u>{{ 'Edit'|trans }}</u>
            </a>

            <div class="d-inline-block">
                {% set form = form_begin({method: 'DELETE', action: '/customer-account/address/delete' }) %}
                <input type="hidden" name="id" value="{{ address.id }}">
                <button type="submit" class="btn text-danger btn-link">
                    <u>{{ 'Delete'|trans }}</u>
                </button>
                {{ form_end() }}
            </div>
        {% endfor %}
    {% endif %}

    <div>
        <a href="{{ Url.to('/customer-account/address/add') }}" class="btn btn-danger mt-3">
            {{ 'Add_New_Address'|trans }}
            <span class="icon icon-angle-right"></span>
        </a>
    </div>
{% endblock %}
