@import '../../variables';

.subs-list {
  text-align: center;

  tr:hover .btn.buy-button {
    background: $brand-danger;
    color: #FFF;
  }

  .btn.buy-button {
    border-color: $brand-danger;
    color: $brand-danger;
    border-width: 2px;
    background: transparent;

    &:hover {
      background: darken($brand-danger, 10%) ! important;
      border-color: darken($brand-danger, 10%) ! important;
      color: #FFF;
    }

  }

  tr.active {
    background: $row-highlight;

    th {
      padding-left: $spacer;
      /* background-color: $row-highlight; */
    }

    &.selected {
      border: solid 2px $brand-success;
    }
  }

  th {
    /* padding-left: 0; */
    background-color: $brand-info;
    font-weight: bold !important;

    .tariff-title {
      font-weight: normal;
    }

    &:not(:first-child) {
      text-align: center;
    }

    &.title {
      background-color: transparent;
      img { max-height: 30px; opacity: 0.9; margin-bottom: 10px; }
    }

  }

  td {

    &:last-child {
      /* padding-right: 0; */
    }

    &.legal {
      padding: 0;
      width: 30px;
    }

    &.price-monthly {
      text-align:left;
      span { float: right; font-weight: bold; }
      width: 200px;
    }

    &.price-once {
      text-align: left;
      span { font-weight: bold; }

      width: 150px;
    }

    &.volume {
      width: 165px;
    }

    &.duration {
      width: 100px;
    }

    &.buy-button {
      width: 155px;
    }

  }

  .tariff-youth,
  .tariff-selected {
    position: relative;
    /* top: -12px; */
    top: -7px;
  }
}

.tariff-youth {
  padding: ($spacer / 4) ($spacer / 2);
  background: $brand-primary;
  color: $brand-info;
}

.tariff-selected {
  padding: ($spacer / 4) ($spacer / 2);
  background: $brand-success;
  color: $brand-info;
}

.subs-list-mobile {
  label {
    font-weight: bold;
  }

  .card-header {
    background: initial;
  }

  .card-footer {
    background: initial;
  }

  img {
    height: 25px;
  }

  h3 {
    margin-bottom: $spacer;
    color: $brand-danger;
  }

  ul {
    padding-left: $spacer;
  }

  li {
    margin-bottom: $spacer;
    font-weight: bold;
    line-height: 1;

    &::before {
      left: -1.3rem;
      top: 0.2rem;
      font-size: 0.8rem;
    }

    span {
      font-weight: normal;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  dl {
    margin-bottom: 0;
    overflow: hidden;
  }

  dt {
    float: left;
    font-weight: normal;
  }

  dd {
    margin-bottom: 0;
    float: right;
    font-weight: bold;
  }

  .price-onetime {
    dt {
      line-height: 2.5em;
    }

    dd {
      color: $brand-success;
      font-size: $font-size-h2;
    }
  }

  .price-contract {
    margin-bottom: $spacer;

    dt {
      line-height: 2.5em;
    }

    dd {
      font-size: $font-size-h2;
    }
  }

  .icon-info {
    font-size: $font-size-lg;
  }
}

.subs-list,
.subs-list-mobile {
  .icon-info {
    color: $brand-danger;
    cursor: pointer;
  }
}