@import '../../variables';

.subs-filter {
  label {
    max-width: 100%;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .filter-group {
    margin-bottom: $spacer;
  }

  @include media-breakpoint-up("xl") {
    border-top:1px solid #eee;
    padding-top: $spacer-y;
  }

}

.subs-filter,
.subs-filter-mobile {
  .single-select .icon-angle-down {
    display: none;
  }
}
