{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="shop-view">
        <div class="row mb-4">
            <div class="col-sm-12">
                <h1 class="mb-5">{{ shop.name }}</h1>
                <h2 class="mb-4">{{ 'Shop_Heading_Address_Openings'|trans('shop-finder') }}</h2>
            </div>

            <div class="col-md-4 col-xl-5 shop-view-business-times">
                <strong>{{ 'Business_Hours'|trans }}:</strong>
                <table style="max-width:300px;">
                    <tbody>
                    {% for weekday in 0..6 %}
                        {% for hours in shop.shop_hours.where('day', weekday) %}
                            <tr>
                                <td>{{ loop.index0 == 0 ? shop.weekdays[hours.day]|trans('app') }}</td>
                                <td class="text-right">{{ hours.opened_at|date('H:i') }} - {{ hours.closed_at|date('H:i') }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}

                    {% if shop.special_opening %}
                        <tr>
                            <td colspan="2">
                                <div class="alert alert-info mt-3">
                                    {{ shop.special_opening | raw | nl2br}}
                                </div>
                            </td>
                        </tr>
                    {% endif %}

                    </tbody>
                </table>

            </div>

            <div class="col-md-4">
                <strong>{{ 'Address'|trans('customer-account') }}:</strong>
                <p>
                    {% if shop.extra_line is not empty %}{{ shop.extra_line }}<br>{% endif %}
                    {{ shop.street }}<br>
                    {{ shop.zip }} {{ shop.city }}
                </p>

                <a href="http://maps.google.com/?q={{ shop.street ~ ', ' ~ shop.zip ~ ' ' ~ shop.city }}"
                   target="_blank" class="text-danger d-block mb-4">
                    <span class="icon icon-location mr-2"></span>
                    <small>{{ 'Navigate_To'|trans('shop-finder') }}</small>
                </a>

                {% if shop.phone %}
                    <strong>{{ 'Phone'|trans('shop-finder') }}:</strong>
                    <p>{{ shop.phone }}</p>
                {% endif %}
            </div>

            <div class="col-md-4 col-xl-3">
                <strong class="d-block mb-2">{{ 'Store_Manager'|trans('shop-finder') }}:</strong>
                <img src="{{ shop.manager_image|image }}"
                     class="img-fluid float-sm-left mr-2 img-shop-manager"
                     alt="Store Manager: {{ shop.manager_name }}">
                <span class="shop-manager-name float-sm-left">{{ shop.manager_name }}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-xl-9">
                <h2>{{ 'Our_Shop'|trans('shop-finder', {shop_name: shop.name}) }}</h2>
                {% if shop.description %}
                    <p class="mt-4">{{ shop.description }}</p>
                {% endif %}

                {% if shop.specials %}
                    <h3 class="mt-5">{{ 'Shop_Particularities'|trans('shop-finder', {shop_name: shop.name}) }}</h3>

                    <div class="container-fluid">
                        {% for special in shop.specials %}
                            <div class="row shop-particularity mt-2">
                                <div class="col-2 py-2">{{ special.special_title }}</div>
                                <div class="col-10 py-2">{{ special.special_description }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if shop.languages %}
                    <h3 class="mt-5">{{ 'Shop_Languages'|trans('shop-finder', { shop_name: shop.name }) }}</h3>
                    <p>
                        {% for language in shop.languages %}
                            {{ language.name }} {{ not loop.last ? ', ' }}
                        {% endfor %}
                    </p>
                {% endif %}

                {% if shop.certifications %}
                    <h3 class="mt-5">{{ 'Shop_Certifications'|trans('shop-finder', { shop_name: shop.name }) }}</h3>
                    <p>
                        {% for certification in shop.certifications %}
                            {{ certification.type }} {{ not loop.last ? ', ' }}
                        {% endfor %}
                    </p>
                {% endif %}

                {% include '@shop-finder/shop/shop-carousel.twig' %}
            </div>

            <div class="col-md-4 col-xl-3 hidden-sm-down">
                <div class="shop-view-nearby">
                    {% include '@shop-finder/shop/shop-list.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
