<div id="shopCarousel" class="carousel slide mt-5" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="{{ shop.shop_image_1|image }}"
                 class="img-fluid d-block"
                 alt="Shop image">
        </div>
        <div class="carousel-item">
            <img src="{{ shop.shop_image_2|image }}"
                 class="img-fluid d-block"
                 alt="Shop image">
        </div>
        <div class="carousel-item">
            <img src="{{ shop.shop_image_3|image }}"
                 class="img-fluid d-block"
                 alt="Shop image">
        </div>
    </div>
    <a class="carousel-control-prev" href="#shopCarousel" role="button" data-slide="prev">
        <span class="icon icon-angle-right h1"></span>
    </a>
    <a class="carousel-control-next" href="#shopCarousel" role="button" data-slide="next">
        <span class="icon icon-angle-right h1"></span>
    </a>
</div>
