<h3>{{ 'Shops_Near_By'|trans }}</h3>

{% for shop in shops.take(5) %}
    <div class="shop-view-nearby-shop">
        <span class="icon icon-location"><strong>{{ shop.city }}</strong></span><br>

        {{ shop.name }}<br>
        {% if shop.extra_line is not empty %}{{ shop.extra_line }}<br>{% endif %}
        {{ shop.street }}<br>
        {{ shop.zip }} {{ shop.city }}<br>
        {{ shop.phone }}<br>

        <p>
            {% include '@shop-finder/openings.twig' with {shop: shop} only %}
        </p>

        <a href="{{ url('/shop-finder/shop-finder/view', { id: shop.id, city: shop.city|lower }) }}" class="text-danger">
            {{ 'Learn_More'|trans }}
            <span class="icon icon-angle-right"></span>
        </a>
    </div>
{% endfor %}
