<script>
    dataLayer.push({
        'event': 'eeAddToBasket',
        'ecommerce': {
            'currencyCode': 'CHF',
            'add': {
                'products': [
                  {% include '@views/marketing/products/checkout-items.twig' with { items: articles.data.items } %}
                ]
            }
        }
    });
</script>
