<script>
    dataLayer.push({
        'event': 'eeCheckout',
        'ecommerce': {
            'currencyCode': 'CHF',
            'checkout': {
                'actionField': {
                  'step': {{ step }}
                },
                'products': [
                    {% include '@views/marketing/products/checkout-items.twig' with { items: articles.data.items } %}
                ]
            }
        }
    });
</script>
