<script>
  dataLayer.push({
    'event': 'eeCheckoutOption',
    'ecommerce': {
      'checkout_option': {
        'actionField': {
          'step': {{ step }},
          'option': '{{ option }}'
        }
      }
    },
  });
</script>
