<script>
  dataLayer.push({
    'event': 'eeProductView',
    'ecommerce': {
      'currencyCode': 'CHF',
      'detail': {
        'products': [
          {
            'id': '{{ id }}',
            'name': '{{ name }}',
            'price': '{{ price }}',
            'brand': '{{ brand }}',
            'category': '{{ category }}',
            'variant': '{{ variant }}',
            'quantity': 1,
          },
        ]
      }
    }
  });
</script>
