<script>
    dataLayer.push({
        'event': 'eePurchase',
        'ecommerce': {
            'currencyCode': 'CHF',
            'purchase': {
                'actionField': {
                    'id': '{{ order_info.id }}',
                    'affiliation': '{{ app.urlManager.hostInfo }}',
                    'revenue': '{{ order_info.transaction_sum }}',
                    'tax': '{{ order_info.tax }}',
                    'shipping': '0',
                    'coupon': '{{ order_info.coupon ?? '' }}'
                },
                'products': [
                    {% include '@views/marketing/products/purchase-items.twig' with {
                        items: order_info.checkoutItems,
                        contract_duration: order_info.contract_duration
                    } %}
                ]
            }
        }
    });
</script>
