<script>
  dataLayer.push({
    'event': 'eeRemoveFromCart',
    'ecommerce': {
      'currencyCode': 'CHF',
      'remove': {
        'products': [
          {% for article in articles %}
            {% include '@views/marketing/products/remove-item.twig' with { item: article } %}
          {% endfor %}
        ]
      }
    }
  });
</script>
