{% set img = MarketingImages.get(item_tag) %}

{% if img.target_url %}
    <a href="{{ img.target_url }}"
       class="banner-impression"
       data-item-tag="{{ item_tag }}"
       data-item-id="{{ img.id }}"
       data-item-name="{{ item_name }}"
       data-item-position="{{ item_position }}"
       {% if img.link_target %} target="{{ img.link_target}}" {% endif %}
    >

        <img src="{{ img.remote_file_url|image }}"
             class="img-fluid d-block"
             alt="{{ img.alt_text }}">
    </a>
{% endif %}
