<script>
    dataLayer.push({
        'eventCategory': '{{ params.category }}',
        'eventAction': '{{ params.action }}',
        'eventLabel': '{{ label }}',
        'eventValue': '',
        'eventNonInteraction': 'False',
        'event': 'gtmEvent',
    });
</script>
