<ul class="list-news list-unstyled">
    {% for item in GeneralNewsItems.items(count, lang) %}
        <li>
            <span class="date">
                {{ item.date|date('d.m.Y') }}
            </span>
            <span class="headline">
                <a target="_blank" href="{{ item.link }}">{{ item.name }}</a>
            </span>
        </li>
    {% endfor %}
</ul>
