<ul class="list-news list-unstyled">
    {% for item in NewsFeed.items(count, lang) %}
        <li>
            <span class="date">
                {{ item.get_date('d.m.Y') }}
            </span>
            <span class="headline">
                {% if lang == 'en-EN' %}
                    <a href="{{ Url.to(['/page/about/feeds-en'], true) }}?id={{ item.get_id() }}">{{ item.get_title()|striptags }}</a>
                {% else %}
                    <a href="{{ Url.to(['/page/about/feeds'], true) }}?id={{ item.get_id() }}">{{ item.get_title()|striptags }}</a>
                {% endif %}
            </span>
        </li>
    {% endfor %}
</ul>
