@import '../variables';
@import 'filter-group-layer';

.filter-groups,
.filter-groups-mobile {
  margin: 0 (-2 * $spacer);
  padding: {
    top: 2 * $spacer;
    right: 2 * $spacer;
    bottom: $spacer;
    left: 2 * $spacer;
  }
  background: $gray-lightest;

  box-shadow: 0 0 5px 0px rgba(0,0,0,0.3);

  font-weight: normal;

  @include media-breakpoint-down(md) {
    position: relative;
    margin: 0 (-$spacer);
    padding: {
      top: 30px;
      right: $spacer;
      left: $spacer;
    }
  }

  .filter-group-slider {
    margin-bottom: $spacer;
    padding-top: 10px;

    .range {
      margin-bottom: 0;
    }
  }

  .filter-group {
    display: block;
    position: relative;
    margin-bottom: $spacer;
    padding: $spacer;
    background: $brand-info;
    list-style-type: none;

    .icon-angle-down {
      float: right;
    }

    [type='range'] {
      float: right;
    }

    &:not(.single-select) {
      &:hover {
        padding: $spacer - .1rem;
        border: $border-width solid $gray-lighter;
        box-shadow: 2px 4px 10px $gray-lighter;

        .filter-group-layer {
          display: block;
        }
      }
    }

    &.single-select {
      padding: 4px 0;

      select {
        position: relative;
        border: 0;
        background: none;
        color: $gray-dark;
        z-index: 2;
      }

      .icon-angle-down {
        position: absolute;
        top: $spacer;
        right: $spacer;
        z-index: 1;
      }

      &:hover {
        box-shadow: 2px 4px 10px $gray-lighter;
      }
    }
  }
}

.filter-reset {
  font-size: $font-size-sm;
  text-align: right;
}
