@import '../variables';

.filter-group-layer {
  display: none;
  position: absolute;
  left: -1px;
  width: calc(100% + 2px);
  margin-top: $spacer;
  padding: 0;
  border-left: $border-width solid $gray-lighter;
  background-color: $brand-info;
  box-shadow: 2px 4px 10px $gray-lighter;
  z-index: 100;
  list-style-type: none;

  @include media-breakpoint-up(md) {
    column-gap: 0;
    column-count: 2;
  }

  li {
    height: 54px;
    border: {
      top: 0;
      right: $border-width solid $gray-lighter;
      bottom: $border-width solid $gray-lighter;
      left: 0;
    }
  }

  .filter-group-wrapper {
    display: block;
    padding: $spacer;
    white-space: nowrap;
    cursor: pointer;
  }

  label {
    margin: 0;
    overflow: hidden;

    div {
      width: 100%;

      .custom-control-description {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
