@import '../variables';
@import '../custom';

.product-card,
.tariff-card {
  margin-bottom: 2 * $spacer;
  border-radius: $border-radius;
  box-shadow: $box-shadow-lighter;

  &:hover {
    box-shadow: 2px 4px 15px $gray-light;
  }

  .card-title {
    display: -webkit-box;
    height: 37px; // non webkit fallback
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: 'Roboto';
    text-align: center;
  }

  .card-block {
    font-size: $font-size-sm;
  }

  .options {
    min-height: 2.25em;
    margin-bottom: $spacer / 2;
    overflow: hidden;

    .color {
      display: inline-block;
      width: 2em;
      height: 2em;
      border-radius: 5px;

      &.active, &:hover {
        border: (1 * $border-width) solid $brand-danger;
        background-clip: content-box;
        padding:2px;
      }

    }

    .size {
      display: inline-block;
      padding-top: 1px;
      padding-left: 3px;
      padding-right: 3px;
      padding-bottom: 1px;

      border: 1px solid $gray-light;
      border-radius: 3px;
      color: $gray-light;

      &.active {
        border:1px solid $brand-danger;
        color: $brand-danger;
      }

      &:hover {
        border: 1px solid $brand-danger;
      }

    }

    a {
      font-weight: normal;
    }
  }

  .info {
    min-height: 45px;
    margin-bottom: $spacer;
    overflow: hidden;

    .price-box {
      padding-left: $spacer / 2;
      border-left: $border-width solid $gray-lighter;

      .price {
        color: $brand-danger;
      }
    }
  }

  .product-image {
    position: relative;
    height: 250px;
  }

  .corner-label {
    position: absolute;
    top: -29px;
    right: 0;
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    font-size: $font-size-sm;
    clip: rect(0, 104px, 55px, 0);

    div {
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      width: inherit;
      height: inherit;
      transform: rotate(-45deg);
      background-color: $brand-primary;
      color: $brand-info;
    }

    span {
      display: block;
      position: relative;
      top: 20px;
      left: 8px;
      transform: rotate(45deg);
      text-align: center;
    }
  }
}

.tariff-card {
  .provider-logo {
    height: 26px;
  }

  .highlights {
    height: 250px;
    overflow: hidden;
  }

  .border-bottom {
    border-bottom: $gray-lightest solid 1px;
  }

  .card-subtitle {
    font-size: $font-size-sm;
  }

  .price-row {
    line-height: 30px;

    .price {
      font-size: $font-size-lg;
    }
  }

  .tariff-youth {
    position: absolute;
    right: 0;
  }

  .list li {
    small {
      margin-bottom: ($spacer / 2);
      font-size: $font-size-sm;
    }

    &::before {
      left: -1rem;
      line-height: 1.35;
    }
  }
}
.sim-card-row{
  .checkout-hint{
    color: #ec0c0c;
  }
}
.subscriptionLabel{
  width: 50%;
  display: inline-block;
}