@import '../variables';

.sort-bar {
  font-size: $font-size-sm;

  .sort-options {
    li {
      display: inline-block;
      padding-left: $spacer;
      cursor: pointer;

      &.active {
        color: $brand-danger;
      }
    }
  }
}
