@font-face {
  font-family: "Telefon";
  src: url("fonts/telefon-bold.eot");
  src: url("fonts/telefon-bold.eot?") format("embedded-opentype"),
  url("fonts/telefon-bold.woff") format("woff"),
  url("fonts/telefon-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.3px;
}