{% extends '@checkout/success/contract-box-card.twig' %}

{% block header %}
    {% if orderHasTariff %}
        {{ 'Billing_Contract_Address'|trans }}
    {% else %}
        {{ 'Contract_Address'|trans }}
    {% endif %}
{% endblock %}

{% block body %}
    {% set customerDetails = order.billing_address %}
    <p>
        <b>{{ customerDetails.firstname }} {{ customerDetails.lastname }}</b><br>
        {{ customerDetails.street }} {{ customerDetails.houseNumber }}<br>
        {{ customerDetails.zip }} {{ customerDetails.city }}
    </p>
    {% if (orderHasTariff) %}
        <table>
            <tr>
                <td>{{ 'Birthday'|trans }}:</td>
                <td>{{ customer.birthday|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <td>{{ 'Nationality'|trans('customer-account') }}:</td>
                <td>{{ nationality }}</td>
            </tr>
            <tr>
                <td>{{ 'Passport_Type'|trans('customer-account') }}:</td>
                <td>{{ passportType }}</td>
            </tr>
            <tr>
                <td>{{ 'Passport_Number'|trans }}:</td>
                <td>{{ customer.passport_id }}</td>
            </tr>
        </table>
    {% endif %}
{% endblock %}
