{% set header %}{% block header %}{% endblock %}{% endset %}
{% set body %}{% block body %}{% endblock %}{% endset %}

<div class="contract-box">
    <div class="contract-box-header"></div>
    <div class="contract-box-content">
        {% if body|length > 0 %}
            {% if header|length > 0 %}
                <h3 class="mb-1">{{header}}:</h3>
            {% endif %}

            {{ body }}
        {% endif %}
    </div>
</div>
