{% extends '@checkout/success/contract-box-card.twig' %}

{% block header %}{{ 'Delivery_Address'|trans }}{% endblock %}

{% block body %}
    {% set delivery_address = order.delivery_address %}
    <p>
        <b>{{ delivery_address.firstname }} {{ delivery_address.lastname }}</b><br>
        {{ delivery_address.street }} {{ delivery_address.house_number }}<br>
        {{ delivery_address.zip }} {{ delivery_address.city }}
    </p>
{% endblock %}
