{% extends '@checkout/success/contract-box-card.twig' %}

{% block header %}{{ 'Type_Of_Delivery'|trans }}{% endblock %}

{% block body %}
    <p><b>
        {% if orderHasTariff %}
            {{ 'Delivery_Title_Tariff'|trans }}
        {% else %}
            {{ 'Delivery_Title'|trans }}
        {% endif %}
    </b></p>
    <p>
        {% if orderHasTariff %}
            {{ 'Delivery_Description_Tariff'|trans }}
        {% else %}
            {{ 'Delivery_Description'|trans }}
        {% endif %}
    </p>
{% endblock %}
