{% import "@views/common/utils.twig" as utils %}

{% set sim_only_id = constant('app\\models\\ArticleModel::SIM_ONLY') %}

<h3 class="mb-1">{{ 'Ordered_Articles'|trans }}</h3>
<div class="contract-box">
    <div class="contract-box-header"></div>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Article_Nr'|trans }}</th>
                <th>{{ 'Article_Name'|trans }}</th>
                <th>{{ 'Price_Monthly'|trans('customer-account') }} CHF</th>
                <th>{{ 'Price_Once'|trans('customer-account') }} CHF</th>
            </tr>
        </thead>
        <tbody>
            {% for article in order.checkoutItems if article.item_id != sim_only_id %}
                <tr>
                    <td>{{ article.item_id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.prices.monthly|price }}</td>
                    <td>{{ article.prices.once|price }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">{{ 'Total_Costs'|trans }}:</td>
                <td>{{ order.prices.monthly|price }}</td>
                <td>{{ order.prices.once|price }}</td>
            </tr>
        </tfoot>
    </table>
</div>
