{% extends '@checkout/success/contract-box-card.twig' %}

{% block header %}{{'Type_Of_Payment'|trans}}{% endblock %}

{% block body %}
    {#Use payment method strings as translation keys#}
    {% set paymentTitle = 'payment-'~order.payment_method~'-title' %}
    {% set paymentDescription = 'payment-'~order.payment_method~'-description {amount}' %}

    <p><b>{{ paymentTitle|trans }}</b></p>
    <p>{{ paymentDescription|trans(null, {amount: order.prices.once|price, order_id: order.id})|nl2br }}</p>
{% endblock %}
