{% set data = active_step.data %}

<div class="pull-out-md-down">
    {% embed '@views/components/card.twig' with {type: 'full'} %}
        {% block header %}
            {{ 'Double_Check_Relevant_Data'|trans }}
        {% endblock %}
        {% block body %}
            <div class="custom-controls-stacked">

                {% set conditions = data.conditions %}

                {{ form.field(conditions, 'conditionsStore').size('lg').checkbox|raw }}

                {% if conditions.providerLink %}
                    {{ form.field(conditions, 'conditionsProvider').label(label|raw).size('lg').checkbox|raw }}
                {% endif %}

                {% if conditions.insuranceLink %}
                    {{ form.field(conditions, 'conditionsInsurance').label(label|raw).size('lg').checkbox|raw }}
                {% endif %}

                {% if conditions.providerLink %}
                    {{ form.field(conditions, 'conditionsTariff').label(label|raw).size('lg').checkbox|raw }}
                {% endif %}


            </div>
        {% endblock %}
    {% endembed %}
</div>
