{% set data = active_step.data %}

<div class="pull-out-md-down">
    {% embed '@views/components/card.twig' with {type: 'full'} %}
        {% block header %}
            {{ 'Double_Check_Relevant_Data'|trans }}
        {% endblock %}
        {% block body %}
            <div class="row">

                {% set customer = data.customer.customerData %}
                {% set passport = data.passport %}
                {% set porting = data.porting %}

                <div class="col-md-3 contract-address">
                    <h4>{{ 'Contract_Address'|trans }}</h4>
                    <span class="customer-billing-name">{{ customer.billingAddress.firstname }} {{ customer.billingAddress.lastname }}</span><br/>
                    <span class="customer-billing-street">{{ customer.billingAddress.street }} {{ customer.billingAddress.houseNumber }}</span><br/>
                    <span class="customer-billing-zip-city">{{ customer.billingAddress.zip }} {{ customer.billingAddress.city }}</span><br/>
                    <span class="customer-email">{{ customer.data.email }}</span><br/>
                    {% if (cartHasTariff == false) %}
                        <span>{{ customer.birthday|date('d.m.Y') }}</span>
                    {% endif %}
                </div>

                <div class="col-md-3 delivery-address">
                    <h4>{{ 'Delivery_Address'|trans }}</h4>
                    {% set delivery_address = customer.useDeliveryAddress ? customer.deliveryAddress : customer.billingAddress %}
                    <span class="delivery-name">{{ delivery_address.firstname }} {{ delivery_address.lastname }}</span><br/>
                    <span class="delivery-street">{{ delivery_address.street }} {{ delivery_address.houseNumber }}</span><br/>
                    <span class="delivery-zip-city">{{ delivery_address.zip }} {{ delivery_address.city }}</span>
                </div>
                {% if cartHasTariff %}
                    <div class="col-md-3 passport-data">
                        <h4>{{ 'Passport_Data'|trans }}</h4>
                        {{ 'Passport_Number'|trans }}: <span class="passport-id">{{ passport.passport_id }}</span><br>
                        {{ 'Birthday'|trans }}: <span class="passport-birthday">{{ passport.birthday|date('d.m.Y') }}</span><br>
                        {{ 'Passport_Type'|trans }}: <span class="passport-type">{{ passport.types[passport.passport_type] }}</span>
                    </div>
                {% endif %}
                {% if porting.porting %}
                    <div class="col-md-3 porting-data">
                        <h4>{{ 'Porting_Data'|trans }}</h4>
                        <span class="porting-number">{{ porting.number }}</span><br>
                        <span class="porting-provider">{{ porting.providers[porting.provider]|trans }}</span><br>
                        <span class="porting-type">{{ porting.types[porting.type]|trans }}</span> <br>
                        <span class="porting-contract">{{ porting.waitUntilContractEnds == 1 ? 'Wait_Until_Contract_Expires'|trans : 'Terminate_Current_Contract'|trans  }}</span>
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
</div>
