{% extends '@checkout/steps/layout-single-column.twig' %}

{% block content %}
    {% set data = step.data %}
    {% set items = active_step.data.items %}

    {% if items|length == 0 %}
        {% embed '@views/components/alert.twig'%}
            {% block body %}
                {{ 'There are not articles in the cart.'|trans }}
            {% endblock %}
        {% endembed %}
    {% else %}
        <div class="pull-out-md-down">
            {% include '@checkout/steps/cart/product-table.twig' with {
                items: items,
                totals: data.totals.total,
                interactive: false,
                commission: data.totals.commission
            } only %}
        </div>
    {% endif %}

    {% include '@checkout/steps/overview/double-check-data.twig' %}

    {% include '@checkout/steps/overview/newsletter.twig' %}

    {% include '@checkout/steps/overview/conditions.twig' %}

    <div class="row">
        <div class="col-lg-12">
            <div class="float-sm-right">
                <button type="submit" class="btn btn-lg btn-danger">{{ 'Confirm_Order'|trans }}</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}
