{% set data = active_step.data %}

<div class="pull-out-md-down">
    {% embed '@views/components/card.twig' with {type: 'full'} %}
        {% block header %}
            {{ 'Checkout_Newsletter_Title'|trans }}
        {% endblock %}
        {% block body %}
            <div class="custom-controls-stacked">
                {{ form.field(active_step.data.newsletter, 'register').size('lg').checkbox|raw }}
            </div>
        {% endblock %}
    {% endembed %}
</div>
