{% extends '@checkout/steps/layout-sidebar-right.twig' %}

{% block content %}
    <div class="contract-data">
        {% include '@checkout/steps/contract_data/passport.twig' %}
        {% if active_step.data.showPorting %}
            {% include '@checkout/steps/contract_data/porting.twig' %}
        {% endif %}
    </div>
{% endblock %}
