{% embed '@views/components/card.twig' %}
    {% block header %}
        {{ 'Passport_Data'|trans }}
    {% endblock %}
    {% block body %}
        {% set model = active_step.data.passport %}

        <div class="row row-sm">
            <div class="col-lg-6">
                {{ form.field(model, 'birthday').size('lg').inlineGroup.date()|raw }}
            </div>
            <div class="col-lg-6">
                {{ form.field(model, 'nationality').size('lg').labelAsPrompt.countryDropDown()|raw }}
            </div>
        </div>

        <div class="row row-sm">
            <div class="col-lg-6">
                {{ form.field(model, 'passport_type').size('lg').labelAsPrompt.dropdownList(model.types)|raw }}
            </div>
            <div class="col-lg-6">
                {{ form.field(model, 'passport_id').size('lg').labelAsPlaceholder.inlineGroup.textInput|raw }}
            </div>
        </div>

        {{ form.field(model, 'remindWhenContractEnds').size('lg').checkbox|raw }}
    {% endblock %}
{% endembed %}
