{% set model = active_step.data.porting %}

{% embed '@views/components/card.twig' %}
    {% block header %}
        {{ 'Number_Porting'|trans('product') }}
        {{ form.field(model, 'porting').hiddenInput({'value': 1})|raw }}
    {% endblock %}
    {% block body %}

        <div class="form-group row">
            <div class="col-lg-6">
                {{ form.field(model, 'number').size('lg').labelAsPlaceholder.noFormGroup.textInput|raw }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-6">
                {{ form.field(model, 'provider').size('lg').labelAsPrompt.dropdownList(model.getProviders())|raw }}
            </div>
            <div class="col-lg-6">
                {{ form.field(model, 'type').size('lg').labelAsPrompt.dropdownList(model.getTypes())|raw }}
            </div>
        </div>

        {{ form.field(model, 'waitUntilContractEnds').label(false).size('lg').radioList({
            1: 'Wait_Until_Contract_Expires'|trans,
            0: 'Terminate_Current_Contract'|trans
        })|raw }}
    {% endblock %}
{% endembed %}
