@import '../../variables';

.language-switch {
  .lang {
    padding: 0 ($spacer / 2);

    &:not(:last-child) {
      border-right: $border-width solid $gray;
    }
  }

  .active {
    color: $brand-danger;
    font-weight: bold;
  }
}
