<div class="list-group mb-2">
    <a href="/customer-account/customer-account" class="list-group-item justify-content-between">
        {{ 'Customer_Data'|trans }}
        <span class="icon icon-angle-right"></span>
    </a>
    <a href="/customer-account/address" class="list-group-item justify-content-between">
        {{ 'Address_Book'|trans }}
        <span class="icon icon-angle-right"></span>
    </a>
    <a href="/customer-account/order" class="list-group-item justify-content-between">
        {{ 'Order_List'|trans }}
        <span class="icon icon-angle-right"></span>
    </a>
</div>
