@import '../../variables';

.nav-tabs {
  .nav-link {
    border-top: 3px solid $gray-light;
    border-bottom: 0;
    background: $gray-lightest;
    color: $gray;
    line-height: 1em;

    @include media-breakpoint-only("xs") {
      height: 100%;
    }

    &:hover {
      border-top-color: inherit;
    }

    &.active,
    &.active:hover {
      border-top-color: inherit;
      font-weight: bold;
    }
  }
}

.nav-tabs-danger {
  border-bottom: 0;

  .nav-item {
    margin-bottom: 0;
    margin-left: 0;
    border-left: 0;

    + .nav-item {
      margin-left: 0;
    }

    &:first-child {
      .nav-link:not(.active) {
        border-left: $border-width solid $gray-lightest;
      }
    }

    &:last-child {
      .nav-link:not(.active) {
        border-right: $border-width solid $gray-lightest;
      }
    }
  }

  .nav-link {
    border-right: 0;
    border-left: 0;
    border-top-color: $brand-danger;
    background: $brand-danger;
    color: $brand-info;

    &.active,
    &.active:hover,
    &.active:focus {
      border-top-color: $brand-danger;
      background-color: $brand-info;
    }
  }
}

//Bootstrap 4 took out this class
.nav-justify {
  display: flex;

  .nav-item {
    flex: 1;
  }
}
