{% set controller_id = app.controller.id %}
{% set is_about = controller_id == 'about' %}
{% set is_annual_report = controller_id == 'annual-report' %}
{% set action_id = app.controller.action.id %}
{% set is_en = (action_id|slice(action_id|length() - 3, 3)) == '-en' %}
{% set base_action = action_id|slice(0, action_id|length() - 3) %}

{% if is_about %}
    <link rel="alternate"
          hreflang="{{ is_en ? app.language : 'en' }}"
          href="{{ Url.to(['/page/about/' ~ (is_en ? base_action : action_id ~ '-en')], true) }}">
{% endif %}

{% if is_annual_report %}
    <link rel="alternate"
          hreflang="{{ is_en ? 'de-CH' : 'en' }}"
          href="{{ Url.to(['/page/annual-report/' ~ (is_en ? base_action ~ '-de' : base_action ~ '-en')], true) }}">
{% endif %}

{% for language in Languages.languages if (not language.active and not is_annual_report) %}
    <link rel="alternate"
          hreflang="{{ language.lang_code }}"
          href="{{ language.route|routing(language.name) }}">
{% endfor %}
