@import '../../variables';

.mini-basket {
  font-size: .65em;
  line-height: 2em;

  .icon {
    position: relative;
    vertical-align: middle;
  }

  .num {
    display: inline-block;
    position: absolute;
    top: -3px;
    right: -3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $brand-danger;
    color: $brand-info;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;

    text-align: center;
    vertical-align: middle;
  }
}
