@import '../../variables';

.navi-layer {
  display: none;
  position: absolute;
  left: $spacer;
  width: 100%;
  margin: {
    top: -1px;
    right: -($spacer);
    bottom: $spacer;
    left: -($spacer);
  }

  /* background: $brand-info; */
  color: $gray-dark;
  z-index: 100;

  .navi-layer-wrapper {
    margin-top: $spacer;
    padding: 2 * $spacer;
    border-radius: 3px;
    background: $gray-lightest;
    box-shadow: 2px 2px 2px $gray-lighter;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &.level1 {
      column-count: 3;

      @include media-breakpoint-down(sm) {
        column-count: 2;
      }
    }
  }

  .level2 {
    padding-bottom: $spacer;
    font-size: $font-size-h3;
    break-inside: avoid-column;
  }

  .level3 {
    padding-bottom: 0;
    font-size: $font-size-base;
  }

  .show-all {
    font-size: $font-size-sm;

    a {
      color: $gray-light;
    }
  }

  .spacer {
    margin-bottom: $spacer;
  }

  img {
    width: 100%;
    padding: 2 * $spacer;
    border: $border-width solid $gray-light;
    border-radius: $border-radius;
    background: $brand-info;
  }
}

