@import '../../variables';

.contract-new-number {
  .more-information {
    color: $brand-danger;
  }

  .duration {
    color: $brand-danger;
    font-weight: bold;
  }

  dl {
    margin-bottom: 0;
    overflow: hidden;
  }

  dt {
    float: left;
    font-weight: normal;
  }

  dd {
    margin-bottom: 0;
    float: right;
    font-weight: bold;
  }

  .provider {
    img {
      height: 25px;
    }

    dd {
      color: $brand-danger;
      font-weight: normal;
      line-height: 25px;
    }
  }

  .price-onetime {
    dt {
      line-height: 2.5em;
    }

    dd {
      color: $brand-success;
      font-size: $font-size-h2;
    }
  }

  .price-contract {
    dt {
      line-height: 2.5em;
    }

    dd {
      font-size: $font-size-h2;
    }
  }

  .price-hardware {
    dd {
      font-weight: normal;
    }
  }
}
