@import '../../variables';

.contract-keep-number {
  .contract-box-content {
    label {
      //color: $brand-danger;
    }
  }

  ul {
    column-count: 2;
  }

  li {
    padding: $spacer 0;
  }

  img {
    height: 20px;
    padding-left: $spacer / 2;
  }
}

.contract-renewal-sliders {
  width: 100%;
  padding: 5px;
  background-color: $gray-lightest;

  .form-group {
    width: 90%;
    margin: auto;
  }

  .col-md-4 {
    padding: 25px;
  }
}

.subscription-box-renewal {
  margin-top: 20px;
}
