.landingpage-box-font-large {
  h4 {
    font-size: 1.7rem;
  }

  h4.card-title {
    font-size: 1.05rem;
  }

  p {
    font-size: 1.25rem;
  }

}

.container-full .card {
  border-color: #c1c1c1;
}