#sticky-bar {
  position: fixed;

  bottom: 0; left: 0; right: 0; top: auto;

  background: #FFF;

  z-index: 99999;

  box-shadow: 0px 0px 3px rgba(0,0,0,0.1);

  .sticky-bar-title {
    font-size: 1.3rem;
    font-weight: bold;

    span {
      font-weight: 100; opacity: 0.68;
      font-size: 1.0rem;
      display: block;
    }

    @include media-breakpoint-up('sm') {
      span {
        display: inline;
        font-size: 1.3rem;
        padding-left: 12px; margin-left: 12px; border-left: 1px solid #c1c1c1;
      }
    }

  }

  .sticky-bar-action {

  }

  .sticky-bar-actions {

    ul {
      display: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        a {
          display: block;
        }
      }

    }

    select {
      width: 100%;
      text-align-last: center;
    }

    @include media-breakpoint-up('sm') {
      ul { display: block; }
      select { display: none; }
    }
  }

  @include media-breakpoint-up('sm') {
    top: 0; bottom: auto;

    .sticky-bar-title {
      font-size: 1.5rem;
    }

  }


}