.landingpage-tv-configurator {

  padding: $grid-gutter-width-base;
  background-color: #eee;
  border:1px solid darken(#eee, 5%);
  border-radius: 3px;

  .title {
    font-weight: bold;
    font-size: 1.3rem;
  }

  .cta {

  }

}