$white: #fff;
$black: #000;
$blue: #0a69f0;
$brown: #94690d;
$cyan: #46abe0;
$gold: #fdda86;
$green: #33a02f;
$green-emerald: #41665e;
$grey: #99989b;
$grey-lighter: #aebcbf;
$grey-darker: #0a0e0a;
$grey-piano: #6e7774;
$gun-metal-grey: #536267;
$magenta: #fe767a;
$orange: #ed8a09;
$red: #e74c3c;
$seagreen: #e3efe3;
$silver: #e6e6e6;
$violet: #8223db;
$yellow: #faf189;
$i5-blue: #46abe0;
$i5-green: #a1e877;
$i5-light: #f5f4f7;
$i5-yellow: #faf189;
$i5-fuchsia: #fe767a;
$spacegrey: #b4b5b9;
$i5-grey: #99989b;
$i5-gold: #d4c5b3;
$i5-silver: #d7d9d8;
$rosegold: #b76e79;
$deep-garnet: #6d3d44;
$topaz-gold: #ffc87c;
$htc-desire-red: #be2e2b;
$htc-desire-blue: #3951a2;

.color-white {
  border: 1px solid $grey;
  background-color: $white;
}

.color-black {
  background-color: $black;
}

.color-blue {
  background-color: $blue;
}

.color-brown {
  background-color: $brown;
}

.color-cyan {
  background-color: $cyan;
}

.color-gold {
  background: linear-gradient(180deg, $gold 0, darken($gold, 30%) 100%), $gold;
}

.color-green {
  background-color: $green;
}

.color-green-emerald {
  background-color: $green-emerald;
}

.color-grey {
  background-color: $grey;
}

.color-gun-metal-grey {
  background-color: $gun-metal-grey;
}

.color-magenta {
  background-color: $magenta;
}

.color-orange {
  background-color: $orange;
}

.color-red {
  background-color: $red;
}

.color-seagreen {
  background-color: $seagreen;
}

.color-silver {
  background: linear-gradient(to bottom, $silver 0%, darken($silver, 10%) 100%);
}

.color-violet {
  background-color: $violet;
}

.color-yellow {
  background-color: $yellow;
}

.color-i5-blue {
  background-color: $i5-blue;
}

.color-i5-green {
  background-color: $i5-green;
}

.color-i5-light {
  background-color: $i5-light;
}

.color-i5-yellow {
  background-color: $i5-yellow;
}

.color-i5-fuchsia {
  background-color: $i5-fuchsia;
}

.color-spacegrey {
  background-color: $spacegrey;
}

.color-i5-grey {
  background-color: $i5-grey;
}

.color-i5-gold {
  background-color: $i5-gold;
}

.color-i5-silver {
  background-color: $i5-silver;
}

.color-rosegold {
  background-color: $rosegold;
}

.color-deep-garnet {
  background-color: $deep-garnet;
}

.color-topaz-gold {
  background-color: $topaz-gold;
}

.color-htc-desire-white-red {
  border: 1px solid $grey;
  background: linear-gradient(45deg, $white 0%, $white 50%, $htc-desire-red 51%, $htc-desire-red 100%);
}

.color-htc-desire-white-blue {
  border: 1px solid $grey;
  background: linear-gradient(45deg, $white 0%, $white 50%, $htc-desire-blue 51%, $htc-desire-blue 100%);
}

.color-pianoblack {
  background: linear-gradient(135deg, $grey-lighter 0, $grey-piano 50%, $grey-darker 51%, $black 100%);
}
