@import 'icons/icons';
@import 'lists/lists';
@import 'tables/tables';
@import 'cards/cards';
@import 'navs/navs';
@import 'buttons/buttons';
@import 'forms/forms';
@import 'stock/stock';
@import 'colors';
@import 'datepicker/datepicker';
@import 'filters/filters';

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .pull-out-#{$breakpoint}-up {
      margin-right: -$spacer;
      margin-left: -$spacer;
    }
  }
  @include media-breakpoint-down($breakpoint) {
    .pull-out-#{$breakpoint}-down {
      margin-right: -$spacer;
      margin-left: -$spacer;
    }
  }
}

.row-sm {
  padding: {
    right: $spacer-x / 2;
    left: $spacer-x / 2;
  }

  > * {
    padding: {
      right: $spacer-x / 2;
      left: $spacer-x / 2;
    }
  }
}

.content {
  padding: $spacer;
  background-color: $brand-info;

  @include media-breakpoint-up(lg) {
    padding: $spacer * 2;
  }
}

.container-full {
  margin: 0 (-$spacer);
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    margin: 0 (-2 * $spacer);
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .container-full-#{$breakpoint}-up {
      margin: 0 (-$spacer);
      overflow: hidden;

      @include media-breakpoint-up(lg) {
        margin: 0 (-2 * $spacer);
      }
    }
  }
  @include media-breakpoint-down($breakpoint) {
    .container-full-#{$breakpoint}-down {
      margin: 0 (-$spacer);
      overflow: hidden;

      @include media-breakpoint-up(lg) {
        margin: 0 (-2 * $spacer);
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .flex-md-up {
    display: flex;
    flex-wrap: wrap;

    > div {
      display: flex;
    }
  }
}

.img-mh {
  max-height: 100%;
  margin: auto;
}
