@import 'variables';
@import 'bootstrap';

.normal {
  font-weight: normal;
}

.thin {
  font-weight: lighter;
}

a {
  font-weight: normal;

  p & {
    font-weight: bold;
  }

  &.active {
    color: $brand-danger;
  }
}

body {
  padding: 0;

  @include media-breakpoint-up(lg) {
    padding: 50px (2 * $spacer) (2 * $spacer);
  }

}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.no-gutter-left {
  margin-left: -15px;
}

.no-gutter-right {
  margin-right: -15px;
}

.container-fluid {
  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  max-width: 1170px;
}

.container {
  padding: 0;
  /* box-shadow: $box-shadow; */

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.btn {
  @include media-breakpoint-down(sm) {
    display: block;
    width: 100%;
    margin-bottom: $spacer;
  }

  // TODO This is a temporary fix for Bootstrap 4 alpha 6.
  // TODO When switching to a newer version please check again if this fix is necessary anymore.
  cursor: pointer;
}

.form-inline {
  .form-control {
    @include media-breakpoint-down(sm) {
      display: block;
      width: 100%;
      margin-bottom: $spacer;
    }
  }
}

.table {
  thead {
    th {
      border-bottom: 0;
    }
  }

  td {
    vertical-align: middle;
  }
}

.icon-angle-right {
  vertical-align: inherit;
}

.vertical-align {
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
  }
}

// TODO: This is a hotfix for the btn-danger often used as call to action :focus pseudo class
.btn-danger {
  &:focus {
    color: #FFF;
  }
}

// common styles
@import 'common/common';
@import 'overrides/j-scroll-pane';
@import 'overrides/slider';
@import 'overrides/ie';

// For the moment we will create one big css bundle including the css for all sections of the whole website. Each
// section that should be included needs to be added here - EXPLICITELY! Later-on we might switch to a more intelligent
// solutions.
@import 'header/header';
@import 'homepage/homepage';
@import 'cart/cart';
@import 'category/category';
@import 'product/product';
@import 'search/search';
@import 'customerAccount/customer-account';
@import 'page/page';
@import 'footer/footer';
@import 'shopFinder/shop-finder';
@import 'tariff/selection';
@import 'tariff/tariff';
@import 'provider/logo-row';
@import 'landingpage/landingpage';
@import 'animation/animation';
@import 'loader/loader';
@import 'fonts/fonts';
@import 'blog/blog';