{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="page page-error content-wrapper container fourZeroFour">
        <section>
            <div class="row vertical-align">
                <div class="col-md-6">
                    <p><img src="{{ asset('img/404.png') }}" alt="404" class="img-fluid"/></p>
                </div>

                <div class="col-md-6">
                    <h1>{{ '404_Title'|trans('view') }}</h1>
                    <p>{{ '404_Content'|trans('view') }}</p>
                    <p><a href="/" class="btn btn-danger">{{ '404_Back_Button'|trans('view') }}<span class="icon icon-angle-right"></span></a></p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
