{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="page page-error content-wrapper container fourZeroFour">
        <section>
            <div class="row vertical-align">
                <div class="col-md-12">
                    <h1>{{ '500er_header'|trans('app') }}</h1>
                    <p>{{ '500er_description'|trans('app')|raw }}</p>
                    <p><a href="/" class="btn btn-danger">{{ '404_Back_Button'|trans('view') }}<span class="icon icon-angle-right"></span></a></p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
