{% set headline_key = accessory_id ? 'Article_Price' : 'Device_Without_Tariff'%}
{% set button_key = accessory_id ? 'Add' : 'Price_Buy_Device_Without_Tariff'%}
{% set button_category = accessory_id ? 'checkout' : 'product'%}
{% set current_price = article.prices.price_discounted ?? article.prices.price_sale %}
{% set strike_price = article.prices.price_discounted ? article.prices.price_sale : article.prices.price_strike %}

<div class="buy-hardware-only">
    <div class="row align-items-center mb-3">
        <div class="col">
            <h3 class="mb-0">{{ headline_key|trans('product') }}</h3>
        </div>
        <div class="col text-right">
            <h3 class="mb-0">
                {% if  article.prices.price_discounted or article.prices.price_strike > 0 %}
                    <span class="text-nowrap">
                        {{ ' ' ~ current_price|price }}
                        {% if has_tariff %}
                            <sup>1</sup>
                        {% endif %}
                    </span>
                    <br>
                    <small class="text-nowrap" style="text-decoration: line-through;">{{ ' ' ~ strike_price|price }}</small>
                {% else %}
                    {{ article.prices.once|price }}
                {% endif %}
            </h3>
        </div>
    </div>

    {% set form = form_begin({ method: 'POST', action: '/checkout/cart/add' }) %}
        <input type="hidden" name="item_type" value="{{ accessory_id ? 'accessories' : 'article' }}">
        <input type="hidden" name="item_id" value="{{ article.id }}">

        <button type="submit" class="btn btn-block btn-danger"
            {% if not article.is_active %}disabled{% endif %}>
            {{ button_key|trans(button_category) }}
            <span class="icon icon-angle-right"></span>
        </button>
        {% if not article.is_active %}
            <p class="text-danger mt-3 mb-0">{{ 'Inactive_Article_Message'|trans('product') }}</p>
        {% endif %}
    {{ form_end() }}

    {% if (article.prices.price_discounted or article.prices.price_strike > 0) and has_tariff %}
        <small class="d-block mt-3">
            <sup>1</sup>
            {{ 'Price_Discounted_Footnote'|trans('product') }}
        </small>
    {% endif %}

    {% if article.bonus_id == 1 %}
        <small class="d-block mt-3">
            <sup>2</sup>
            {{ 'Price_Bon_Footnote'|trans('product') }}
        </small>
    {% endif %}

</div>
