{% set price_text_key = selected_standard_tariff.price_article_once ? 'Price_Deposit' : 'Price_Device_Cost' %}

{% if(standard_tariff) %}
    <div class="order-with-tariff">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="mb-0">{{ 'Contract_Box_New_Contract'|trans('view') }}</h2>
                <p class="mb-0">{{ price_text_key|trans('product') }}:</p>
            </div>
            <div class="col text-right">
                <h2 class="text-success">{{ selected_standard_tariff.price_article_once|price }}*</h2>
            </div>
        </div>

        <a href="#subscriptions" class="btn btn-block btn-danger mb-3 mt-3">
            {{ 'Price_Buy_Device_With_Tariff'|trans('product') }}
            <span class="icon icon-angle-right"></span>
        </a>

        {% include '@product/price-box/fine-print.twig' with { item: selected_standard_tariff } only %}

        <hr class="my-5 mt-sm-3 mb-sm-3">
    </div>
{% endif %}
