{% if(providers|length > 0) %}
    <div class="provider-list row justify-content-center justify-content-sm-start">
        <a name="provider"></a>
        {% for provider in providers.take(6) %}
            <div class="col-4 {% if(provider.id == selected_provider.id) %}active{% endif %}">
                <div class="provider-wrapper">
                    <a href="?provider={{ provider.id }}#provider">
                        <img src="{{ provider.image|image('thumbnail') }}" alt="{{ provider.title }}">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
