<div class="col-lg-4 pull-lg-8">
    <div class="side-navi">
        <a href="{{ Url.to(['/page/support/service-support'], true) }}"><span class="icon icon-angle-down"></span>{{ 'Page_Tree_Service_Support'|trans('staticcontent') }}</a>
        <div class="collapse show">
            <div class="card-block">
                <a href="{{ Url.to(['/page/support/repair'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Express_Reparatur'|trans('staticcontent') }}</a>
                <a href="{{ Url.to(['/page/support/service-garantie'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Service_Garantie'|trans('staticcontent') }}</a>
                <a href="{{ Url.to(['/page/support/device-insurance'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Handyversicherung'|trans('staticcontent') }}</a>
            </div>
        </div>
        <a href="{{ Url.to(['/page/support/terms'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Terms'|trans('staticcontent') }}</a>
        <a href="{{ Url.to(['/page/support/shipment'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Shipment_Headline'|trans('staticcontent') }}</a>
        <a href="{{ Url.to(['/page/support/data-protection'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Datenschutz'|trans('staticcontent') }}</a>
        <a href="{{ Url.to(['/page/about/contact'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Contact'|trans('staticcontent') }}</a>
        <a href="{{ Url.to(['/page/support/imprint'], true) }}"><span class="icon icon-angle-right"></span>{{ 'Page_Tree_Imprint'|trans('staticcontent') }}</a>
    </div>
</div>
