<div class="row shopfinder">
    <div class="col-md-6" role="img" style="background-image: url({{ asset('img/homepage/img_maps.png') }})">
        <div class="border-corner"></div>
    </div>

    <div class="col-md-6">
        <div class="shopfinder-wrapper">
            <h3 class="h1">
                <span class="icon icon-location"></span>
                <span>{{ 'Shopfinder_Location_Search'|trans('view') }}</span>
            </h3>
            <p>{{ 'Shopfinder_Find_The_Next_Mobilezone_Shop'|trans('view') }}</p>

            <div class="form-group">
                <form class="form-inline" method="get" action="{{ Url.to(['/shop-finder'], true) }}">
                    <input id="google-maps-query" name="store" class="form-control" type="text"
                           placeholder="{{ 'Shopfinder_Enter_City_Or_Zip_Code'|trans('view') }}">
                    <button class="btn btn-danger" type="submit">{{ 'Search'|trans('view') }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
