<div class="col-md-6">
    <div class="card product-card">
        <div class="card-block">
            <h3>{{ headline|trans('staticcontent') }}</h3>
            <p>{{ content|trans('staticcontent')|raw }}</p>
            {% if price %}
                <p class="text-danger">
                    <b>{{ price|price }}</b>
                </p>
            {% endif %}
        </div>
    </div>
</div>
