{% extends '@page/about.twig' %}

{% block static_headline %}
    {{ 'Page_About_Us_Title'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    {{ 'Page_About_Us_Content'|trans('staticcontent')|raw }}
{% endblock %}