{% extends '@page/about.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Board_of_Directors'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    {% for person in persons %}
        {% include "@page/about/parts/person.twig" %}
    {%  endfor %}
{% endblock %}
