{% extends '@page/about.twig' %}

{% block static_headline %}
    {{ 'Page_Business_Unit_Title'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    <p>{{ 'Page_Business_Unit_Intro'|trans('staticcontent') }}</p>

    <h2>{{ 'Page_Business_Unit_Private_Title'|trans('staticcontent') }}</h2>
    {{ 'Page_Business_Unit_Private_Content'|trans('staticcontent')|raw }}
    <a class="btn btn-danger" href="/">{{ 'Page_Business_Unit_Private_Button'|trans('staticcontent') }}<span class="icon icon-angle-right"></span></a>

    <h2 class="mt-5">{{ 'Page_Business_Unit_Business_Title'|trans('staticcontent') }}</h2>
    {{ 'Page_Business_Unit_Business_Content'|trans('staticcontent')|raw }}
    <a href="https://b2bshop.mobilezone.ch/b2b" target="_blank" class="btn btn-danger">{{ 'Page_Business_Unit_Business_Button'|trans('staticcontent') }}<span class="icon icon-angle-right"></span></a>
{% endblock %}
