{% extends '@page/about.twig' %}

{% block static_headline %}
    {% if title is empty %}
        {{ 'Page_Tree_Calendar'|trans('staticcontent') }}
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block static_content %}

    <table class="table">

        {% for event in calendar.upcoming %}
        <tr>
            <td>
                <strong>{{ event.text }}</strong>
                {% if event.links is not empty %}
                    <br>
                    {% for link in event.links %}
                        {% if link.link.href or link.link.title is not empty %}
                        <a class="btn btn-outline-danger btn-sm" href="{{ link.link.href }}" target="{{ link.link.target }}">{{ link.title }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
            <td>{{ event.date | date("d.m.Y", "Europe/Zurich")}}</td>
        </tr>
        {% endfor %}

    </table>

    {% if page is not empty %}
    <section class="mt-3">
        {% include('@blog/rows.twig') with { rows: page.content.rows } %}
    </section>
    {% endif %}

{% endblock %}
