{% extends '@page/about.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Contact'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    {% set form = form_begin({id: 'contact-form', method: 'POST', action: Url.to(['/page/about/contact'], true) }) %}
    <fieldset class="form-group">
        <legend>{{ 'Page_Contact_Answer_Type_Legend'|trans('staticcontent') }}</legend>
        {{ form.field(model, 'answere').labelAsPrompt.radioList(model.allAnswers)|raw }}
    </fieldset>
    <fieldset class="form-group">
        {{ form.field(model, 'question').dropDownList(model.viewQuestions, pre_selected_question)|raw }}
    </fieldset>
    <fieldset class="form-group">
        {{ form.field(model, 'request').textarea()|raw }}
    </fieldset>

    {% include '@views/forms/base-contact-form.twig' with { captcha: true } %}

    <button type="submit" class="btn btn-danger">
        {{ 'Page_Contact_Submit'|trans('staticcontent') }}
        <span class="icon icon-angle-right"></span>
    </button>
    {{ form_end() }}
{% endblock %}
