{% extends '@page/about.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Contact'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    <h2>{{ 'Page_Contact_Contact_Request'|trans('staticcontent') }}</h2>
    <p>{{ 'Page_Contact_Thank_You'|trans('staticcontent') }}</p>
    <p><strong>{{ 'Page_Contact_Your_Mobilezone'|trans('staticcontent') }}</strong></p>
{% endblock %}
