{% extends '@page/about.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Principles'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    <a href="{{ 'downloads/' | cdn }}{{ 'de_Statuten-2015.pdf' | trans('staticcontent') }}" target="_blank">
        {{ 'Statuten 2015 (pdf)' | trans('staticcontent') }}
    </a>
    <br>
    <a href="{{ 'downloads/' | cdn }}{{ 'de_Organisationsreglement_270218.pdf' | trans('staticcontent') }}" target="_blank">
        {{ 'Organisationsreglement 2017 (pdf)' | trans('staticcontent') }}
    </a>
    <br>
    <a href="{{ 'downloads/' | cdn }}{{ 'de_Code-of-Conduct-2015.pdf' | trans('staticcontent') }}" target="_blank">
        {{ 'Code of Conduct (pdf)' | trans('staticcontent') }}
    </a>
    <br>
    <a href="{{ ('downloads/annual-reports/de_corporate-governance-report-2016.pdf') | cdn }}" target="_blank">
        {{ 'Corporate Governance' | trans('staticcontent') }}
    </a>
    <br>
    <a href="{{ ('downloads/annual-reports/' ~ (app.language == 'de-CH' ? 'de' : 'en') ~ '_compensation-report-2016.pdf') | cdn }}" target="_blank">
        {{ 'Compensation_Report'|trans('staticcontent') }}
    </a>
    <br>
    <a href="{{ 'downloads/' | cdn }}{{ 'de_Protokoll-GV-2018_Ordinary.pdf' }}" target="_blank">
        {{ 'Protokoll_GV_2018_Ordinary' | trans('staticcontent') }}
    </a>
    <br>
    <a href="{{ 'downloads/' | cdn }}{{ 'de_Protokoll-GV-2018.pdf' }}" target="_blank">
        {{ 'Protokoll_GV_2018' | trans('staticcontent') }}
    </a>
    <br>
    <a href="{{ 'downloads/' | cdn }}{{ 'de_Protokoll-GV-2017.pdf' }}" target="_blank">
        {{ 'Protokoll_GV_2017' | trans('staticcontent') }}
    </a>
    <br>
    <a href="{{ 'downloads/' | cdn }}{{ 'de_Protokoll-GV-2016.pdf' | trans('staticcontent') }}" target="_blank">
        {{ 'Protokoll GV 2016 (pdf)' | trans('staticcontent') }}
    </a>
    <br>
    <a href="{{ 'downloads/' | cdn }}{{ 'de_Protokoll-GV-2015.pdf' | trans('staticcontent') }}" target="_blank">
        {{ 'Protokoll GV 2015 (pdf)' | trans('staticcontent') }}
    </a>
{% endblock %}
