{% extends '@page/about.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_IR_Service'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    {% if app.language == 'de-CH' %}
        {% set url = 'https://webservices.newsbox.ch/mobilezoneholding/registration/executable/add_person.php?isoGuiLanguage=de' %}
    {% elseif app.language == 'fr-FR' %}
        {% set url = 'https://webservices.newsbox.ch/mobilezoneholding/registration/executable/add_person.php?isoGuiLanguage=fr' %}
    {% elseif app.language == 'it-IT' %}
        {% set url = 'https://webservices.newsbox.ch/mobilezoneholding/registration/executable/add_person.php?isoGuiLanguage=it' %}
    {% endif %}

    <iframe src="{{ url }}" width="100%" height="500px" border="none"></iframe>
{% endblock %}