{% extends '@page/about.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Key_Figures'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    {% include '@page/about/parts/table-key-figures.twig' %}
    <div class="row row-graph">
    <div class="col-md-4">
        <h2>{{ 'Page_Key_Figures_Pic_One'|trans('staticcontent')|raw }}</h2>
        <img class="img-fluid"
             src="{{ asset('img/key-figures/Konzerngewinn_Netprofit.png') }}"
             alt="Consolidated Profit Graph">
    </div>
    <div class="col-md-4">
        <h2>{{ 'Page_Key_Figures_Pic_Two'|trans('staticcontent')|raw }}</h2>
        <img class="img-fluid"
             src="{{ asset('img/key-figures/EBIT.PNG') }}"
             alt="EBIT Graph">
    </div>
    <div class="col-md-4">
        <h2>{{ 'Page_Key_Figures_Pic_Three'|trans('staticcontent')|raw }}</h2>
        <img class="img-fluid"
             src="{{ asset('img/key-figures/Nettoverkaufserloes.png') }}"
             alt="Net Sales Graph">
    </div>
    </div>
{% endblock %}
