{% extends '@page/about.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_News'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    <p>{{ 'Page_News_Intro'|trans('staticcontent')|raw }}</p>
    <h2>{{ 'Page_News_Subtitle'|trans('staticcontent')|raw }}</h2>
    {% include '@views/news/news.twig' %}
{% endblock %}
