{% extends '@page/about.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Reports'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    <ul class="list-reports list-unstyled">
        {% for report in reports if not report.publishing_date or (report.publishing_date <= current_time) %}
            {% include "@page/about/parts/report-list.twig" %}
        {%  endfor %}
    </ul>
{% endblock %}
