{% extends '@page/about.twig' %}

{% block static_headline %}
    {{ 'Page_Tree_Structure'|trans('staticcontent') }}
{% endblock %}

{% block static_content %}
    <p>{{ 'Page_Structure_Content'|trans('staticcontent') }}</p>
    <img src="{{ asset('img/Unternehmensstruktur_0418_HR_' ~ app.language ~ '.png') }}" alt="MZ Holding Graph" class="img-fluid">
{% endblock %}
