@import '../../variables';

.stock {
  margin-bottom: $spacer / 2;

  @include media-breakpoint-down("xs") {
    text-align: center;
    padding: 3px 12px;

    .icon {
      position: absolute;
      margin-left: -30px;
      font-size: 20px;
    }

  }

  &.stock-status-available {
    color: $brand-success;

    @include media-breakpoint-down("xs") {
      border: 1px dashed $brand-success;
      border-radius: 3px;
    }
  }

  &.stock-status-not-available {
    color: $brand-danger;

    @include media-breakpoint-down("xs") {
      border: 1px dashed $brand-danger;
      border-radius: 3px;
    }

  }

  &.stock-status-in-reorder {
    color: $brand-warning;

    @include media-breakpoint-down("xs") {
      border: 1px dashed $brand-warning;
      border-radius: 3px;
    }

  }

  .product-card & {
    span {
      /*
        WHY?
       */
      /* display: block; */
    }
  }
}
