{% set form = form_begin({id: 'contract-number-keep', method: 'POST', action: '?box=renewal-request'}) %}
    {% embed '@product/contract-box/generic-contract-box.twig' with {contract: true, keep_number: true, contract_box_name: 'renewal-request'} %}
        {% block content %}
            {% if renewal_request_form.created %}
                {% include '@product/contract-box/renewal-request/success.twig' %}
            {% else %}
                {% set scenario_phone_number = constant('app\\modules\\product\\models\\RenewalRequestForm::SCENARIO_PHONE_NUMBER') %}
                {% set scenario_personal_data = constant('app\\modules\\product\\models\\RenewalRequestForm::SCENARIO_PERSONAL_DATA') %}
                {% set show_personal_data =
                    (renewal_request_form.scenario == scenario_phone_number and renewal_request_form.is_valid) or
                    renewal_request_form.scenario == scenario_personal_data
                %}

                <div class="{{ not show_personal_data ? 'hidden-xs-up' }}">
                    {% include '@product/contract-box/renewal-request/personal-data.twig' %}
                </div>

                <div class="{{ show_personal_data ? 'hidden-xs-up' }}">
                    {% include '@product/contract-box/renewal-request/phone-number.twig' %}
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{{ form_end() }}
