{% set nationality_field_id = {'id' : 'passportmodel-nationality'} %}
{% set passport_field_id = {'id' : 'passportmodel-passport_type'} %}

<p>
    {{ 'Contract_Box_We_Need_This_Data_For_Prolonging_Your_Contract_At'|trans('view')|raw }}
    <b>{{ renewal_request_form.provider.title }}</b>
</p>

{{ form.field(renewal_request_form, 'gender').inline().label(false).genderRadioList()|raw }}

<div class="form-group row">
    <div class="col-md-4">
        <label for="example-text-input" class="col-form-label">
            {{ renewal_request_form.getAttributeLabel('firstname')|trans('checkout') }}:*
        </label>
    </div>
    <div class="col-md-8">
        {{ form.field(renewal_request_form, 'firstname').label(false).noFormGroup.textInput|raw }}
    </div>
</div>

<div class="form-group row">
    <div class="col-md-4">
        <label for="example-text-input" class="col-form-label">
            {{ renewal_request_form.getAttributeLabel('lastname')|trans('checkout') }}:*
        </label>
    </div>
    <div class="col-md-8">
        {{ form.field(renewal_request_form, 'lastname').label(false).noFormGroup.textInput|raw }}
    </div>
</div>

<div class="form-group row">
    <div class="col-md-4">
        <label for="example-text-input" class="col-form-label">
            {{ renewal_request_form.getAttributeLabel('birthday')|trans('checkout') }}:*
        </label>
    </div>
    <div class="col-md-8">
        {{ form.field(renewal_request_form, 'birthday').noFormGroup.date.label(false)|raw }}
    </div>
</div>

<div class="form-group row">
    <div class="col-md-4">
        <label for="example-text-input" class="col-form-label">
            {{ renewal_request_form.getAttributeLabel('nationality')|trans('checkout') }}:*
        </label>
    </div>
    <div class="col-md-8">
        {{ form.field(renewal_request_form, 'nationality').label(false).countryDropDown(nationality_field_id)|raw }}
    </div>
</div>

<div class="form-group row">
    <div class="col-md-4">
        <label for="example-text-input" class="col-form-label">
            {{ renewal_request_form.getAttributeLabel('passport_type')|trans('checkout') }}:*
        </label>
    </div>
    <div class="col-md-8">
        {{ form.field(renewal_request_form, 'passport_type').label(false).noFormGroup.passportTypeDropDown(passport_field_id)|raw }}
    </div>
</div>

<div class="form-group row">
    <div class="col-md-4">
        <label for="example-text-input" class="col-form-label">
            {{ renewal_request_form.getAttributeLabel('passport_number')|trans('checkout') }}:*
        </label>
    </div>
    <div class="col-md-8">
        {{ form.field(renewal_request_form, 'passport_number').label(false).noFormGroup.textInput|raw }}
    </div>
</div>

<div class="form-group row">
    <div class="col-md-4">
        <label for="example-text-input" class="col-form-label">
            {{ renewal_request_form.getAttributeLabel('email')|trans('checkout') }}:*
        </label>
    </div>
    <div class="col-md-8">
        {{ form.field(renewal_request_form, 'email').label(false).noFormGroup.textInput|raw }}
    </div>
</div>
{% if not hide_submit| default(false) %}
    {{ form.field(renewal_request_form, 'step_personal_data').label(false).submit('danger')|raw }}
{% endif %}
