{% if not hide_title | default(false) %}
    <p>{{ 'Contract_Box_With_Your_Number_We_Can_Obtain_A_New_Offer_For_You'|trans('view') }}</p>
{% endif %}

{% if not hide_modal | default(false) %}
    <p>
        <a href="#subscriptions">
            <b data-toggle="modal" data-target="#selectCurrentProviderModal">
                {{ 'Contract_Box_You_Can_Switch_To_A_New_Provider'|trans('view')|raw }}
            </b>
        </a>
    </p>
{% endif %}

{{ form.field(renewal_request_form, 'phone_number').telInput()|raw }}

{% if not hide_provider_list | default(false) %}
    <label>
        <span>{{ 'Contract_Box_Prolong_With_Which_Provider'|trans('view') }}</span>
    </label>
    <div class="clearfix">
        {{ form.field(renewal_request_form, 'provider_id').radioList(renewal_request_form.providers.take(6).pluck('title', 'id'))|raw }}
    </div>
{% endif %}

{% if not hide_submit|default(false) %}
    {{ form.field(renewal_request_form, 'step_phone_number').label(false).submit('danger')|raw }}
{% endif %}

{% if not hide_modal | default(false) %}
    <!-- Modal "Select New Provider" -->
    <div class="modal"
         id="selectCurrentProviderModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="selectCurrentProviderModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="selectCurrentProviderModalLabel">
                        {{ 'Contract_Box_What_Is_Your_Current_Provider'|trans('view') }}
                    </h4>
                </div>
                <div class="modal-body text-xs-center">
                    {% for provider in renewal_request_form.providers.take(6) %}
                        <a href="#">
                            <img src="{{ provider.image|image('thumbnail') }}"
                                 class="m-2 d-inline-block"
                                 alt="{{ provider.title }}"
                                 data-provider-id="{{ provider.id }}"
                                 data-dismiss="modal">
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
