<h3 class="mb-2">{{ 'Contract_Box_Thanks_For_Your_Request'|trans('view') }}</h3>
<p class="mb-3">
    {{ 'Contract_Box_We_Will_Send_You_The_Prolong_Offer_Within_X_Days'|trans('view', {provider: renewal_request_form.provider.title})|raw }}
</p>

<div class="card card-attention">
    <p>{{ 'Contract_Box_Alternatively_You_Can_Switch_To_Another_Provider_And_Profit_From_New_Customer_Offers'|trans('view')|raw }}</p>

    <p>{{ 'Contract_Box_We_Will_Care_About_Everything'|trans('view') }}</p>

    <a href="#subscriptions" class="text-danger" data-current-provider-id="{{ renewal_request_form.provider.id }}">
        {{ 'Contract_Box_See_Now'|trans('view') }} <span class="icon icon-angle-right"></span>
    </a>
</div>
