{{ constant('app\\models\\GenderInterface::ALL')[address.sex]|trans('app') }} {{ address.firstname }} {{ address.lastname }} <br>
{{ address.street }} {{ address.house_number }}<br>
{{ address.zip }} {{ address.city }}<br>
{{ address.country }}
{{ 'Tel'|trans }} {{ address.contact_phone_number }}
