<div class="filter-group filter-group-choice" data-filter-group="{{ name }}" data-filter-group-type="choice">
    {% if label %}
        <label for="filter-{{ name }}">{{ label }}</label>
    {% endif %}

    <div class="custom-controls-inline">
        {% for option in options %}
            {{ Html.radio({
                label: option.label,
                size: option.size|default('lg'),
                attrs: {
                    name: 'filter-' ~ name,
                    value: option.value,
                    checked: option.checked|default(false)
                }
            })|raw }}
        {% endfor %}
    </div>
</div>
