{% if options.limits.min == options.limits.max %}
    {% set options = options|merge({disabled: true}) %}
{% endif %}

<div class="filter-group-slider {{ grid ? 'row' }}" data-filter-group="{{ name }}"  data-filter-group-type="{{ type|default('double_slider') }}">
    <label for="filter-price" class="{{ grid.label ? grid.label }}">{{ label }}</label>
    <div class="{{ grid.input ? grid.input }}">
        {{ Html.range(options)|raw }}
    </div>
</div>
