{% set titleField = titleField ? titleField : 'title' %}
{% set idField = idField ? idField: 'id' %}

<div class="filter-group" data-filter-group="{{ name }}" data-filter-group-type="multi_select">
    <span>{{ label }}</span>
    <span class="checked-filter-count"></span>
    <span class="icon icon-angle-down"></span>
    <ul class="filter-group-layer">
        {% for option in options %}
            <li>
                <div class="filter-group-wrapper">
                    {% set label = option[titleField]|default(option) %}
                    {% set value = option[idField]|default(option) %}

                    {{ Html.checkbox({
                        size: 'lg',
                        label: label|unit(value_format),
                        attrs: {
                            name: 'filter-' ~ name,
                            value: value,
                            checked: value in selected|default([])
                        }
                    })|raw }}
                </div>
            </li>
        {% endfor %}
        {% if options|length % 2 == 1 %}
            <li>
                <div class="filter-group-wrapper">
                    <label>&nbsp;</label>
                </div>
            </li>
        {% endif %}
    </ul>
</div>

