{% set titleField = titleField ? titleField : 'title' %}
{% set idField = idField ? idField: 'id' %}

<div class="filter-group single-select" data-filter-group="{{ name }}" data-filter-group-type="single_select">
    {% if label %}
        <label for="filter-{{ name }}">{{ label }}</label>
    {% endif %}
    <select class="form-control custom-select" name="filter-{{ name }}">
        <option value="">{{ label_empty }}</option>
        {% for option in options %}
            {% set label = option[titleField]|default(option) %}
            {% set value = option[idField]|default(option) %}

            <option value="{{ value }}" {% if value == selected|default(null) %}selected{% endif %}>
                {{ value_format|default('%v')|replace({'%v': label|trans('filter')}) }}
            </option>
        {% endfor %}
    </select>
    <span class="icon icon-angle-down"></span>
</div>
