<div class="row align-items-center my-3">
    <div class="col-12 col-sm-8 text-center text-sm-left">
        <h1 class="mt-3 mb-1">{{ block.values.title }}</h1>
        <div class="mb-3 mt-1">
            {{ block.values.date | date("d.m.Y", "Europe/Zurich")}}
        </div>
    </div>
    <div class="col-12 col-sm-4 text-center text-sm-right">
        <div class="addthis_inline_share_toolbox"></div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a705da10e4f426d"></script>
    </div>
</div>