{% if block.values.style == "link" %}
    {% set class = "" %}
{% elseif block.values.style == "primary" %}
    {% set class = "btn btn-danger" %}
{% elseif block.values.style == "secondary" %}
    {% set class = "btn btn-secondary" %}
{% elseif block.values.style == "outline" %}
    {% set class = "btn btn-outline-danger" %}
{%  else %}
    {% set class = "" %}
{% endif %}

<a href="{{ block.values.url }}" target="{{ block.values.target }}" class="{{ class }}">
    {% if block.values.title is empty %}
        {{ block.values.url }}
    {% else %}
        {{ block.values.title }}
    {% endif %}
</a>