{% if block.values.description %}
<div class="my-3 text-center">
    {% if block.values.link %}
        <a href="{{ block.values.link }}" class="mb-3">
            <img src="{{ block.values.image }}" class="img-fluid">
        </a>
    {% else %}
        <img src="{{ block.values.image }}" class="img-fluid mb-3">
    {% endif %}
    <div class="mt-1">
        <strong>{{ block.values.description }}</strong>
    </div>
</div>
{% else %}
<img src="{{ block.values.image }}" class="img-fluid my-3">
{% endif %}