{% set carousel = random() %}
<div id="carousel-{{ carousel }}" class="carousel slide mt-3 mb-5">
    <div class="carousel-inner" role="listbox">
        {% for img in block.values.elements %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                {% if img.link %}
                <a href="{{ img.link }}">
                    <img src="{{ img.image }}" class="img-fluid d-block">
                    <p class="mt-1 text-center"><strong>{{ img.description }}</strong></p>
                </a>
                {% else %}
                <span>
                    <img src="{{ img.image }}" class="img-fluid d-block">
                    <p class="mt-1 text-center"><strong>{{ img.description }}</strong></p>
                </span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if block.values.elements|length > 1 %}
    <a class="carousel-control-prev" href="#carousel-{{ carousel }}" role="button" data-slide="prev">
        <span class="icon icon-angle-right h1"></span>
    </a>
    <a class="carousel-control-next" href="#carousel-{{ carousel }}" role="button" data-slide="next">
        <span class="icon icon-angle-right h1"></span>
    </a>
    {% endif %}
</div>