<div class="language-switch">
    {% for language in Languages.languages %}
        <a href="{{ language.route|routing(language.name) }}"
           class="lang {% if language.active %}active{% endif %}">
            {{ language.name }}
        </a>
    {% endfor %}
</div>
