<div class="store-locations">
    <a href="{{ Url.to(['/shop-finder'], true) }}">
        <span class="icon icon-location"></span>
        <span>{{ 'Locations_Opening_Hours'|trans('view') }}</span>
    </a>
</div>
