<h2 id="accessories" class="mt-5 mb-3">{{ 'Pdp_Tab_Accessories'|trans('product') }}</h2>

<p class="detailed-information-subtitle mb-0">
    {{ 'Pdp_Accessories_Subtitle {product}'|trans('product', {product: article.product_name }) }}
</p>

{% include "@category/product-cards.twig" with { articles: initial_accessory_articles, pdp_accessories: true } %}

<p class="text-center {% if hide_accessory_button %}hidden-xs-up{% endif %}">
    <a href="?all_accessories=1#accessories" class="btn btn-success">
        {{ 'Load_More_Results_Without_Total'|trans('app') }}
    </a>
</p>
