<div class="basic-information">
    <h2>{{ article.manufacturer_title | default('[Manufacturer]') }}</h2>
    <h1 itemprop="name" class="mb-4">{{ article.product_name | default('[Article Name]') }}</h1>

    {% if not sim_only %}
        {% if (Article.getArticlesByColorMemoryRelation(article, 'memory')|length > 0) %}
            <dl>
                <dd>{{ 'Color'|trans('view') }}:</dd>
                <dt>{% include "@product/color-selector.twig" %}</dt>
            </dl>
        {% endif %}

        {% if (Article.getArticlesByColorMemoryRelation(article, 'color')|length > 0) %}
            <dl>
                <dd>{{ 'Memory'|trans('view') }}:</dd>
                <dt>{% include "@product/memory-selector.twig" %}</dt>
            </dl>
        {% endif %}

        {% if article.mat_no %}
            <dl class="d-none d-sm-block">
                <dd>{{ 'Article_Number'|trans('product') }}:</dd>
                <dt itemprop="sku">{{ article.mat_no }}</dt>
            </dl>
        {% endif %}
        {% if article.mpn %}
            <dl class="d-none d-sm-block">
                <dd>{{ 'Manufacturer\'s Part Number'|trans('app') }}:</dd>
                <dt itemprop="mpn">{{ article.mpn }}</dt>
            </dl>
        {% endif %}

        {{ (article_group.description_2|default(article.description_1))|raw }}

        {% if (article_group.description_1) or (article.description_2) %}
            <a href="#detailedInformation" class="smooth-scroll btn btn-sm btn-danger mb-3 d-none d-sm-inline-block">
                <b>
                    {{ 'Technical_Details_Link'|trans('product') }}
                    <span class="icon icon-angle-down"></span>
                </b>
            </a>
        {% endif %}

        {% include '@views/stock/stock.twig' with { stock: article.stock } only %}
    {% endif %}
</div>
