<div class="color-selector">
    {% for color_article in Article.getArticlesByColorMemoryRelation(article, 'memory') %}
        <a href="{{ url('/product/product/smartphones', {
            'id': color_article.id,
            'manufacturerTitle': color_article.manufacturer_title|lower,
            'groupUrlText': color_article.group.title|slugify
        }) }}">
                <span class="color color-{{ color_article.color }} {% if color_article.id == article.id %}active{% endif %}"
                      title="{{ color_article.color_label }}">
                </span>
                {% if color_article.id == article.id %}
                <meta itemprop="color" content="{{ color_article.color_label }}">
                {% endif %}
        </a>
    {% endfor %}
</div>
