{% embed '@product/contract-box/generic-contract-box.twig' with {contract: false, contract_box_name: 'no-contract'} %}
    {% block content %}
        {% include '@product/contract-box/no-contract.twig' %}
    {% endblock %}
{% endembed %}

{% if app.request.get.category != 'accessories' %}

    {% include '@product/contract-box/renewal-request/index.twig' %}

    {% embed '@product/contract-box/generic-contract-box.twig' with {contract: true, keep_number: false, contract_box_name: 'contract-new-number'} %}
        {% block content %}
            {% include '@product/contract-box/contract-new-number.twig' with {article_tariff: article_tariffs[0]} %}
        {% endblock %}
    {% endembed %}

    {% embed '@product/contract-box/generic-contract-box.twig' with {contract: true, keep_number: true, contract_box_name: 'partner-login'} %}
        {% block content %}
            {% include '@product/contract-box/partner-login.twig' with { swisscom_login_url: swisscom_login_url, provider: provider } only %}
        {% endblock %}
    {% endembed %}

{% endif %}
