<div class="detailed-information">
    {% if (article_group.description_1) or (article.description_2) %}
        {% set description = article_group.description_1|default(article.description_2) %}
        <h2 id="detailedInformation" class="mt-5 mb-0">{{ 'Pdp_Tab_Product_Details'|trans('view') ~ ' ' ~ article.product_name }}</h2>
        <p class="detailed-information-subtitle">{{ 'Pdp_Product_Details_Subtitle {product}'|trans('product', {product: article.manufacturer_title~' '~article_group.short_name }) }}</p>
        <div itemprop="description">
            {{ description|raw }}
        </div>
    {% endif %}

    {% if article.show_technical_information %}
        <h2 id="technicalDetails" class="mt-5 mb-0">{{ 'Pdp_Tab_Specs'|trans('view') ~ ' ' ~ article.product_name }}</h2>
        <p class="detailed-information-subtitle">{{ 'Pdp_Specs_Subtitle'|trans('product') }}</p>

        {% if not no_contract %}
            {% include '@product/detailed-information/top-infos.twig' %}
        {% endif %}

        {% include '@product/detailed-information/grouped-infos.twig' %}
    {% endif %}

    {% if delivery_items %}
        <h2 class="mt-5 mb-3 detailed-information-subtitle">{{ 'Pdp_Tab_Delivery_Contents'|trans('view') }}</h2>
        <ul class="list list-success">
            {% for item in delivery_items %}
                <li class="pl-3 pb-2">{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
