<div class="memory-selector">
    {% for memory_article in Article.getArticlesByColorMemoryRelation(article, 'color') %}
        <a href="{{ url('/product/product/smartphones', {
            'id': memory_article.id,
            'manufacturerTitle': memory_article.manufacturer_title|lower,
            'groupUrlText': memory_article.group.title|slugify
        }) }}">
                <span class="size {% if memory_article.id == article.id %}active{% endif %}">
                        {{ memory_article.memory|unit('GB') }}
                </span>
        </a>
    {% endfor %}
</div>
