{% if article_group.show_marketing_image and article_group.marketing_image %}
    {% set img_src = article_group.marketing_image %}
{% elseif article.manufacturer.marketing_image and article.manufacturer.show_on_pdp %}
    {% set img_src = article.manufacturer.marketing_image %}
{% endif %}

{% if img_src %}
    <img src="{{ img_src|image }}"
        alt="{{ article.manufacturer_title }} Marketing Banner"
        class="img-fluid d-block mb-4">
{% endif %}
