<div class="price-box{{ sim_only ? ' hidden-xs-up' }}">
    {% include '@product/price-box/provider-list.twig' with {
        providers: standard_tariff_providers,
        selected_provider: selected_provider,
    } only %}

    <div class="cta-wrapper {% if(providers|length > 0) %} my-5 my-lg-0 {% endif %}">
        {% include '@product/price-box/order-with-tariff.twig' with {
            standard_tariff: standard_tariffs.first,
            selected_standard_tariff: selected_standard_tariff,
        } only %}

        {% include '@product/price-box/buy-hardware-only.twig' with {
            article: article,
            is_primary_cta: standard_tariffs.first == null,
            accessory_id: accessory_id,
            has_tariff: article_tariffs|length > 0,
        } only %}
    </div>
</div>
