{% extends "@views/layouts/base.twig" %}

{% block content %}
    {% if article.image_overlay_text %}
        {% include "@product/specials-marker.twig" with {lang: app.language} only %}
    {% endif %}

    <div class="product{{ sim_only ? ' product-sim-only' }}" itemscope itemtype="http://schema.org/Product">
        {% include '@product/pdp-marketing-image.twig' %}

        <div class="row">
            <div class="col-sm-6 col-sm-push-6 col-lg-4 col-lg-push-0">
                {% include "@product/basic-information.twig" %}
            </div>
            <div class="col-sm-6 col-sm-pull-6 col-lg-4 col-lg-pull-0 mt-5 mt-sm-0 py-5 py-sm-0 product-gallery-background">
                {% if not sim_only %}
                    {% include "@product/product-gallery.twig" %}
                {% endif %}
            </div>
            <div class="col-sm-12 col-lg-4 mt-5 mt-lg-0">
                {% include "@product/price-box.twig" %}
            </div>
        </div>

        {% if article_tariffs|length > 0 %}
            {% block subscriptions %}
                {% include "@product/subscriptions.twig" with { absolute_urls: false } %}
            {% endblock %}
        {% endif %}

        {% if not sim_only %}
            {% block detailedInformation %}
                {% include "@product/detailed-information.twig" %}
            {% endblock %}
        {% endif %}

        {% if initial_accessory_articles %}
            {% block accessories %}
                {% include "@product/accessories.twig" %}
            {% endblock %}
        {% endif %}

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="CHF">
            <meta itemprop="price" content="{{ article.prices.price_sale }}">

            {% if article.stock.status == "stock_status_available" %}
            <link itemprop="availability" href="http://schema.org/inStock" />
            {% endif %}

        </div>

    </div>
{% endblock %}
