<div class="product-gallery">
    <div class="main-image">
        <img itemprop="image" src="{{ article.images[0]|image('big') | default(asset('img/no_image_big.png')) }}"
             class="img-fluid img-mh d-block" alt="{{ article.product_name }}">
    </div>
    {% if article.images | length > 1 %}
    <div class="thumbnails mt-3">
        <div class="row justify-content-center">
            {% for thumbnail in article.images %}
                <div class="col-3">
                    <div class="thumbnail text-center">
                        <img src="{{ thumbnail|image('big') | default(asset('img/no_image_big.png')) }}"
                             class="img-fluid img-mh" alt="{{ article.product_name }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
