{% set absolute_urls = absolute_urls is not defined ? true : absolute_urls %}
<div class="subscriptions">
    <a name="subscriptions"></a>
    <ul class="nav nav-tabs nav-justify text-center mb-2">
        <li class="nav-item">
            <a class="nav-link {% if(contract_mode == 'new-number') %}active{% endif %}"
               href="{{ absolute_urls ? url('/tariff/tariff/overview', {mode: 'new-number'}) : '?mode=new-number' }}#subscriptions">
                {{ 'Contract_Box_New_Contract'|trans('view') }}<br>
                (<small>{{ 'Contract_Box_New_Number'|trans('view') }}</small>)
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if(contract_mode == 'porting') %}active{% endif %}"
               href="{{ absolute_urls ? url('/tariff/tariff/porting', {mode: 'porting'}) : '?mode=porting' }}#subscriptions">
                {{ 'Number_Porting'|trans('product') }}<br>
                (<small>{{ 'Keep_Number_New_Provider'|trans('product') }}</small>)
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if(contract_mode == 'contract-renewal') %}active{% endif %}"
               href="{{ absolute_urls ? url('/product/renewal-request/index', {mode: 'contract-renewal'}) : '?mode=contract-renewal' }}#subscriptions">
                {{ 'Contract_Renewal'|trans('product') }}<br>
                (<small>{{ 'Of_The_Existing_Contract'|trans('product') }}</small>)
            </a>
        </li>
    </ul>

    {% if app.session.getAllFlashes()|length > 0 and app.controller.id == 'product' %}
        <div class="row">
            <div class="col-lg-12">
                {% for type, messages in app.session.getAllFlashes() %}
                    {% embed '@views/components/alert.twig' with {type: type} %}
                        {% block body %}
                            {% for msg in messages %}
                                {{ msg }}{{ not loop.last ? '<br>' }}
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if not hide_filter %}
        {% if(contract_mode == 'porting') %}
            {% include('@product/subscriptions/porting.twig') %}
        {% elseif(contract_mode == 'contract-renewal') %}
            {% include('@product/subscriptions/contract-renewal.twig') %}
        {% else %}
            {% include('@product/subscriptions/new-contract.twig') %}
        {% endif %}

        {% if(contract_mode != 'contract-renewal') %}
            {% include "@pagination/load-more.twig" %}
        {% endif %}
    {% endif %}
</div>
