{% set statusClass = stock.status|replace({'_': '-'}) %}

<div class="stock {{ statusClass }}">
    {% if not no_icon %}
        <span class="icon icon-delivery"></span>
    {% endif %}
    <span>{{ stock.status|trans('view') }}</span>
</div>
