<div class="navigation-wrapper">
    <label for="icon-bars" class="icon icon-menu"></label>
    <input type="checkbox" id="icon-bars"/>

    <a class="mobile-basket mt-1" href="{{ url(['/checkout/checkout/index']) }}">
        {% include "@views/header/navigation-bar/mini-basket.twig" %}
    </a>

    <a class="mt-1" href="{{ Url.to(['/customer-account'], true) }}">
        <span class="icon icon-customer"></span>
    </a>

    <a class="mt-1" href="#">
        <span class="icon icon-search customsearch" id="icon-search"></span>
    </a>

    <ul class="navigation-bar-vertical list-group">
        <li class="list-group-item pa-1">
            <form action="{{ url(['/search/search/index']) }}" method="get">
                <input type="text" class="form-control epoq_search_box" name="q" placeholder="{{ 'I_Search'|trans('view') }}..."/>
            </form>
        </li>
        <li class="list-group-item">
            <div class="mobile-level1">
                {{ 'Navi_Mobilephone'|trans('view') }}
                <span class="icon icon-angle-right float-xs-right"></span>
            </div>
            {% include '@views/header/navigation-bar/navi-layer-smartphones.twig' %}
        </li>
        <li class="list-group-item">
            <div class="mobile-level1">
                {{ 'Navi_Tablets'|trans('view') }}
                <span class="icon icon-angle-right float-xs-right"></span>
            </div>
            {% include '@views/header/navigation-bar/navi-layer-tablets.twig' %}
        </li>
        <li class="list-group-item">
            <div class="mobile-level1">
                {{ 'Navi_Accessories'|trans('view') }}
                <span class="icon icon-angle-right float-xs-right"></span>
            </div>
            {% include '@views/header/navigation-bar/navi-layer-accessories.twig' %}
        </li>
        <li class="list-group-item">
            <div class="mobile-level1">
                {{ 'Navi_Contracts'|trans('view') }}
                <span class="icon icon-angle-right float-xs-right"></span>
            </div>
            {% include '@views/header/navigation-bar/navi-layer-contracts.twig' %}
        </li>
        <li class="list-group-item">
            <a href="{{ Url.to(['/page/tv/tv'], true) }}" class="mobile-level1">
                {{ 'Navi_TV'|trans('view') }}
            </a>
        </li>
        <li class="list-group-item">
            <a class="mobile-level1" href="{{ url(['/page/support/service-support']) }}">
				{{ 'Navi_Support'|trans('view') }}
            </a>
        </li>
        <li class="list-group-item">
            <div class="mobile-level1">
                {{ 'Navi_Refurbished'|trans('view') }}
                <span class="icon icon-angle-right float-xs-right"></span>
            </div>
            {% include '@views/header/navigation-bar/navi-layer-occasion.twig' %}
        </li>

        {% if app.language == "de-CH" %}
            <li class="list-group-item">
                <a class="mobile-level1" href="/blog/">
                    {{ 'Navi_Blog'|trans('view') }}
                </a>
            </li>
        {% endif %}

        <li class="list-group-item highlighted">
            <a href="{{ Url.to(['/category/category/specials'], true) }}" class="mobile-level1">
                {{ 'Navi_Specials'|trans('view') }}
            </a>
        </li>

    </ul>
</div>

<a href="/" class="logo">
    <img src="{{ asset('img/mobilezone_logo.png') }}" alt="Mobilezone">
</a>
