<header class="header hidden-md-down">
    {% include "@views/header/link-bar.twig" %}
    {% include "@views/header/search-bar.twig" %}
    {% include "@views/header/navigation-bar.twig" %}
</header>

<header class="header-mobile hidden-lg-up">
    {% include "@views/header/header-mobile.twig" %}
</header>
