<div class="link-bar">
    <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
            {{ 'Private_Customer_Link_Bar'|trans('view') }}
        </li>
        <li class="list-inline-item inactive">
            <a href="https://b2bshop.mobilezone.ch/b2b">{{ 'Business_Customer_Link_Bar'|trans('view') }}</a>
        </li>

        {% if Auth.user != null %}
            <li class="list-inline-item inactive float-md-right ml-1">
                <a href="{{ Url.to(['/customer-account/customer-account/logout'], true) }}">{{ 'Logout'|trans('view') }}</a>
            </li>
        {% endif %}

        <li class="list-inline-item inactive float-md-right">
            <a href="{{ Url.to(['/customer-account'], true) }}">{{ 'My_Account'|trans('view') }}</a>
        </li>

        <li class="list-inline-item plain float-md-right">
            {% include "@views/header/link-bar/language-switch.twig" %}
        </li>
        <li class="list-inline-item plain float-md-right">
            {% include "@views/header/link-bar/store-locations.twig" %}
        </li>
    </ul>
</div>
