<nav class="navigation-bar navbar navbar-toggleable-md navbar-inverse">
    <div class="collapse navbar-collapse">
        <ul id="navigation-main" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url(['/category/category/smartphones']) }}">
                    {{ 'Navi_Mobilephone'|trans('view') }}
                </a>
                <div class="triangle"></div>
                {% include '@views/header/navigation-bar/navi-layer-smartphones.twig' %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url(['/category/category/tablets']) }}">
                    {{ 'Navi_Tablets'|trans('view') }}
                </a>
                <div class="triangle"></div>
                {% include '@views/header/navigation-bar/navi-layer-tablets.twig' %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url(['/category/category/accessories']) }}">
                    {{ 'Navi_Accessories'|trans('view') }}
                </a>
                <div class="triangle"></div>
                {% include '@views/header/navigation-bar/navi-layer-accessories.twig' %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url(['/tariff/tariff/selection']) }}">
                    {{ 'Navi_Contracts'|trans('view') }}
                </a>
                <div class="triangle"></div>
                {% include '@views/header/navigation-bar/navi-layer-contracts.twig' %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url(['/page/tv/tv']) }}">
                    {{ 'Navi_TV'|trans('view') }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url(['/page/support/service-support']) }}">
                    {{ 'Navi_Support'|trans('view') }}
                </a>
                <div class="triangle"></div>
                {% include '@views/header/navigation-bar/navi-layer-support.twig' %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/{{ 'occasion-handy-gebraucht'|trans('view') }}">
                    {{ 'Navi_Refurbished'|trans('view') }}
                </a>
                <div class="triangle"></div>
                {% include '@views/header/navigation-bar/navi-layer-occasion.twig' %}
            </li>

            {% if app.language == "de-CH" %}
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">
                        {{ 'Navi_Blog'|trans('view') }}
                    </a>
                </li>
            {% endif %}

        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url(['/checkout/checkout/index']) }}">
                    {% include "@views/header/navigation-bar/mini-basket.twig" %}
                </a>
            </li>
            <li class="nav-item hidden-md-down fancy-skew">
                &nbsp;
            </li>
            <li class="nav-item hidden-md-down prominent">
                <a class="nav-link" href="{{ url(['/category/category/specials']) }}">
                    {% include "@views/header/navigation-bar/specials.twig" %}
                </a>
            </li>
        </ul>
    </div>
</nav>
