<div class="search-bar">
    <div class="row">
        <div class="col-md-3">
            {% include '@views/header/logo.twig' %}
        </div>
        {% if not logo_only|default(false) %}
            <div class="col-md-4 col-md-offset-1 col-lg-5 col-lg-offset-0">
                <!--<form action="{{ url(['/search/search/index']) }}" method="get">-->
                    <div class="form-group">
                        <input type="text" class="form-control epoq_search_box" name="q" id="q"
                               placeholder="{{ 'I_Search'|trans('view') }}...">
                    </div>
                <!--</form>-->
            </div>
            <div class="col-md-3 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <div class="mini-banner float-md-right">
                    {% include '@views/marketing/marketing-image.twig' with {
                        item_tag: 'header-teaser',
                        item_name: 'Marketing Banner',
                        item_position: 'Header',
                    } %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
