{% extends "@customer-account/layout-double-headline.twig" %}

{% block customer_headline_1 %}
    {{ 'Order_History'|trans }}
{% endblock %}

{% block customer_headline_2 %}
    {{ 'Order_History_Subtitle'|trans }}
{% endblock %}

{% block customer_content %}
    <p>{{ 'Order_Hint'|trans }}</p>

    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>{{ 'Order_Nr'|trans }}</th>
            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'Price_Once'|trans }}</th>
            <th>{{ 'Price_Monthly'|trans }}</th>
            <th>{{ 'Order_Status'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.created_at|date('d.m.Y') }}</td>
                <td>{{ order.prices.once|price }}</td>
                <td>{{ order.prices.monthly|price }}</td>
                <td>
                    {% if order.shipment_tracking_ids %}
                        <a href="http://www.post.ch/track?formattedParcelCodes={{ order.shipment_tracking_ids|join(',') }}"
                           target="_blank" class="active">{{ order.status_code_label }}</a>
                    {% else %}
                        {{ order.status_code_label }}
                    {% endif %}
                </td>
                <td>
                    <a href="/customer-account/order/view?id={{ order.id }}" class="btn btn-danger float-right">
                        {{ 'View'|trans }}
                        <span class="icon icon-angle-right"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
