{% import "@views/common/utils.twig" as utils %}

<div>
    <table class="table table-bordered table-products">
        <thead>
            <tr>
                <th><strong class="hidden-lg-up text-danger">{{ 'Your_Choice'|trans('checkout') }}</strong></th>
                <th class="text-center hidden-md-down">{{ 'Monthly charges'|trans('checkout') }}</th>
                <th class="text-center hidden-md-down">{{ 'One-time costs'|trans('checkout') }}</th>
            </tr>
        </thead>

        <tbody>
            {% for item in order.checkoutItems %}
                <tr>
                    <td>
                        <h2>{{ item.title }}</h2>
                    </td>
                    <td class="text-right hidden-md-down">{{ utils.price(item.prices.monthly) }}</td>
                    <td class="text-right hidden-md-down">{{ utils.price(item.prices.once) }}</td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr class="hidden-md-down">
                <td>{{ 'Total cost'|trans('checkout') }}</td>
                <td class="text-right">{{ utils.price(order.prices.monthly) }}</td>
                <td class="text-right">{{ utils.price(order.prices.once) }}</td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="hidden-lg-up">
    <table class="table table-bordered replace" id="totals-mobile-once">
        <thead>
            <tr>
                <td colspan="2"><strong class="text-danger">{{ 'Costs_Once'|trans('checkout') }}</strong></td>
            </tr>
        </thead>
        <tbody>
            {% for item in order.checkoutItems if item.prices.once != 0 %}
                <tr>
                    <td>
                        <h2>{{ item.title }}</h2>
                    </td>
                    <td class="text-right">{{ utils.price(item.prices.once) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>{{ 'Total_Cost_Once'|trans('checkout') }}</td>
                <td class="text-right">
                    <strong class="text-danger">
                        {{ utils.price(order.prices.once) }}
                    </strong>
                </td>
            </tr>
        </tfoot>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td colspan="2">
                    <strong class="text-danger">{{ 'Costs_Monthly'|trans('checkout') }}</strong>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for item in order.checkoutItems if item.prices.monthly != 0 %}
                <tr>
                    <td>
                        <h2>{{ item.title }}</h2>
                    </td>
                    <td class="text-right">{{ utils.price(item.prices.monthly) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>{{ 'Total_Cost_Mothly'|trans('checkout') }}</td>
                <td class="text-right">
                    <strong class="text-danger">
                        {{ utils.price(order.prices.monthly) }}
                    </strong>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
