{% extends "@customer-account/order/index.twig" %}

{% block customer_content %}
    <dl class="row">
        <dt class="col-sm-6 col-md-4">{{ 'Order_Nr'|trans }}:</dt>
        <dd class="col-sm-6 col-md-8">{{ order.id }}</dd>
        <dt class="col-sm-6 col-md-4">{{ 'Date'|trans }}:</dt>
        <dd class="col-sm-6 col-md-8">{{ order.created_at|date('d.m.Y') }}</dd>
        <dt class="col-sm-6 col-md-4">{{ 'Total_Cost_Once'|trans('checkout')|capitalize }}:</dt>
        <dd class="col-sm-6 col-md-8">{{ order.prices.once|price }}</dd>
        <dt class="col-sm-6 col-md-4">{{ 'Total_Cost_Mothly'|trans('checkout')|capitalize }}:</dt>
        <dd class="col-sm-6 col-md-8">{{ order.prices.monthly|price }}</dd>
        <dt class="col-sm-6 col-md-4">{{ 'Delivery_Status'|trans }}:</dt>
        <dd class="col-sm-6 col-md-8">{{ order.status_code_label }}</dd>
    </dl>
{% endblock %}

{% block customer_footer %}
    {% include '@customer-account/order/order.twig' with {order: order} only %}
{% endblock %}
