{# include "@landingpage/elements/box.twig" with { data : [
    {'type' : 'text', 'title' : 'Kleiner Titel', 'text' : 'Kleiner Text'}
    {'type' : 'image', 'imageDb' : iphone.images[1]},
]} #}

{% if fullscreen %}

{% if fullscreen.gradientTop %}
<div class="container-full" style="height: 50px; background: linear-gradient(to bottom, {{ fullscreen.gradientTop.from }} 0%,{{ fullscreen.gradientTop.to }} 100%);"></div>
{% endif %}

<div class="container-full" style="{{ fullscreen.style }}">
    <div class="{{ fullscreen.class }}">
{% endif %}

    <div class="landingpage-box my-5 landingpage-box-font-{{ fontSize }}">
        <div class="row {% if class %}{{ class }}{% else %}align-items-center{% endif %} {% if animate %}animate{% endif %}">
            {% for item in data %}
            <div {% if item.title %}id="{{ item.title | slugify }}" {% endif %} class="{% if item.animation %}animate-{{ item.animation }} {% endif %}{% if item.class %}{{ item.class }}{% else %}col{% endif %}">
                {% if item.type == 'text' %}
                    {% if item.title %}
                        <h4>{{ item.title | raw}}</h4>
                    {% endif %}

                    {% if item.text %}
                        <p>{{ item.text | raw }}</p>
                    {% endif %}
                {% endif %}

                {% if item.type == 'image' %}
                    {% if item.imageSrc %}
                        <img src="{{ item.imageSrc }}" class="img-fluid">
                    {% endif %}
                    {% if item.imageDb %}
                        <img src="{{ item.imageDb | image('big') }}" class="img-fluid">
                    {% endif %}
                {% endif %}

                {% if item.type == 'step' %}
                    {% if item.imageSrc %}
                        <img src="{{ item.imageSrc }}" class="img-fluid">
                    {% endif %}
                    {% if item.imageDb %}
                        <img src="{{ item.imageDb | image('big') }}" class="img-fluid">
                    {% endif %}

                    {% if item.title %}
                        <h4>{{ item.title | raw }}</h4>
                    {% endif %}

                    {% if item.text %}
                        <p>{{ item.text | raw }}</p>
                    {% endif %}
                {% endif %}

                {% if item.type == 'products' %}
                    {% if item.title %}
                        <h4 class="mb-3">{{ item.title | raw}}</h4>
                    {% endif %}

                    <div class="row">
                        {%  for product in item.data %}
                        <div class="{% if item.productClass %}{{ item.productClass }}{% else %}col-12 col-sm-6 col-md-4{% endif %}">
                            {% include "@category/product-card-slim.twig" with { article : product } %}
                        </div>
                        {% endfor %}
                    </div>

                    {#
                    {% for key, s in mySet %}
                        {% if s %}
                            <h3 class="mt-5 text-center">{{ titles[key] }} </h3>
                            <div class="row">
                                {% for product in s %}
                                    <div class="col-sm-4">
                                        {% include "@category/product-card-slim.twig" with { article : product } %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    #}
                {% endif %}

            </div>
            {% endfor %}
        </div>
    </div>

{% if fullscreen %}
    </div>
</div>

{% if fullscreen.gradientBottom %}
    <div class="container-full" style="height: 50px; background: linear-gradient(to bottom, {{ fullscreen.gradientBottom.from }} 0%,{{ fullscreen.gradientBottom.to }} 100%);"></div>
{% endif %}

{% endif %}