{#
    set data = [
        { 'icon' : 'memory', 'title' : 'Interner Speicher', 'text' : 'Text' },
        { 'icon' : 'battery', 'title' : 'Batterie', 'text' : 'Text' },
        { 'icon' : 'battery', 'title' : 'Batterie', 'text' : 'Text' }
    ]
#}

<div class="{% if class %}{{ class }}{% else %}landingpage-factbox my-3{% endif %}">
    <div class="row justify-content-center">
        {% for item in data %}
            <div class="{% if item.class %}{{item.class}}{% else %}col-6 col-sm-4{% endif %} py-3">
                <span class="icon {% if item.icon %}icon-{{ item.icon }}{% else %}icon-check{% endif %}"></span>
                <h4 class="mt-2 mb-3">{{ item.title }}</h4>
                <p class="mb-0">{{ item.text }}</p>
            </div>
        {% endfor %}
    </div>
</div>