{# include "@landingpage/elements/header.twig" with { data: [
	'title' : 'iPhone X',
	'titleStyle' : 'font-size:3rem;',
	'imageSrc' : 'https://daf2bvsxi2mv2.cloudfront.net/mobilezone/articles/big/54fe94356fa4653d0a853f71a905e7c3.png',
	'imageDb' : '',
	'subtitle' : 'Das beste IPHONE der Welt',
	'text' : 'ICH BIN EIN TEXt. <br> blabla ',
	'action' : {
		'title' : 'I AM THE TITLE',
		'url' : 'http://www.google.de',
	},
	'factbox' : [
		{ 'icon' : 'memory', 'title' : 'Interner Speicher', 'text' : 'Text' },
		{ 'icon' : 'battery', 'title' : 'Batterie', 'text' : 'Text' },
		{ 'icon' : 'battery', 'title' : 'Batterie', 'text' : 'Text' }
	]
]} #}

<div class="landingpage-header">
    <div class="row align-items-center mb-5">
        <div class="col-sm-6 my-5 text-center">

            {% if data.imageSrc %}
            <img src="{{ data.imageSrc }}" class="img-fluid {{ imageClass }}">
            {% endif %}
            {% if data.imageDb %}
            <img src="{{ data.imageDb | image('big') }}" class="img-fluid {{ imageClass }}">
            {% endif %}

        </div>
        <div class="col-sm-6 my-5 text-center text-sm-left">

            {% if data.title %}
            <h1 class="my-3" {% if data.titleStyle %} style="{{ data.titleStyle }}" {% endif %}>
                {{ data.title }}
            </h1>
            {% endif %}

            {% if data.subtitle %}
            <h3 class="my-3">
                {{ data.subtitle }}
            </h3>
            {% endif %}

            {%  if data.text %}
            <div class="my-3">
                {{ data.text | raw }}
            </div>
            {% endif %}

            {%  if data.factbox %}
            {%  include "@landingpage/elements/factbox.twig" with { data : data.factbox } %}
            {% endif %}

            {% if data.legal %}
            <p class="my-3 text-muted">
                <small>{{ data.legal | raw }}</small>
            </p>
            {% endif %}

            {% if data.action %}
            <div class="landingpage-action">
                <a href="{{ data.action.url }}" class="{% if data.action.class %}{{ data.action.class}}{% else %}btn btn-danger{% endif %}">{{ data.action.title }}</a>
            </div>
            {% endif %}

        </div>
    </div>
</div>

{% if data.stickybar %}
    {% include "@landingpage/elements/sticky-bar.twig" with { title :  data.title, subtitle : data.subtitle, action: data.action.title, actionUrl : data.action.url } %}
    {% include "@landingpage/elements/sticky-bar-start.twig" %}
{% endif %}