<div class="landingpage-shopfinder {% if class %}{{ class }}{% else %}my-5{% endif %}">
    {% if title %}
        <h3 class="{% if titleClass %}{{ titleClass }}{% else %}mb-5 text-center{% endif %}">{{ title }}</h3>
    {% endif %}
    <div id="map-locations" class="hidden-xs-up">
        {{ {settings: data.shop_finder.toArray(), shops: data.shops }|json_encode }}
    </div>

    <div>
        <div id="map" class="google-maps" {% if height %}style="height: {{ height }}"{% endif %}></div>
    </div>

</div>