<div id="sticky-bar" style="display: none;" class="p-3 px-sm-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-4 sticky-bar-title text-center text-sm-left">
                {{ title | raw }}
                {% if subtitle %}
                <span>{{ subtitle }}</span>
                {% endif %}
            </div>
            {% if action %}
            <div class="col sticky-bar-action text-sm-right mt-3 mt-sm-0">
                <a href="{{ actionUrl }}" class="btn btn-outline-danger mb-0">{{ action }}</a>
            </div>
            {% endif %}
            {% if actions %}
            <div class="col sticky-bar-actions text-sm-right mt-3 mt-sm-0">
                <ul>
                    {% for ax in actions %}
                    <li><a class="btn btn-outline-danger btn-sm" href="{% if ax.url %}{{ ax.url }}{% else %}#{{ ax.title | slugify }}{% endif %}">{{ ax.title }}</a></li>
                    {% endfor %}
                </ul>
                <select onchange="if (this.value !== 0) window.location.href=this.value; this.value = 0;">
                    <option value="0">{{ 'Select' | trans('view') }}</option>
                    {% for ax in actions %}
                    <option value="{% if ax.url %}{{ ax.url }}{% else %}#{{ ax.title | slugify }}{% endif %}">{{ ax.title }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
        </div>
    </div>
</div>