<div class="landingpage-tv-configurator text-center text-sm-left">
    <div class="title">
        Souhaitez-vous une offre?
    </div>
    <div class="text mt-3">
        Souhaitez-vous recevoir une offre adaptée à vos besoins? Informez-nous de vos souhaits avec le formulaire de configuration et nous vous enverrons une offre sans engagement.
    </div>
    <div class="cta mt-3">
        <a class="btn btn-danger" href="{{ Url.to(['/page/tv/contract-configurator'], true) }}">Configurateur</a>
    </div>
</div>