<div class="landingpage-tv-configurator text-center text-sm-left">
    <div class="title">
        Desiderate un offerta?
    </div>
    <div class="text mt-3">
        Volete ricevere un offerta adeguata alle vostre richieste? Informateci quali servizi volete utilizzare tramite il nostro configuratore. Noi vi invieremo un offerta non vincolante.
    </div>
    <div class="cta mt-3">
        <a class="btn btn-danger" href="{{ Url.to(['/page/tv/contract-configurator'], true) }}">Vai al configuratore</a>
    </div>
</div>