<div class="landingpage-tv-configurator text-center text-sm-left">
    <div class="title">
        Wünschen Sie ein Angebot?
    </div>
    <div class="text mt-3">
        Sie möchten ein auf Ihre Bedürfnisse zugeschnittenes Angebot erhalten? Teilen Sie uns mittels Konfigurationsformular Ihre Wünsche mit und wir unterbreiten Ihnen ein unverbindliches Angebot.
    </div>
    <div class="cta mt-3">
        <a class="btn btn-danger" href="{{ Url.to(['/page/tv/contract-configurator'], true) }}">Zum Konfigurator</a>
    </div>
</div>