{% extends '@page/about.twig' %}

{% block static_headline %}
    {{  title }}
{% endblock %}

{% block static_content %}

    {% for company in people %}

        {% if company.people is not empty %}

            {% if showCompany %}
                <h2 class="mt-5"> {{ company.title }}</h2>
            {% endif %}

            {% for person in company.people %}
                {% include "@page/about/luya/parts/person.twig" %}
            {% endfor %}
        {% endif %}

    {% endfor %}

    {% for person in persons %}
        {% include "@page/about/luya/parts/person.twig" %}
    {%  endfor %}
{% endblock %}
