<fieldset class="form-group">
    <div class="row">
        <legend class="col-form-legend col-sm-12">
            {{ en ? 'Contact data' : 'Page_Contact_Data'|trans('staticcontent') }}
        </legend>
        <div class="col-12">
            {{ form.field(model, 'sex').size('lg').inline().label(false).genderRadioList|raw }}
        </div>
        <div class="col-12">
            {{ form.field(model, 'firstname').labelAsPlaceholder.textInput|raw }}
        </div>
        <div class="col-12">
            {{ form.field(model, 'lastname').labelAsPlaceholder.textInput|raw }}
        </div>
        <div class="col-sm-8">
            {{ form.field(model, 'street').labelAsPlaceholder.textInput|raw }}
        </div>
        <div class="col-sm-4">
            {{ form.field(model, 'number').labelAsPlaceholder.textInput|raw }}
        </div>
        <div class="col-sm-4">
            {{ form.field(model, 'zip').labelAsPlaceholder.textInput|raw }}
        </div>
        <div class="{{ birthday ? 'col-sm-4' : 'col-sm-8' }}">
            {{ form.field(model, 'place').labelAsPlaceholder.textInput|raw }}
        </div>
        {% if birthday %}
            <div class="col-sm-4">
                {{ form.field(model, 'birthday').labelAsPlaceholder.date([], true)|raw }}
            </div>
        {% endif %}
        <div class="col-sm-6">
            {{ form.field(model, 'tel').labelAsPlaceholder.textInput|raw }}
        </div>
        <div class="col-sm-6">
            {{ form.field(model, 'email').labelAsPlaceholder.textInput|raw }}
        </div>
        {% if captcha %}
            <div class="col-sm-6">
                {{ form.field(model, 'captcha').labelAsPlaceholder.textInput.widget('yii\\captcha\\Captcha', {'captchaAction': 'about/captcha'})|raw }}
            </div>
        {% endif %}
    </div>
</fieldset>
