<label class="custom-control custom-checkbox {{ size ? 'custom-control-' ~ size }}">

    {# render hidden input, in case checkbox is not checked, empty value will be sent #}
    {% include '@views/forms/input.twig' with {attrs: {type: 'hidden', value: 0, name: attrs.name}} %}
    {% include '@views/forms/input.twig' with {attrs: attrs} %}

    <span class="custom-control-indicator">
        <span class="icon icon-check"></span>
    </span>
    {# needed container, so errors will be displayed under the label #}
    <div>
        <span class="custom-control-description">{{ label|raw }}</span>

        {% if errors is defined and errors|length > 0 %}
            <p class="text-danger mb-0">{{ errors|join('<br>') }}</p>
        {% endif %}
    </div>
</label>
