{% if field.inline %}
        {% set class = 'custom-controls-inline' %}
{% else %}
        {% set class = 'custom-controls-stacked' %}
{% endif %}

<div class="{{ class }}">
    {% set fieldName = field.model.formName() ~ '[' ~ field.attribute ~ ']' %}

    {% for value, label in items %}
        {{ Html.checkbox({
            label: label,
            size: field.size,
            attrs: {
                id: field.inputId,
                name: fieldName,
                value: value,
                checked: value == field.model[field.attribute]
            }
        })|raw }}
    {% endfor %}

    {% if errors is defined and errors|length > 0 %}
        <p class="text-danger mb-0">{{ errors|join('<br>') }}</p>
    {% endif %}
</div>
