<input
    {% for attr_name, attr_value in attrs %}
        {% if attr_name == 'disabled' or attr_name == 'checked' %}
            {{ attr_value ? attr_name }}
        {% elseif attr_name == 'class' %}
            class="custom-control-input {{ attr_value }}"
        {% else %}
            {{ attr_name }}="{{ attr_value }}"
        {% endif %}
    {% endfor %}
/>
