<label class="custom-control custom-radio {{ size ? 'custom-control-' ~ size }} {{ errors ? 'has-danger' }}">
    {% include '@views/forms/input.twig' with {attrs: attrs} %}

    <span class="custom-control-indicator"></span>
    {# needed container, so errors will be displayed under the label #}
    <div>
        <span class="custom-control-description">{{ label|raw }}</span>

        {% if errors is defined and errors|length > 0 %}
            <p class="text-danger mb-0">{{ errors|join('<br>') }}</p>
        {% endif %}
    </div>
</label>
