
<div class="range {% if disabled %}disabled{% endif %}">
    <div class="nstSlider"
         {% if format %}data-slider-format="{{ format }}"{% endif %}
         data-cur_min="{{ min.value }}"
         {% if max is defined %}data-cur_max="{{ max.value }}"{% endif %}
         data-range_min="{{ limits.min }}" data-range_max="{{ limits.max }}">

        {% if max is defined %}
            <div class="range-bar"></div>
        {% endif %}

        {% include '@views/forms/input.twig' with {attrs: {type: 'hidden', value: min.value, name: min.name, class: 'range-value-min'}} %}

        {% if max is defined %}
            {% include '@views/forms/input.twig' with {attrs: {type: 'hidden', value: max.value, name: max.name, class: 'range-value-max'}} %}
        {% endif %}

        <div class="range-grip range-grip-left"></div>

        {% if max is defined and not hide_grip | default(false) %}
            <div class="range-grip range-grip-right"></div>
        {% endif %}
    </div>

    <div class="range-display">
        <span class="range-display-left">{{ format ? format|replace({'%v': min.value}) : min.value|price }}</span>

        {% if max is defined %}
            <span class="range-display-right">{{ format ? format|replace({'%v': max.value}) : max.value|price }}</span>
        {% endif %}
    </div>
</div>
