section.blog {

  font-size: 13pt;
  mso-line-spacing: 150%;

  .spacer {
    @each $s in $spacers {
      $key: nth($s, 1);
      $value: nth($s, 2);
      &--#{$key} {
        height: map-get($value, x);
      }
    }
  }

  p {
    color: #474747;
  }
}