.card {
  margin-bottom: 2 * $card-spacer-y;

  &.card-full {
    @include media-breakpoint-down(sm) {
      border: 0;

      .card-header {
        border-radius: 0;
      }
    }
  }

  &.card-attention {
    padding: $spacer;
    border: 2px dashed $brand-danger;
    border-radius: 0;
  }

  .card-header {
    margin-bottom: 0;
    border-bottom: 0;

    & + * {
      margin-top: $spacer / 2;
    }
  }
}
