<div class="category-intro mb-3">
    {% include '@category/category-marketing-image.twig' %}

    <h1>
        {{ 'Category_Headline'|trans('view', { category: app.controller.action.id|trans('view') }) }}
    </h1>
    <h2>
        {{ 'Category_Overview_Over_All_Of_Our'|trans('view', { category: app.controller.action.id|trans('view') }) }}
    </h2>
</div>
