{% if manufacturer and manufacturer.show_on_category %}
    <img src="{{ manufacturer.marketing_image|image }}"
         alt="{{ manufacturer.title }} Marketing Banner"
         class="img-manufacturer-banner img-fluid mb-4">
{% else %}
    {% include '@views/marketing/marketing-image.twig' with {
        item_tag: 'category-' ~ app.controller.action.id ~ '-teaser-1',
        item_name: 'Category ' ~ app.controller.action.id,
        item_position: 'Category ' ~ app.controller.action.id ~ ' Left',
    } %}
{% endif %}
