{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="category">
        {% block banner %}
            {% include "@category/category-intro.twig" %}
        {% endblock %}

        {% block sort %}
            {% if hideFilter != true %}
            {% include "@category/sort-bar.twig" %}
            {% endif %}
        {% endblock %}

        {% block filter %}
            {% if hideFilter != true %}
            {% include "@category/filter-groups.twig" %}
            {% endif %}
        {% endblock %}

        {% block articles %}
            {% include "@category/product-cards.twig" with { articles: initial_articles } %}
        {% endblock %}
    </div>
{% endblock %}
