<div class="filters filter-groups-mobile hidden-md-up">
    <input type="checkbox" id="product-filter"/>
    <label for="product-filter" class="icon icon-filter"></label>
    <div class="blackout"></div>
    <ul class="filter-layer list-unstyled">
        <li>
            <span>{{ 'Category_Filter_Narrow_Selection'|trans('view') }}</span>
        </li>
        <li>
            {% include '@category/filters/singleselect.twig' with {
                name: 'manufacturer',
                label_empty: 'Manufacturer'|trans('view'),
                options: filters.manufacturer,
                selected: [initialFilterId][0]
            } only %}
        </li>
        <li>
            {% include '@category/filters/singleselect.twig' with {
                name: 'color',
                label_empty: 'Color'|trans('view'),
                options: filters.color
            } only %}
        </li>
        <li>
            {% include '@category/filters/singleselect.twig' with {
                name: 'display',
                label_empty: 'Display'|trans('view'),
                options: filters.display
            } only %}
        </li>
        <li>
            {% include '@category/filters/singleselect.twig' with {
                name: 'operating_system',
                label_empty: 'Operating_System'|trans('view'),
                options: filters.operating_system
            } only %}
        </li>
        <li>
            {% include '@category/filters/singleselect.twig' with {
                name: 'memory',
                label_empty: 'Memory'|trans('view'),
                options: filters.memory,
                value_format: '%v GB'
            } only %}
        </li>
        <li>
            {% include '@category/filters/double-slider.twig' with {
                name: 'price',
                label: 'Price_Range'|trans('view'),
                options: {
                    limits: {
                        min: filters.price.min,
                        max: filters.price.max,
                    },
                    min: {
                        name: 'filter-price-from',
                        value: 0,
                    },
                    max: {
                        name: 'filter-price-to',
                        value: filters.price.max,
                    },
                }
            } only %}
        </li>
    </ul>
</div>
