<div class="filters filter-groups-mobile hidden-md-up">
    <input type="checkbox" id="product-filter"/>
    <label for="product-filter" class="icon icon-search"></label>
    <div class="blackout"></div>
    <ul class="filter-layer filter-layer-mobile list-unstyled">
        <li>
            <span>{{ 'Category_Filter_Narrow_Selection'|trans('view') }}</span>
        </li>
        <li>
            {% include '@category/filters/singleselect.twig' with {
                name: 'compatible_with',
                label_empty: 'Compatible'|trans('filter'),
                options: filters.compatible_with,
                titleField: 'short_name'
            } only %}
        </li>
        <li>
            {% include '@category/filters/multiselect.twig' with {
                name: 'product_type',
                label: 'Product Category'|trans('app'),
                options: all_sets,
                idField: 'system_title',
                selected: system_titles
            } only %}
        </li>
        <li>
            {% include '@category/filters/multiselect.twig' with {
                name: 'manufacturer',
                label: 'Manufacturer'|trans('view'),
                options: filters.manufacturer
            } only %}
        </li>
        <li>
            {% include '@category/filters/double-slider.twig' with {
                name: 'price',
                label: 'Price_Range'|trans('view'),
                options: {
                    limits: {
                        min: filters.price.min,
                        max: filters.price.max,
                    },
                    min: {
                        name: 'filter-price-from',
                        value: 0,
                    },
                    max: {
                        name: 'filter-price-to',
                        value: filters.price.max,
                    },
                }
            } only %}
        </li>
    </ul>
</div>
