<div class="filter-groups hidden-sm-down">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            {% include '@category/filters/multiselect.twig' with {
                name: 'manufacturer',
                label: 'Manufacturer'|trans('view'),
                options: filters.manufacturer,
                selected: [initialFilterId]
            } only %}
        </div>
        <div class="col-md-6 col-lg-4">
            {% include '@category/filters/multiselect.twig' with {
                name: 'color',
                label: 'Color'|trans('view'),
                options: filters.color
            } only %}
        </div>
        <div class="col-md-6 col-lg-4">
            {% include '@category/filters/multiselect.twig' with {
                name: 'display',
                label: 'Display'|trans('view'),
                options: filters.display
            } only %}
        </div>
        <div class="col-md-6 col-lg-4">
            {% include '@category/filters/multiselect.twig' with {
                name: 'operating_system',
                label: 'Operating_System'|trans('view'),
                options: filters.operating_system
            } only %}
        </div>
        <div class="col-md-6 col-lg-4">
            {% include '@category/filters/multiselect.twig' with {
                name: 'memory',
                label: 'Memory'|trans('view'),
                options: filters.memory,
                value_format: 'GB'
            } only %}
        </div>
        <div class="col-md-6 col-lg-4">
            {% include '@category/filters/double-slider.twig' with {
                name: 'price',
                label: 'Price_Range'|trans('view'),
                options: {
                    limits: {
                        min: filters.price.min,
                        max: filters.price.max,
                    },
                    min: {
                        name: 'filter-price-from',
                        value: 0,
                    },
                    max: {
                        name: 'filter-price-to',
                        value: filters.price.max,
                    },
                },
                grid: {
                    label: 'col-md-4',
                    input: 'col-md-8',
                }
            } only %}
        </div>
    </div>
</div>

{% include '@category/filter-groups-mobile.twig' %}

{% include '@category/filter-reset.twig' %}
