<div class="filter-groups hidden-sm-down" data-type="accessories">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            {% include '@category/filters/singleselect.twig' with {
                name: 'compatible_with',
                label_empty: 'Compatible'|trans('filter'),
                options: filters.compatible_with,
                titleField: 'short_name'
            } only %}
        </div>

        <div class="col-md-6 col-lg-4">
            {% include '@category/filters/multiselect.twig' with {
                name: 'product_type',
                label: 'Product Category'|trans('app'),
                options: all_sets,
                idField: 'system_title',
                selected: system_titles
            } only %}
        </div>

        <div class="col-md-6 col-lg-4">
            {% include '@category/filters/multiselect.twig' with {
                name: 'manufacturer',
                label: 'Manufacturer'|trans('view'),
                options: filters.manufacturer
            } only %}
        </div>
        {#
        <div class="col-md-6 col-lg-4">
            {% include '@category/filters/double-slider.twig' with {
                name: 'price',
                label: 'Price_Range'|trans('view'),
                options: {
                    limits: {
                        min: filters.price.min,
                        max: filters.price.max,
                    },
                    min: {
                        name: 'filter-price-from',
                        value: 0,
                    },
                    max: {
                        name: 'filter-price-to',
                        value: filters.price.max,
                    },
                },
                grid: {
                    label: 'col-md-4',
                    input: 'col-md-8',
                }
            } only %}
        </div>
        #}
    </div>
</div>

{% include '@category/filter-groups-mobile-accessories.twig' %}

{% include '@category/filter-reset.twig' %}
