<div class="product-cards">
    <div class="row">
        {% for article in articles %}
            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 product-list">
                {% include '@category/product-card.twig' with { article: article, subscription_not_available: subscription_not_available } only %}
            </div>
        {% endfor %}
    </div>

    <div class="no-filter-result">{{ 'No_Filter_Result'|trans('view') }}</div>
</div>

{% if not pdp_accessories %}
    {% include "@pagination/load-more.twig" with {show_total: false} %}
{% endif %}
