{% if category_type is empty %}
    {% set category_type = article.product_category_frontend_route_name %}
{% endif %}

{% set is_featured_article = featured_article is defined and featured_article == article.id %}

<div class="product-card card">
    {% if article.image_overlay_text %}
        <div class="corner-label">
            <div>
                <span>{{ article.image_overlay_text }}</span>
            </div>
        </div>
    {% endif %}
    {% if is_featured_article %}
        <div class="corner-label">
            <div>
                <span>{{ 'Suggested'|trans('view') }}</span>
            </div>
        </div>
    {% endif %}
    <div class="card-block">
        <h4 class="card-title text-center" title="{{ article.product_name | default('[Product Name]') }}" style="font-weight: normal;">
            {{ article.product_name | default('[Product Name]') }}
        </h4>
    </div>

    <div class="product-image" style="height: 150px;">
        <a href="{{ url('/product/product/' ~ category_type, {
            'id': article.id,
            'manufacturerTitle': article.manufacturer_title|lower,
            'groupUrlText': Article.getArticleGroup(article).title|slugify
        }) }}">
            <img class="img-fluid img-mh d-block"
                 src="{{ article.images[0]|image('medium') | default(asset('img/no_image_big.png')) }}"
                 alt="{{ article.product_name | default('[Product Name]') }}"/>
            {% if article.tariff.rate_payment_count > 0 and not subscription_not_available %}
                {% include '@views/products/badge.twig' with { price: 0|price, pre_text: 'Product_Card_From'|trans('view'), post_text: 'Product_Card_With_Subscription'|trans('view') } only %}
            {% endif %}
        </a>
    </div>

    <div class="card-block">
        <div class="text-center mb-3">
            {% include '@views/stock/stock.twig' with { stock: article.stock, no_icon: true } only %}
        </div>

        {% if article_tariff is defined %}
            {% include '@product/subscriptions/buy-button.twig' with {
            'item': article_tariff,
            'additional_button_classes': 'btn-block',
            'hash': hash|default(null)
            } %}
        {% else %}
            <a class="btn btn-outline-danger btn-block order-button"
               href="{{ url('/product/product/' ~ category_type, {
                   'id': article.id,
                   'manufacturerTitle': article.manufacturer_title|lower,
                   'groupUrlText': Article.getArticleGroup(article).title|slugify
               }) }}">
                <span class="icon icon-angle-right float-right"></span>
                <span>{{ article.prices.once|price }}</span>
            </a>
        {% endif %}
    </div>
</div>
