{% if category_type is empty %}
    {% set category_type = article.product_category_frontend_route_name %}
{% endif %}

{% set is_featured_article = featured_article is defined and featured_article == article.id %}

<div class="product-card card">
    {% if article.image_overlay_text %}
        <div class="corner-label">
            <div>
                <span>{{ article.image_overlay_text }}</span>
            </div>
        </div>
    {% endif %}
    {% if is_featured_article %}
        <div class="corner-label">
            <div>
                <span>{{ 'Suggested'|trans('view') }}</span>
            </div>
        </div>
    {% endif %}
    <div class="card-block text-center">
        <h4 class="card-title" title="{{ article.product_name | default('[Product Name]') }}">
            {% if category_type == "smartphones" %}
                <small>{{ article.manufacturer_title }}</small> <br> {{ Article.getArticleGroup(article).short_name }}
            {% else %}
                {{ article.product_name | default('[Product Name]') }}
            {% endif %}
        </h4>
    </div>

    <div class="product-image">
        <a href="{{ url('/product/product/' ~ category_type, {
            'id': article.id,
            'manufacturerTitle': article.manufacturer_title|lower,
            'groupUrlText': Article.getArticleGroup(article).title|slugify
        }) }}">
            <img class="img-fluid img-mh d-block"
                 src="{{ article.images[0]|image('medium') | default(asset('img/no_image_big.png')) }}"
                 alt="{{ article.product_name | default('[Product Name]') }}"/>
            {% if article.tariff.rate_payment_count > 0 and not subscription_not_available %}
                {% include '@views/products/badge.twig' with { price: 0|price, pre_text: 'Product_Card_From'|trans('view'), post_text: 'Product_Card_With_Subscription'|trans('view') } only %}
            {% endif %}
        </a>
    </div>

    <div class="card-block">
        <div class="options mb-0">
            <div class="text-center my-3">
                {% for current_article in Article.getArticlesByColorMemoryRelation(article, 'memory', article_tariff.tariff_id|default(null)) %}
                    <a href="{{ url('/product/product/' ~ category_type, {
                        'id':current_article.id,
                        'manufacturerTitle': current_article.manufacturer_title|lower,
                        'groupUrlText': Article.getArticleGroup(article).title|slugify
                    }) }}">
                        <span class="color color-{{ current_article.color }} {% if current_article.id == article.id %}active{% endif %}"
                              title="{{ current_article.color_label }}">
                        </span>
                    </a>
                {% endfor %}
            </div>
            <div class="text-center my-3">
                {% for current_article in Article.getArticlesByColorMemoryRelation(article, 'color', article_tariff.tariff_id|default(null)) %}
                    <a href="{{ url('/product/product/' ~ category_type, {
                        'id': current_article.id,
                        'manufacturerTitle': current_article.manufacturer_title|lower,
                        'groupUrlText': Article.getArticleGroup(article).title|slugify
                    }) }}">
                        <span class="size {% if current_article.id == article.id %}active{% endif %}"
                              title="{{ current_article.memory| unit('GB') }}">
                            {{ current_article.memory | unit('GB') }}
                        </span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="info">
            <div class="text-center">
                {% include '@views/stock/stock.twig' with { stock: article.stock, no_icon: true } only %}
            </div>


            {% if article_tariff is defined %}
                {% include '@tariff/product-card/price-info.twig' %}
            {% else %}
                <div class="text-center">
                    {% if not subscription_not_available %}
                        <span style="opacity: 0.4;">{{ 'Product_Card_Without_Subscription'|trans('view') }}</span>
                        <br>
                    {% endif %}
                    <span class="font-weight-bold price {{ subscription_not_available ? 'price-md' : 'price-md' }}">
                        {{ article.prices.once|price }}
                        {% if article.prices.price_strike > 0 %}
                        <small style="text-decoration: line-through">{{ article.prices.price_strike }}</small>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>

        {% if article_tariff is defined %}
            {% include '@product/subscriptions/buy-button.twig' with {
                'item': article_tariff,
                'additional_button_classes': 'btn-block',
                'hash': hash|default(null)
            } %}
        {% else %}
            <a class="btn btn-outline-danger btn-block order-button"
               href="{{ url('/product/product/' ~ category_type, {
                   'id': article.id,
                   'manufacturerTitle': article.manufacturer_title|lower,
                   'groupUrlText': Article.getArticleGroup(article).title|slugify
               }) }}">
                <span class="icon icon-angle-right float-right"></span>
                <span>{{ 'Order_Now'|trans('view') }}</span>
            </a>
        {% endif %}
    </div>
</div>
