<div class="sort-bar mb-3">
    <strong class="hidden-sm-down">{{ 'Category_Filter_Narrow_Selection'|trans('view') }}</strong>

    <ul class="sort-options list-unstyled float-md-right">
        <li class="pl-0">
            <span>{{ 'Category_Filter_Order_By'|trans('view') }}</span>
        </li>
        <li class="sort-option active pl-1" data-sort-option="position">
            <span>{{ 'Category_Filter_Position'|trans('view') }}</span>
        </li>
        <li class="sort-option pl-1 pl-md-2" data-sort-option="price_sale">
            <span>{{ 'Category_Filter_Price'|trans('view') }}</span>
        </li>
        <li class="sort-option pl-1 pl-md-2" data-sort-option="stock_quantity">
            <span>{{ 'Category_Filter_Stock'|trans('view') }}</span>
        </li>
    </ul>
</div>
