{% import "@views/common/utils.twig" as utils %}

<div class="product-slider">
    <h1>{{ 'Order_Accessories'|trans }}</h1>
    <p>{{ 'Order_Accessories_Subtitle {device_name}'|trans(null, {device_name: article.product_name}) }}</p>

    <div class="scroll-pane">
        <ul>
            {% for item in items %}
                <li>
                    <div class="accessory-slider-img-wrapper mb-3">
                        <img src="{{ item.images[0]|image('small')|default(asset('img/no_image_big.png')) }}"
                             class="img-fluid img-mh" alt="{{ item.data.product_name }}">
                    </div>

                    <a href="{{ routeModel(item) }}">
                        <div class="name" title="{{ item.data.product_name }}">{{ item.data.product_name }}</div>
                    </a>

                    <p class="text-danger">{{ utils.price(item.data.prices.once, 'sm') }}</p>

                    <form action="/checkout/cart/add" method="post">
                        <input type="hidden" name="item_type" value="{{ constant('app\\modules\\checkout\\services\\cart\\ItemInterface::TYPE_ACCESSORIES') }}">
                        <input type="hidden" name="item_id" value="{{ item.data.id }}">
                        <button type="submit" class="btn btn-default">{{ 'Add_Short'|trans }}</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
