<div class="form-group row">
    <div class="col-sm-7 col-lg-9">
        <input name="code" type="text" class="form-control form-control-lg text-xs-center text-md-left" placeholder="{{ 'Do_You_Have_A_Coupon_Code'|trans }}">
    </div>
    <div class="col-sm-5 col-lg-3">
        <button type="submit" class="btn btn-lg btn-block btn-default">{{ 'Redeem_Coupon'|trans }}</button>
    </div>
</div>
