{% extends '@checkout/steps/layout-single-column.twig' %}

{% set data = step.data %}
{% set items = data.items %}

{% block content %}
    {% if items|length == 0 %}
        {% embed '@views/components/alert.twig' %}
            {% block body %}
                {{ 'There are not articles in the cart.'|trans }}
            {% endblock %}
        {% endembed %}
    {% else %}
        <div class="pull-out-md-down">
            {% include '@checkout/steps/cart/product-table.twig' with {
                items: items,
                totals: data.totals.total,
                interactive: true
            } only %}
        </div>
    {% endif %}

    {% include '@checkout/steps/cart/coupon.twig' %}

    <div class="row">
        <div class="col-lg-12">
            <div class="text-right">
                {% if items|length == 0 %}
                    <a href="/" class="btn-lg btn btn-danger">
                        {{ 'Continue_Shopping'|trans }} <span class="icon icon-angle-right"></span>
                    </a>
                {% endif %}
                <button type="submit" class="btn-lg btn btn-danger">
                    {{ 'Checkout'|trans }}
                    <span class="icon icon-angle-right"></span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% if data.article and data.article.accessories|length > 0 %}
        {% include '@checkout/steps/cart/accessories.twig' with {article: data.article, items: data.article.accessories} only %}
    {% endif %}
{% endblock %}
