{% import "@views/common/utils.twig" as utils %}

<table class="table table-bordered table-products">
    <thead>
        <tr>
            <th><strong class="hidden-lg-up text-danger">{{ 'Your_Choice'|trans('checkout') }}</strong></th>
            <th class="text-center hidden-md-down">{{ 'Monthly charges'|trans('checkout') }}</th>
            <th class="text-center hidden-md-down">{{ 'One-time costs'|trans('checkout') }}</th>
        </tr>
    </thead>
    <tbody>
        {% set insurance_count = 1 %}
        {% for item in items %}
            {% include '@checkout/steps/items/extended/' ~ item.itemType ~ '.twig' ignore missing with {
                item: item,
                interactive: interactive,
                commission: commission,
                insurance_count: insurance_count
            } %}
            {% set insurance_count = insurance_count + 1 %}
        {% endfor %}
    </tbody>
    <tfoot id="totals-desktop">
        <tr class="hidden-md-down">
            <td>{{ 'Total cost'|trans('checkout') }}</td>
            <td class="text-center price-total-monthly">
                {{ utils.price(totals.monthly, 'lg') }}<br>
                {{ 'Monthly'|trans('checkout') }}
            </td>
            <td class="text-center price-total-once">
                {{ utils.price(totals.once, 'lg') }}<br>
                {{ 'Once'|trans('checkout') }}
            </td>
        </tr>
    </tfoot>
</table>

<div class="hidden-lg-up">
    <table class="table table-bordered" id="totals-mobile-once">
        <thead>
            <tr>
                <td colspan="2"><strong class="text-danger">{{ 'Costs_Once'|trans('checkout') }}</strong></td>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                {% include '@checkout/steps/items/prices/' ~ item.itemType ~ '.twig' ignore missing with {item: item} %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>{{ 'Total_Cost_Once'|trans('checkout') }}</td>
                <td class="text-right">
                    <strong class="text-danger price-total-once">
                        {{ utils.price(totals.once) }}
                    </strong>
                </td>
            </tr>
        </tfoot>
    </table>

    <table class="table table-bordered" id="totals-mobile-monthly">
        <thead>
            <tr>
                <td colspan="2"><strong class="text-danger">{{ 'Costs_Monthly'|trans('checkout') }}</strong></td>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                {% include '@checkout/steps/items/prices/' ~ item.itemType ~ '.twig' ignore missing with {item: item, monthly: true} %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>{{ 'Total_Cost_Mothly'|trans('checkout') }}</td>
                <td class="text-right">
                    <strong class="text-danger">
                        {{ utils.price(totals.monthly) }}
                    </strong>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
