<footer class="pt-5">
    <h2 class="dotted">PDF Download Center</h2>
    <div class="row">
        <div class="col-md-3">
            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_annual-report-2016.pdf') | cdn }}" target="_blank">
                <span class="icon icon-contract"></span>
                {{ 'pdf-title-full' | annualTrans(lang_key) }}
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_overview-report-2016.pdf') | cdn }}" target="_blank">
                <span class="icon icon-file"></span>
                {{ 'pdf-title-overview' | annualTrans(lang_key) }}
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_shareholder-letter-2016.pdf') | cdn }}" target="_blank">
                <span class="icon icon-file"></span>
                {{ 'pdf-title-letter' | annualTrans(lang_key) }}
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_highlight-report-2016.pdf') | cdn }}" target="_blank">
                <span class="icon icon-file"></span>
                {{ 'pdf-title-highlights' | annualTrans(lang_key) }}
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_department-report-2016.pdf') | cdn }}" target="_blank">
                <span class="icon icon-file"></span>
                {{ 'pdf-title-department' | annualTrans(lang_key) }}
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_corporate-governance-report-2016.pdf') | cdn }}" target="_blank">
                <span class="icon icon-file"></span>
                {{ 'pdf-title-corporate' | annualTrans(lang_key) }}
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_compensation-report-2016.pdf') | cdn }}" target="_blank">
                <span class="icon icon-file"></span>
                {{ 'pdf-title-compensation' | annualTrans(lang_key) }}
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_financial-report-2016.pdf') | cdn }}" target="_blank">
                <span class="icon icon-file"></span>
                {{ 'pdf-title-financial' | annualTrans(lang_key) }}
            </a>
        </div>
    </div>
</footer>
