<header class="pb-1">
    <div class="row">
        <div class="col-md-12">
            <ul class="first-level list-inline">
                <li class="list-inline-item">
                    <a href="{{ Url.to(['/page/annual-report/start-' ~ lang_key ], true) }}"
                            {% if file == 'start' %} class="active"{% endif %}>
                        Start
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ Url.to(['/page/annual-report/key-figures-' ~ lang_key ], true) }}"
                            {% if file == 'key-figures' %} class="active"{% endif %}>
                        {{ 'kpi-title'|annualTrans(lang_key) }}
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ Url.to(['/page/annual-report/portrait-' ~ lang_key ], true) }}"
                            {% if file == 'portrait' %} class="active"{% endif %}>
                        Portrait
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ Url.to(['/page/annual-report/letter-to-shareholders-' ~ lang_key ], true) }}"
                            {% if file == 'letter-to-shareholders' %} class="active"{% endif %}>
                        {{ 'letter-title'|annualTrans(lang_key) }}
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ Url.to(['/page/annual-report/highlights-' ~ lang_key ], true) }}"
                            {% if file == 'highlights' %} class="active"{% endif %}>
                        Highlights
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ Url.to(['/page/annual-report/corporate-governance-' ~ lang_key ], true) }}"
                            {% if file == 'corporate-governance' %} class="active"{% endif %}>
                        {{ 'governance-title' | annualTrans(lang_key) }}
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ Url.to(['/page/annual-report/compensation-report-' ~ lang_key ], true) }}"
                            {% if file == 'compensation-report' %} class="active"{% endif %}>
                        {{ 'compensation-title' | annualTrans(lang_key) }}
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ Url.to(['/page/annual-report/financial-report-' ~ lang_key ], true) }}"
                            {% if file == 'financial-report' %} class="active"{% endif %}>
                        {{ 'financial-title'|annualTrans(lang_key) }}
                    </a>
                </li>
                <li class="list-inline-item">
                    <a>PDF Download</a>
                    <ul>
                        <li>
                            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_annual-report-2016.pdf') | cdn }}" target="_blank">
                                {{ 'pdf-title-full' | annualTrans(lang_key) }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_overview-report-2016.pdf') | cdn }}" target="_blank">
                                {{ 'pdf-title-overview' | annualTrans(lang_key) }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_shareholder-letter-2016.pdf') | cdn }}" target="_blank">
                                {{ 'pdf-title-letter' | annualTrans(lang_key) }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_highlight-report-2016.pdf') | cdn }}" target="_blank">
                                {{ 'pdf-title-highlights' | annualTrans(lang_key) }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_department-report-2016.pdf') | cdn }}" target="_blank">
                                {{ 'pdf-title-department' | annualTrans(lang_key) }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_corporate-governance-report-2016.pdf') | cdn }}" target="_blank">
                                {{ 'pdf-title-corporate' | annualTrans(lang_key) }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_compensation-report-2016.pdf') | cdn }}" target="_blank">
                                {{ 'pdf-title-compensation' | annualTrans(lang_key) }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ ('downloads/annual-reports/' ~ lang_key ~ '_financial-report-2016.pdf') | cdn }}" target="_blank">
                                {{ 'pdf-title-financial' | annualTrans(lang_key) }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="language-switch list-inline-item">
                    <a class="lang-en p-0 {% if app.language != 'de-CH' %}active{% endif %}" href="{{ Url.to(['/page/annual-report/' ~ file ~ '-en'], true) }}">
                        EN
                    </a>
                    /
                    <a class="p-0 {% if app.language != 'de-CH' %}disabled{% endif %}" href="{{ Url.to(['/page/annual-report/' ~ file ~ '-de'], true) }}" disabled>
                        {{ app.language|slice(0, 2)|upper }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
