{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="page annual-report-page">
        {% include "@page/annual-reports/layout/header.twig" %}

        <main>
            {% set intro %}{% block intro %}{% endblock %}{% endset %}
            {% set main %}{% block main %}{% endblock %}{% endset %}

            {% if header_pic|length > 0 %}
                <div class="row mt-4">
                    <div class="col-md-12">
                        <img class="img-fluid" src="{{ asset('img/annual-reports/' ~ lang_key ~ '_main-image_' ~ header_pic) }}"
                             alt="{{ header_pic }}">
                    </div>
                </div>
            {% endif %}

            {% if intro|length > 0 %}
                <div class="row">
                    <div class="col-md-4">
                        <span class="year display-1">2016</span>
                        {{ 'title' | annualTrans(lang_key) }}
                    </div>

                    <div class="col-md-8">
                        {{ intro }}
                    </div>
                </div>
            {% endif %}

            {% if main|length > 0 %}
                {{ main }}
            {% endif %}
        </main>

        {% include "@page/annual-reports/layout/footer.twig" %}
    </div>
{% endblock %}
