@import '../../variables';

.custom-select {
  background-image: $custom-select-indicator;
  background-position: right .6rem center;
  background-size: 15px;
}

.custom-control-indicator {
  border: 2px solid $custom-select-border-color;
  background: $custom-control-indicator-bg;
}

.custom-radio {
  .custom-control-input {
    &:active:not(:disabled) ~ .custom-control-indicator,
    &:checked ~ .custom-control-indicator {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $custom-control-indicator-bg;

      &::after {
        display: inline-block;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background: $custom-control-checked-indicator-bg;
        content: ' ';
      }
    }

    &:disabled ~ .custom-control-indicator {
      border-color: $gray-light;
      background: $gray-lighter;

      &::after {
        background: $gray-light;
      }
    }
  }
}

.custom-checkbox {
  .custom-control-input {
    & ~ .custom-control-indicator {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & ~ .custom-control-indicator .icon {
      // padding so that the icon will be centered vertically
      padding-top: 1px;
      color: $brand-danger;
      font-size: .65rem;
    }

    &:not(:checked) ~ .custom-control-indicator .icon {
      display: none;
    }

    &:active:not(:disabled) ~ .custom-control-indicator,
    &:checked  ~ .custom-control-indicator {
      background: $custom-control-indicator-bg;
    }
  }
}


// sizes
.custom-control-lg {
  &.custom-checkbox,
  &.custom-radio {
    padding-left: $custom-control-gutter * 1.2;
  }

  &.custom-checkbox {
    .custom-control-indicator {
      .icon {
        font-size: $custom-control-indicator-size * 1.2;
      }
    }
  }

  .custom-control-indicator {
    width: $custom-control-indicator-size * 1.2;
    height: $custom-control-indicator-size * 1.2;
  }
}

// 2 column style, so the label is not floating around the input
.custom-control {
  &.custom-radio,
  &.custom-checkbox {
    display: flex;
  }
}

// displays radio/checkboxes as inline options
.custom-controls-inline {
  display: flex;
}

.custom-control-button {
  padding: 0;

  .custom-control-indicator {
    display: none !important;
  }

  div {
    display: inline !important;
    width: 5em;
    padding: 0;
    border: 2px solid $brand-danger;
    color: $brand-danger;
    text-align: center;
  }

  .custom-control-input:not(:checked) ~ div {
    border: 2px solid $gray-light;
    color: $gray-light;
  }
}
