@import '../../variables';
@import 'custom-controls';
@import 'form-controls';

.form-control-lg.custom-select {
  padding: $input-padding-y-lg $input-padding-x-lg;
}

.custom-select {
  &.form-control {
    display: block;
  }
}

.input-group.input-group-select {
  width: auto;

  .custom-select {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    & + .custom-select {
      margin-left: -1px;
    }
  }
}

// remove default margin from feedback element if it is empty
.form-control-feedback:empty {
  display: none;
}

.form-control {
  &:focus::placeholder {
    opacity: 0;
  }
}

// fix for date control which is displayed is natively higher then other controls and is not shrinking properly
input[type='date'].form-control-lg {
  min-width: 0;
  padding: {
    top: $input-padding-y-lg - .2;
    bottom: $input-padding-y-lg - .2;
  }
}
