@mixin form-control-icon {
  background-position: center right .25rem;
  background-size: 2.2rem;
}

.has-danger {
  .form-control-danger {
    @include form-control-icon;

    background-image: $form-icon-danger;
  }
}

.has-success {
  .form-control-success {
    @include form-control-icon;

    background-image: $form-icon-success;
  }
}

.form-control-rounded {
  border-radius: $input-height / 2;

  &.form-control-sm {
    border-radius: $input-height-sm;
  }

  &.form-control-lg {
    border-radius: $input-height-lg;
  }
}
