@import '../variables';

.badge {
  position: absolute;
  right: $spacer;
  bottom: $spacer;
  padding: $spacer $spacer / 2;
  border-radius: 50%;
  background: $brand-primary;
  color: $brand-info;
  text-align: center;

  span {
    display: block;

    &:nth-child(even) {
      font-size: $font-size-h2;
      font-weight: bold;
    }
  }

  .product-gallery & {
    padding: $spacer * 2 $spacer / 2;
  }
}
