@import '../variables';

.basic-information {
  h2 {
    font-weight: bold;
    color: #999;
    font-size: 1rem;
    text-transform: uppercase;
  }

  ul {
    padding-left: $spacer;
  }

  dl {
    margin-bottom: ($spacer / 2);
    overflow: hidden;
    min-height: 28px;
  }

  dd {
    float: left;
    font-weight: bold;
  }

  dt {
    float: right;
  }

  .color {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border: $border-width solid $gray-light;
    border-radius: 5px;

    &.active, &:hover {
      background-clip: content-box;
      padding:2px;
    }

  }


  .active {
    border: {
      width: 1px;
      color: $brand-danger;
    }
  }


  .size {
    display: inline-block;
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 1px;
    border: 1px solid $gray-light;
    border-radius: 5px;
    color: $gray-light;

    &.active {
      background-color: $brand-danger;
      border: 1px solid $brand-danger;
      color: #FFF;
      font-weight: bold;
    }

    &:hover {
      border: 1px solid $brand-danger;
    }

  }
}
