@import '../variables';
@import 'contract-box/renewal-request';
@import 'contract-box/contract-new-number';
@import 'contract-box/no-contract';
@import 'contract-box/partner-login';
@import 'contract-box/personal-data';

.contract-box {
  box-shadow: $box-shadow;

  .contract-box-switch {
    &,
    * {
      cursor: pointer;
    }
  }

  .contract-box-header {
    border-top: 3px solid $brand-danger;
    font-weight: bold;
    text-align: center;

    [type='radio'] {
      height: 1em;
      margin: {
        top: 0;
        right: $spacer / 2;
        bottom: $spacer;
        left: 0;
      }
      float: left;
    }

    .subline {
      margin-top: -($spacer / 4);
      font-size: $font-size-xs;
    }

    label {
      display: block;
      margin-bottom: 0;
      padding: $spacer / 2;
      border-bottom: $border-width solid $gray-lightest;

      &.keep-number {
        @include media-breakpoint-down(xs) {
          margin-left: 0;
        }

        small {
          position: relative;
          left: $btn-padding-x * -1;
        }
      }

      div {
        margin-left: $spacer;
        line-height: 1;
        text-align: left;
        white-space: nowrap;
      }

      .custom-control-indicator {
        margin-top: $spacer / 2;
        margin-left: 5px;
      }

      span {
        display: block;
      }

      small {
        font-size: .75rem;
        font-style: italic;
      }
    }

    .row:first-child label {
      background: $brand-danger;
      color: $brand-info;

      &.active {
        background: $brand-info;
        color: $brand-inverse;
      }
    }


  }

  .contract-box-content {
    padding: 2 * $spacer;
  }
}
