@import '../variables';

.detailed-information {
  margin-top: 2 * $spacer;

  .top-infos {
    margin-top: $spacer * 2;
    margin-bottom: $spacer;

    h3 {
      margin-bottom: 0;
      font-weight: normal;
    }

    .icon {
      margin-right: 2 * $spacer;
      margin-bottom: 2 * $spacer;
      float: left;
      color: $brand-danger;
      font-size: 3em;
    }
  }

  .grouped-infos {
    color: $gray;

    .group {
      margin-bottom: $spacer;
    }

    h3 {
      padding-bottom: $spacer / 2;
      border-bottom: $border-width solid $gray-lighter;
      font-weight: normal;
    }

    dl {
      @include clearfix;
      margin-bottom: 0;
      font-size: $font-size-xs;
    }

    dt {
      float: left;
    }

    dd {
      float: right;
    }
  }

  .detailed-information-subtitle {
    padding-bottom: $spacer;
    border-bottom: $border-width * 2 solid $gray-lightest;
  }
}
