@import '../variables';
@import 'price-box/provider-list';
@import 'price-box/order-with-tariff';
@import 'price-box/fine-print';

.price-box {
  .cta-wrapper {

    @include media-breakpoint-up("sm") {
      padding: $spacer;
      border: $border-width solid $gray-lightest;
    }
  }

  hr {
    @include media-breakpoint-up("sm") {
      border-top: 0;
      border-bottom: 4px double $gray-lightest;
    }
  }
}
