@import '../variables';
@import '../custom';

.product-gallery {
  .main-image {
    position: relative;

    @include media-breakpoint-up("sm") {
      height: 350px;
    }

  }

  .thumbnail {
    height: 82px;
    padding: $spacer / 2;
    border: $border-width solid $gray-lightest;
    cursor: pointer;

    &:hover {
      box-shadow: $box-shadow;
    }

    &.active {
      box-shadow: 1px 2px 5px $gray-lighter;
    }
  }
}

.product-gallery-background {
  background: #FAFAFA;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;

  @include media-breakpoint-up("sm") {
    background: transparent;
    border: 0;
  }

}
