{% extends "@product/product.twig" %}

{% block boxes %}
    {% embed '@product/contract-box/generic-contract-box.twig' with {contract_box_name: current_box, current_box: current_box} %}
        {% block contract_box_header %}{% endblock %}
        {% block content %}
            {% embed '@product/contract-box/contract-new-number.twig' with {article_tariff: article_tariff} %}
                {% block footer %}
                    <button type="submit" class="btn btn-block btn-danger">
                        {{ 'Order_Now'|trans('view') }} <span class="icon icon-angle-right"></span>
                    </button>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block subscriptions %}{% endblock %}
{% block detailedInformation %}{% endblock %}
