<div class="badge">
    <div class="badge-content">
        <span>{{ pre_text|default('&nbsp;')|raw }}</span>
        <span>{{ price }}</span>
        <span>{{ post_text|default('&nbsp;')|raw }}</span>
    </div>
</div>
