{% if highlights is defined and highlights|length > 0 %}
    <ul class="list list-{{ type|default('success') }} list-info-for-{{ id }}">
        {% for highlight in highlights %}
            <li class="mb-sm-2 mb-3">
                {{ highlight.title }}
                {% if highlight.subtext %}
                    <br>
                    <span>{{ highlight.subtext }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
