@import '../variables';

.selections {
  .card {
    border: 0;
  }

  .card-footer {
    border: 0;
    background: none;
  }

  .card-title {
    font-size: $font-size-lg;
  }

  select {
    background-color: $gray-lightest;
    color: $gray-dark;
  }

  @include media-breakpoint-down(md) {
    &.card-deck .card {
      display: block;
      min-width: 100%;
      margin: 20px 0 0;
    }
  }
}
