@import '../variables';
@import '../custom';

.card.info-block {
  position: relative;
  border-top: 3px solid $brand-danger;
  border-radius: 0;
  box-shadow: $box-shadow-lighter;

  .card {
    border: 0;
  }

  .card-header {
    position: absolute;
    top: -3px;
    border-radius: 0;
    color: $white;

    &.left {
      left: -1px;
      background-color: $brand-danger;
    }

    &.right {
      right: -3px;
      margin-top: 0;
      border-left: solid 1px $white;
      background-color: $brand-primary;
    }
  }

  .card-footer {
    border: 0;
    background: none;
  }

  .tariff-price-monthly {
    font-size: $font-size-h5;
  }

  .price {
    margin-top: -$spacer;
    font-size: $font-size-h1;
  }

  .list-success li {
    &::before {
      left: -1.15rem;
      line-height: 1.25;
    }
  }
}

.tariff-articles {
  .icon-info {
    color: $brand-danger;
    font-size: $font-size-h5;
    cursor: pointer;

    &::before {
      position: relative;
      top: 3px;
    }
  }
}
