{% extends '@page/about-en.twig' %}

{% block static_headline %}
    About mobilezone
{% endblock %}

{% block static_content %}
    <p>mobilezone was founded in 1999 and has since developed into the leading independent telecommunication specialist for mobile and landline connection in Switzerland.</p>
    <p>The market leader mobilezone offers a complete assortment of smartphones, tariff plans for mobile and landline communication, digital TV and internet of all major providers (Swisscom, Sunrise and UPC) as well as independent advice and service. Customers are welcomed with the largest offering of mobile devices and accessories at mobilezone.</p>
    <p>mobilezone group employs more than 900 employees at our corporate offices in Regensdorf, Urnäsch, Zweidlen, Zug, Wien (Austria) und Obertshausen (Germany). mobilezone holding ag compromises the subsidiaries mobilezone ag, mobilezone business ag, mobiletouch ag, mobiletouch austria gmbH, TalkTalk AG and einsAmobile GmbH. TalkTalk is a reseller offering products in mobile, landline and internet connections in our more than 125 shops across Switzerland. mobiletouch offers repair and logistics services for smartphones, digital cameras and other devices in Switzerland and Austria. Telecommunication company einsAmobile sells mobile products via a number of web portals and proprietary shops. Additionally, einsAmobile is active in wholesale trade and distributes to specialized trade outlets in Germany.</p>
{% endblock %}