{% extends '@page/about-en.twig' %}

{% block static_headline %}
    Business units
{% endblock %}

{% block static_content %}
    <p>
        mobilezone supports private and business customers to find their personal best combination of service and
        products out of the possibilities offered by all major providers and manufacturers.
    </p>

    <h2>Private customers</h2>

    <ul class="list-danger">
        <li>More than 125 shops in central locations</li>
        <li>competent advice for all tariffs and devices</li>
        <li>largest assortment of smartphones and accessories</li>
        <li>independent partner of Swisscom, Sunrise and UPC</li>
    </ul>

    <p>
        Proximity to and availability for our customers across Switzerland is at the core of the mobilezone strategy.
        This is why we are present in more than 125 centrally located shops across the country.
    </p>

    <p>
        Thanks to our independence and the cooperative partnership with all providers and device manufacturers,
        mobilezone is able to guarantee a maximum of transparency for the tariffs, services and products offered. We
        give our customers access to a complete assortment of subscription contracts, prepaid SIM-cards, smartphones,
        accessories and other gadgets and devices.
    </p>

    <p>
        Customers are enabled to compare different choices in-store and seek advice from our qualified staff directly.
        This does not only include an evaluation of the best value-for-money-package, but also stretches to assessing
        existing contract options and configuration of devices.
    </p>

    <a class="btn btn-danger" href="/">Private customer webshop<span class="icon icon-angle-right"></span></a>

    <h2 class="mt-5">Business customers</h2>

    <ul class="list-danger">
        <li>professional advice for business and corporation of all size</li>
        <li>customized proposal evaluations</li>
        <li>best value for money</li>
    </ul>

    <p>
        Being an independent communication specialist, mobilezone supports businesses to use modern communication
        technology to the fullest potential of each business. mobilezone creates orientation with evalutation of new
        innovative technologies, overall solutions and complex tariff structures of the separate providers. We are
        independent and objective from to achieve the best result for our customers. Business customers of any size
        trust in our support services for overall communicatio, reliable device delivery, competent advice and the
        attractive pricing.
    </p>

    <p>
        Of course, our business customers are always welcome to use the service and offering inside our more than 125
        shops across Switzerland.
    </p>

    <a href="https://b2bshop.mobilezone.ch/b2b" target="_blank" class="btn btn-danger">
        Business customer area
        <span class="icon icon-angle-right"></span>
    </a>
{% endblock %}
