{% extends '@page/about-en.twig' %}

{% block static_headline %}
    Calendar
{% endblock %}

{% block static_content %}
    <ul class="list-news list-calendar list-unstyled">
        {% for event in events %}
            {% include "@page/about/parts/events.twig" %}
        {% endfor %}
    </ul>
{% endblock %}
