{% extends '@page/about/en/about-en.twig' %}

{% block static_headline %}
    Contact
{% endblock %}

{% block static_content %}
    <h2>Your request got sent</h2>
    <p>Thank you for your message</p>
    <p><strong>Your mobilezone</strong></p>
{% endblock %}
