{% extends '@page/about-en.twig' %}

{% block static_headline %}
    Contact
{% endblock %}

{% block static_content %}
    {% set form = form_begin({id: 'contact-form', method: 'POST', action: Url.to(['/page/about/contact-en'], true) }) %}
    <fieldset class="form-group">
        <legend>How would you like to be contacted?</legend>
        {{ form.field(model, 'answere').labelAsPrompt.radioList(model.allAnswersEn)|raw }}
    </fieldset>
    <fieldset class="form-group">
        {{ form.field(model, 'question').dropDownList(model.allQuestionsEn, pre_selected_question)|raw }}
    </fieldset>
    <fieldset class="form-group">
        {{ form.field(model, 'request').textarea()|raw }}
    </fieldset>

    {% include '@views/forms/base-contact-form.twig' with { captcha: true, en: true } %}

    <button type="submit" class="btn btn-danger">
        Send
        <span class="icon icon-angle-right"></span>
    </button>
    {{ form_end() }}
{% endblock %}
