{% extends '@page/about-en.twig' %}

{% block static_headline %}
    Downloads
{% endblock %}

{% block static_content %}
    <a href="{{ 'downloads/de_Statuten-2015.pdf' | cdn }}">
        Statuten (German - pdf)
    </a>
    <br>
    <a href="{{ 'downloads/en_Organizational-Regulations-2008.pdf' | cdn }}">
        Organizational Regulations (pdf)
    </a>
    <br>
    <a href="{{ 'downloads/en_Code-of-Conduct-2015.pdf' | cdn }}">
        Code of Conduct (pdf)
    </a>
    <br>
    <a href="{{ ('downloads/annual-reports/en_corporate-governance-report-2016.pdf') | cdn }}" target="_blank">
        Corporate Governance
    </a>
    <br>
    <a href="{{ ('downloads/annual-reports/en_compensation-report-2016.pdf') | cdn }}" target="_blank">
        Compensation Report
    </a>
    <br>
    <a href="{{ 'downloads/' | cdn }}{{ 'en_Protokoll-GV-2018_Ordinary.pdf' }}" target="_blank">
        Minutes 2018 ordinary general meeting
    </a>
    <br>
    <a href="{{ 'downloads/' | cdn }}{{ 'en_Minutes-GV-2018.pdf' | trans('staticcontent') }}">
        Minutes 2018 extraordinary general meeting
    </a>
    <br>
    <a href="{{ 'downloads/' | cdn }}{{ 'de_Protokoll-GV-2017.pdf' | trans('staticcontent') }}">
        Minutes 2017
    </a>
    <br>
    <a href="{{ 'downloads/' | cdn }}{{ 'de_Protokoll-GV-2016.pdf' | trans('staticcontent') }}">
        Minutes 2016
    </a>
    <br>
    <a href="{{ 'downloads/' | cdn }}{{ 'en_Summary-Minutes-GA-2015.pdf' | trans('staticcontent') }}">
        Minutes 2015
    </a>
{% endblock %}
