{% extends '@page/about-en.twig' %}

{% block static_headline %}
    {% for item in NewsFeed.items(count, lang) if (item.get_id() == feedID) %}
        {{ item.get_title()|striptags }}
    {% endfor %}
{% endblock %}

{% block static_content %}
    {% for item in NewsFeed.items(count, lang) if (item.get_id() == feedID) %}
        <div class="feed">
            <p><strong>{{ item.get_date('d.m.y') }}</strong></p>
            <span class="cta text-center text-lg-right">
                    {% for e in item.get_enclosures() %}
                        {% if(e.get_type() == 'application/pdf') %}
                            <a class="btn btn-outline-danger" href="{{ e.get_link() }}">PDF Download</a>
                        {% endif %}
                    {% endfor %}

                <div class="feed-images">
                    {% for e in item.get_enclosures() %}
                        {% if(e.get_type() == 'image/png') %}
                            <div class="my-3">
                                <img src="{{ e.get_link() }}" class="img-fluid" style="max-height:200px;">
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>

                </span>
            <div>{{ item.get_content()|raw }}</div>
        </div>
    {% endfor %}
{% endblock %}
