{% extends '@page/about-en.twig' %}

{% block static_headline %}
    IR-Service
{% endblock %}

{% block static_content %}
    <iframe src="https://webservices.newsbox.ch/mobilezoneholding/registration/executable/add_person.php?isoGuiLanguage=en" width="100%" height="500px" border="none"></iframe>
{% endblock %}