{% extends '@page/about-en.twig' %}

{% block static_headline %}
    Key figures
{% endblock %}

{% block static_content %}
    {% include '@page/about/parts/table-key-figures.twig' with { en: true } %}
    <div class="row row-graph">
    <div class="col-md-4">
        <h2>Consolidated profit (in CHF mio.)</h2>
        <img class="img-fluid"
             src="{{ asset('img/key-figures/Konzerngewinn_Netprofit.png') }}"
             alt="Consolidated Profit Graph">
    </div>
    <div class="col-md-4">
        <h2>EBIT (in CHF mio.)</h2>
        <img class="img-fluid"
             src="{{ asset('img/key-figures/EBIT.PNG') }}"
             alt="EBIT Graph">
    </div>
    <div class="col-md-4">
        <h2>Net sales (in CHF mio.)</h2>
        <img class="img-fluid"
             src="{{ asset('img/key-figures/Nettoverkaufserloes.png') }}"
             alt="Net Sales Graph">
    </div>
    </div>
{% endblock %}
