{% extends '@page/about-en.twig' %}

{% block static_headline %}
    Management Team
{% endblock %}

{% block static_content %}
    {% for person in persons %}
        {% include "@page/about/parts/person.twig" %}
    {%  endfor %}
{% endblock %}