{% extends '@page/about-en.twig' %}

{% block static_headline %}
    Company News
{% endblock %}

{% block static_content %}
    <p>Here you can access current corporate news, information and publication and sign up to our media mailing list for journalists.</p>
    <h2>Current news</h2>
    {% include '@views/news/news.twig' with {'lang':'en-EN'} %}
{% endblock %}
