{% extends '@page/about-en.twig' %}

{% block static_headline %}
    Financial Reports
{% endblock %}

{% block static_content %}
    <ul class="list-reports list-unstyled">
        {% for report in reports %}
            {% include "@page/about/parts/report-list.twig" %}
        {%  endfor %}
    </ul>
{% endblock %}
