{% extends '@page/about-en.twig' %}

{% block static_headline %}
    Corporate structure
{% endblock %}

{% block static_content %}
    <p>The mobilezone group is organized in two areas of business which represent the governance structure of the group. The trading division compromises private and business customers as well as e-Commerce activities of the group. Repair services and the proprietary tariff provider are organised in the service division.</p>
    <p class="text-sm-center"><img src="{{ asset('img/Unternehmensstruktur_0418_HR_EN.png') }}" alt="MZ Holding Graph" class="img-fluid"></p>
{% endblock %}
