@import '../../variables';

.list {
  padding-left: $btn-padding-x;
  list-style-type: none;

  li {
    position: relative;

    &::before {
      position: absolute;
      left: -$spacer;
      font-family: 'iconfont';
      line-height: .75;
      content: '●';
    }
  }

  small {
    display: block;
    margin-top: $spacer / -2;
  }
}

.list-success {
  li {
    &::before {
      color: $brand-success;
      content: '\E008';
    }
  }
}

.list-info {
  li {
    &::before {
      color: $brand-info;
      content: '\E008';
    }
  }
}

.list-danger {
  li {
    &::before {
      color: $brand-danger;
    }
  }
}

.list-checked {
  li {
    margin-bottom: $spacer;
    padding-left: 25px;

    &::before {
      font-size: 45px;
      content: '\E009';
    }
  }
}

.list-insurance {
  li {
    direction: rtl;
    margin-right: 30px;
  }
}
