{% set sim_only_id = constant('app\\models\\ArticleModel::SIM_ONLY') %}

{% if item.article.id != sim_only_id %}
    {% include '@checkout/steps/items/short/article.twig' with {
        item: item.article,
        title: 'Mobilephone',
    } %}
{% endif %}

{% include '@checkout/steps/items/short/tariff.twig' with {
    item: item.tariff,
} %}

{% if item.sim_card %}
    {% include '@checkout/steps/items/short/sim_card.twig' with {
        item: item.sim_card
    } %}
{% endif %}
