{% embed '@views/components/card.twig' %}
    {% block header %}
        {{ title|trans('checkout') }}
    {% endblock %}
    {% block body %}
        <div class="float-right product-img-wrapper text-center">
            <img class="img-fluid img-mh"
                 src="{{ item.images[0]|image('small') }}"
                 alt="{{ item.data.product_name }}">
        </div>

        {% if item.data.provider.product_name is not empty %}
            <strong>{{ item.data.provider.product_name }}</strong><br>
        {% endif %}

        <strong>{{ item.data.product_name }}</strong>

        {% include '@views/stock/stock.twig' with {stock: item.stock} %}

    {% endblock %}
{% endembed %}
