{% embed '@views/components/card.twig' %}
    {% block header %}
        {{ 'Sim_Card'|trans('checkout') }}
    {% endblock %}
    {% block body %}
        <strong>{{ item.data.product_name }}</strong>
    {% endblock %}
{% endembed %}
