{% embed '@views/components/card.twig' %}
    {% block header %}
        {{ 'Contract'|trans('checkout') }}
    {% endblock %}
    {% block body %}
        {% set provider_img_src = item.provider.alt_image and item.show_alt_provider_img ?
            item.provider.alt_image|image('thumbnail') :
            item.provider.image|image('thumbnail')
        %}

        <img class="float-sm-right product-image"
             src="{{ provider_img_src }}"
             alt="{{ item.provider.title }}">

        <strong>{{ item.title }}</strong>

        {% include '@views/products/highlights.twig' with {highlights: item.data.highlights} only %}

        <p>{{ 'Contract duration: {months} months'|trans('checkout', {months: item.data.contract_duration}) }}</p>

    {% endblock %}
{% endembed %}
