{% extends "@views/layouts/base.twig" %}

{% block content %}
    <div class="search" role="tablist" aria-multiselectable="true">
        <div class="search" role="tablist" aria-multiselectable="true"><div id="epoq_contentresult"></div>
            <div id="epoq_bannerresult"></div>
            <div id="epoq_currentSearch"></div>
            <div id='epoq_filterresult'></div>
            <div id="epoq_searchresult"></div>
        </div>
    </div>
{% endblock %}
