@import 'prices';
@import 'checkout';
@import 'payment-redirect';
@import 'success';
@import 'insurance';

.checkout {
  .table {
    margin-bottom: 2 * $spacer;

    &.table-products {
      border-bottom: 0;

      tbody tr:last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    td {
      @include media-breakpoint-up(lg) {
        padding: 1.5 * $spacer;
      }
    }
  }

  .product-img-wrapper {
    position: relative;
    width: 150px;
    height: 150px;

    @include media-breakpoint-up(lg) {
      right: -(1.5 * $spacer);
      width: 170px;
      padding-right: 1.5 * $spacer;
    }
  }

  .product-brand-image {
    max-width: 100px;
    max-height: 60px;
    margin-bottom: $spacer-y;
  }

  &.step-customer-data:not(.logged-in) .checkout-aside {
    margin-top: $spacer * 3;
  }

  &.step-overview .card-block [class*='col-'] {
    margin-bottom: $spacer;
  }

  .accessory-slider-img-wrapper {
    width: 120px;
    height: 120px;
    margin: auto;
  }
}

.alert-item-removed {
  display: none;
}
