.list-checkout-steps {
  display: flex;
  margin-bottom: 2 * $spacer;
  padding: $spacer;
  border: 1px solid $gray-lightest;

  li {
    flex-grow: 1;
    text-align: center;

    a {
      color: $gray-lighter;

      &.active {
        color: $brand-danger;
      }
    }

    > span,
    a {
      display: block;

      .icon {
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
}

table.table {
  @include media-breakpoint-down(md) {
    border-right: 0;
    border-left: 0;

    tr {
      td:first-child,
      td:last-child {
        border-right: 0;
        border-left: 0;
      }
    }
  }
}

.contract-data {
  @include media-breakpoint-up(lg) {
    .row:first-child {
      position: relative;

      > div:nth-child(2) {
        position: absolute;
        right: $spacer / 2;
        bottom: 0;
        width: calc(50% - 7.5px);
      }
    }
  }
}
