.toggle-information {
  a {
    color: $brand-info;
  }

  .less-info {
    display: none;
  }

  &.active {
    .more-info {
      display: none;
    }

    .less-info {
      display: inline-block;
    }

    .icon-angle-down {
      transform: rotate(180deg);
    }
  }
}

.info-separator {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  height: $border-width;
  margin: 0 $spacer;
  border: $border-width solid transparentize($brand-inverse, .9);
}

.more-insurance-information td {
  position: relative;
}

.additional-insurance-information ~ .additional-insurance-information {
  display: none;
}
