.checkout {
  &.payment-redirect .btn {
    //Fake button which lies over the actual functional button for optical purposes.
    //We decided on this solution to not have to adjust the functional button coming from the payment provider.
    position: relative;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      border: 0;
      background: transparent;
      color: transparent;
    }
  }
}
