@import '../variables';

.price {
  font-size: $font-size-h2;

  &.price-sm {
    font-size: $font-size-sm;
  }

  &.price-md {
    font-size: $font-size-base;
  }

  &.price-lg {
    font-size: $font-size-h1;
  }
}
