.checkout {
  &.success {
    .row ~ .row {
      margin-top: $spacer * 2;
    }

    h2 {
      font-weight: normal;

      a {
        color: $brand-danger;

        &:hover {
          color: inherit;
        }
      }
    }

    .contract-box {
      width: 100%;

      thead tr {
        background: $brand-info;
      }

      th,
      tfoot td {
        font-weight: bold;
      }

      td {
        line-height: 1;

        &:first-child {
          padding-right: $spacer;
          font-weight: bold;
        }
      }

      .table {
        th,
        td {
          padding: $spacer;
        }
      }
    }
  }
}
