<div class="row row-person">
    <div class="col-sm-3">
        {% if person.image is not empty %}
        <img src="{{ person.image }}" alt="{{ person.firstname }} {{ person.lastname }}">
        {% endif %}
    </div>

    <div class="col-sm-9">
        <h3>{{ person.firstname }} {{ person.lastname }} ({{ person.title|raw }})</h3>
        <p>{{ person.text|raw }}</p>
    </div>
</div>
