{% set tariff = article_tariff.tariff %}
{% set article = article_tariff.article %}

{% set form = form_begin({id: 'contract-number-new', method: 'POST', action: '/checkout/cart/add'}) %}

    <input type="hidden" name="item_type" value="{{ constant('app\\modules\\checkout\\services\\cart\\ItemInterface::TYPE_ARTICLE_TARIFF') }}">
    <input type="hidden" name="item_id" value="{{ article_tariff.id }}">

    <dl class="provider">
        <dt>
            <img src="{{ tariff.provider.image|image('thumbnail') }}" alt="{{ tariff.provider.title }}">
        </dt>
        <dd>{{ tariff.title }}</dd>
    </dl>

    <br>
    <div class="duration">{{ 'Subs_Filter_Duration'|trans('view') }}: {{ tariff.contract_duration }} {{ 'Months'|trans('view') }}</div>

    <dl class="price-onetime">
        <dt>{{ 'Subs_Price_Once'|trans('view') }}:</dt>
        <dd>{{ article_tariff.price_tariff_once|price }}</dd>
    </dl>
    <br>

    {% include '@views/products/highlights.twig' with { highlights: tariff.highlights } only %}

    <dl class="price-contract">
        <dt>{{ 'Contract_Box_Price_Subscription_Monthly'|trans('view') }}:</dt>
        <dd>{{ article_tariff.price_tariff_monthly|price }}</dd>
    </dl>

    <dl class="price-hardware">
        <dt>{{ 'Contract_Box_Price_Hardware'|trans('view') }}:</dt>
        <dd>
            {{ article_tariff.price_article_monthly|price }}
            {% if article_tariff.price_article_monthly %}
                <sup>*</sup>
            {% endif %}
        </dd>
    </dl>
    <br>

    {% if article_tariff.price_article_monthly %}
        <p class="small text-xs-right">
            {{ 'Contract_Box_Fine_Print'|trans('view') }}
            {{ 'Contract_Box_Price_Total'|trans('view') }}:
            {{ article_tariff.price_article_once|price }}
        </p>
    {% endif %}

    {% block footer %}
        <a class="btn btn-block btn-info" href="#subscriptions">
            {{ 'Contract_Box_Select_From_All_Subscriptions'|trans('view') }}
            <span class="icon icon-angle-right"></span>
        </a>

        <button type="submit" class="btn btn-block btn-danger">
            {{ 'Order_Now'|trans('view') }}
            <span class="icon icon-angle-right"></span>
        </button>
    {% endblock %}
{{ form_end() }}
