<div class="contract-box {{ contract_box_name }} {{ contract_box_name != current_box ? 'hidden-xs-up' }}">
    <div class="contract-box-header">
        {% block contract_box_header %}
            <div class="row">
                <div class="col-xs-6">
                    <a href="?box=contract-new-number" class="contract-box-switch">
                        <label class="with-contract no-gutter-right {% if contract %}active{% endif %}">
                            {{ 'Contract_Box_With_Contract'|trans('view') }}
                        </label>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="?box=no-contract" class="contract-box-switch">
                        <label class="without-contract no-gutter-left {% if not contract %}active{% endif %}">
                            {{ 'Contract_Box_Without_Contract'|trans('view') }}
                        </label>
                    </a>
                </div>
            </div>
            {% if contract %}
                <div class="row">
                    <div class="col-sm-6">
                        <label class="new-number no-gutter-right custom-control custom-radio">
                            <a href="?box=contract-new-number" class="contract-box-switch">
                                <input class="custom-control-input" type="radio" name="{{ contract_box_name }}-number" value="new" {% if not keep_number %}checked{% endif %}>
                                <div>
                                    <span>{{ 'Contract_Box_New_Number'|trans('view') }}</span>
                                    <small>({{ 'Contract_Box_New_Contract'|trans('view') }})</small>
                                </div>
                                <span class="custom-control-indicator"></span>
                            </a>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="keep-number no-gutter-left custom-control custom-radio">
                            <a href="?box=renewal-request" class="contract-box-switch">
                                <input class="custom-control-input" type="radio" name="{{ contract_box_name }}-number" value="keep" {% if keep_number %}checked{% endif %}>
                                <div>
                                    <span>{{ 'Contract_Box_Keep_Number'|trans('view') }}</span>
                                    <small>({{ 'Contract_Box_Port_Prolong'|trans('view') }})</small>
                                </div>
                                <span class="custom-control-indicator"></span>
                            </a>
                        </label>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    </div>
    <div class="contract-box-content">
        {% block content %}{% endblock %}
    </div>
</div>
