{% set form = form_begin({id: 'no-contract', method: 'POST', action: '/checkout/cart/add'}) %}

    <input type="hidden" name="item_type" value="{{ accessory_id ? 'accessories' : 'article' }}">
    <input type="hidden" name="item_id" value="{{ article.id }}">

    {% if not no_contract %}
        <h3>{{ 'Contract_Box_Phone_Only_No_Contract'|trans('view') }}</h3>

        <ul>
            <li>{{ Article.getArticleGroup(article).short_name }}</li>
            <li>{{ article.color_label }}</li>
            <li>{{ article.memory }} GB {{ 'Memory'|trans('view') }}</li>
        </ul>
    {% endif %}

    <h2>{{ article.prices.once|price }}</h2>

    {% include '@views/stock/stock.twig' with { stock: article.stock } only %}

    <button type="submit" class="btn btn-block btn-danger">
        {{ 'Order_Now'|trans('view') }}
        <span class="icon icon-angle-right"></span>
    </button>

{{ form_end() }}
