<div>
    <img src="{{ provider.image|image('thumbnail') }}" alt="{{ provider.title }}">

    <h3>{{ 'Contract_Box_Identify_Yourself_At_Swisscom_With_Your_Credentials'|trans('view') }}</h3>
    <p>{{ 'Contract_Box_Afterwards_You_Will_Be_Redirected_To_Prolong'|trans('view') }}</p>

    <a href="{{ swisscom_login_url }}" class="btn btn-block btn-danger">
        {{ 'Contract_Box_To_Swisscom_Login'|trans('view') }}
        <span class="icon icon-angle-right"></span>
    </a>
</div>
