{{ this.beginPage }}
<!DOCTYPE html>
<html lang="{{ app.language }}" data-currency="{{ app.params.currency }}">
<head>
    <meta charset="{{ app.charset }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ Seo.getTitle() }}</title>
    <meta name="description" content="{{ Seo.getMetaDescription() }}">
    <meta name="og:description" content="{{ Seo.getMetaDescription() }}">
    <meta name="og:image" content="https://cdn2.webdamdb.com/1280_2LqQ3yKNXES5.png?1516611060" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/libs.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/mobilezone.css') }}"/>
    <script src="{{ asset('scripts/polyfill.js') }}"></script>

    {% block head %}
        {% include "@views/meta-tags.twig" %}
    {% endblock %}

    {% include "@seo/hreflang.twig" %}

    {{ this.head }}
</head>
<body>
    {{ this.beginBody }}
    <div id="loader" style="display: none;" onclick="$(this).hide()">
        <img src="{{ asset('img/mobilezone_logo.svg') }}">
    </div>
    {% block header_container %}
        <div class="usp-bar hidden-md-down bg-info py-2">
            <div class="px-5">
                <ul class="list list-inline list-checked float-left m-0 p-0">
                    <li class="list-inline-item">{{ 'Usp_Bar_Item_1'|trans('view') }}</li>
                    <li class="list-inline-item">{{ 'Usp_Bar_Item_2'|trans('view') }}</li>
                    <li class="list-inline-item">{{ 'Usp_Bar_Item_3'|trans('view') }}</li>
                    <li class="list-inline-item">
                        <a href="{{ Url.to(['/shop-finder'])  }}">
                            {{ 'Usp_Bar_Item_4'|trans('view') }}
                        </a>
                    </li>
                </ul>
                <a href="{{ Url.to(['/page/about/contact'], true) }}" class="float-right pr-2">
                    {{ 'Hotline'|trans('view') }}
                    {{ 'MZ_Phone_Number'|trans('view') }}
                </a>
            </div>
        </div>

        <div class="container">
            {% block header %}
                {% include "@views/header/header.twig" %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block content_container %}
        <div class="container">
            <div class="content">
                {% block flash_messages %}
                    {% if app.session.getAllFlashes()|length > 0 %}
                        <div class="row">
                            <div class="col-lg-12">
                                {% for type, messages in app.session.getAllFlashes() %}
                                    {% embed '@views/components/alert.twig' with {type: type} %}
                                        {% block body %}
                                            {% for msg in messages %}
                                                {{ msg }}{{ not loop.last ? '<br>' }}
                                            {% endfor %}
                                        {% endblock %}
                                    {% endembed %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endblock flash_messages %}
                {% block content %}{% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        <div class="container">
            {% include "@views/footer/footer.twig" %}
        </div>
    {% endblock %}

    {% if app.params.browserLiveReload %}
        <script src="//www.stardust.dev:35729/livereload.js"></script>
    {% endif %}

    <script src="{{ asset('scripts/libs.js') }}"></script>
    <script src="{{ asset('scripts/mobilezone.js') }}"></script>

    {% if app.params.live_chat %}
        {% include "@views/components/live-chat.twig" %}
    {% endif %}


    <script src="https://cdn.epoq.de/flow/mobilezone-ch.js"></script>
</body>
</html>
{{ this.endPage }}
