{% extends "@views/layouts/base.twig" %}

{% block header %}
    <header class="header hidden-sm-down">
        {% include "@views/header/search-bar.twig" with {logo_only: true} %}
    </header>

    <header class="header-mobile hidden-md-up">
        {% include "@views/header/header-mobile.twig" %}
    </header>
{% endblock %}
