@import '../variables';

.annual-report-page {
  .first-level {
    li:not(.language-switch) a {
      margin-right: $spacer;
    }

    > li:last-child {
      float: right;
    }

    > li:hover ul {
      display: block;
    }

    li {
      white-space: nowrap;

      ul {
        display: none;
        position: absolute;
        padding: 0;
        background: transparentize($brand-info, .1);
        list-style: none;
        z-index: 999;
      }
    }

    > li:not(:last-child) {
      &:hover > a,
      .active {
        border-bottom: $border-width dotted $brand-danger;
      }
    }
  }

  .language-switch .disabled {
    color: $gray-dark;
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;

    &:hover {
      color: $gray-dark;
    }
  }

  main .row {
    margin-bottom: $spacer * 4;
  }

  footer .row {
    padding: $spacer 0;

    > div {
      margin-bottom: $spacer;
    }

    .icon {
      float: left;
      font-size: 3rem;
    }
  }

  .dotted {
    position: relative;
    margin-bottom: $spacer;
    color: $brand-danger;
    font-size: $font-size-lg;
    font-weight: normal;

    &::after {
      position: absolute;
      bottom: -8px;
      left: 0;
      max-width: 100%;
      white-space: nowrap;
      content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .';
      overflow: hidden;
    }
  }

  .year {
    display: block;
    color: $brand-danger;
    line-height: .8;
  }

  .number-xxl {
    font-size: 13rem;
  }

  .percent {
    color: $brand-success;
  }

  .highlight .month {
    color: $brand-danger;
  }

  .signature {
    width: auto;
    height: 60px;
  }

  h1,
  h2,
  h3,
  .h1,
  .h2,
  .h3 {
    font-weight: 400;
    line-height: 1.25;
  }

  @include media-breakpoint-down(sm) {
    .number-xxl {
      font-size: 10rem;
    }

    .h1 {
      font-size: 1.5rem;
    }
  }
}
