@import '../variables';

.page {
  .list-calendar {
    li {
      padding-bottom: $spacer;
    }

    .date {
      width: 15%;
      border-right: $border-width solid $gray-lighter;
    }

    .headline {
      margin-left: 5%;
      font-weight: bold;
    }

    @include media-breakpoint-down(xs) {
      .date {
        width: 30%;
      }

      .headline {
        width: 65%;
      }
    }
  }
}
