@import '../variables';

.aside-contact-info {
  margin-top: $spacer * 2;
  padding: $spacer;
  background: $gray-lightest;
  font-size: $font-size-sm;

  color: #737373;

  a { color: #737373; }

  h2 {
    margin: $spacer 0;
    font-size: $font-size-h2;
    color: #373737;
  }

  h3 {
    font-size: $font-size-h3;
    color: #373737;

    &~h3 {
      margin-top: $spacer;
      padding-top: $spacer;
      border-top: $border-width solid $gray-lighter;
    }

    &.no-border {
      border-top: 0;
    }
  }
}
