div.feed {
  .feed-content {
    .footer {
      margin-top: 3*$spacer;
      padding-top: 3*$spacer;
      border-top: 1px solid #c1c1c1;

      opacity: 0.7;

    }

  }
  .cta {
    @include media-breakpoint-up(sm) {
      float: right;
      margin-left:10px;
      margin-bottom:10px;
    }
  }
}