@import '../variables';

.img-hover-wrapper {
  display: inline-block;
  position: relative;
  margin-bottom: $spacer;

  &:not(:last-child) {
    margin-right: $spacer;
  }

  .img-hover-text {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: $spacer;
    background: transparentize($brand-warning, .1);
    color: $brand-danger;

    &::after {
      position: absolute;
      right: $spacer;
      bottom: 55px;
      width: $spacer * 2;
      height: $spacer * 2;
      color: transparentize($gray-lightest, .2);
      font-family: $font-family-sans-serif;
      font-size: 120px;
      content: '”';
    }
  }

  &:hover {
    .img-hover-text {
      display: block;
    }
  }
}


.page-jobs {
  li {
    a {
      display: block;
      margin-bottom: 1px;
      padding: ($spacer / 2) $spacer;
      background: $gray-lightest;

      &:hover {
        .location {
          color: $gray-dark;
        }
      }
    }
  }

  h2 {
    margin-top: ($spacer * 2);
  }
}
