.page {
  .list-news {
    li {
      &::after {
        display: block;
        clear: both;
        content: '';
      }
    }

    .date {
      @include media-breakpoint-down(xs) {
        width: 30%;
      }

      display: inline-block;
      width: 20%;
      float: left;
    }

    .headline {
      @include media-breakpoint-down(xs) {
        width: 70%;
      }

      display: inline-block;
      width: 80%;
      float: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    a {
      text-decoration: underline;
    }
  }
}
