@import '../variables';
@import 'side-navi';

.page {
  h2 {
    margin-top: $spacer;
  }

  button {
    margin: $spacer 0;
  }

  iframe {
    border: 0;
  }

  .footnotes {
    margin: $spacer * 2 0;

    p {
      margin-bottom: 0;
    }
  }

  .row-graph {
    h2 {
      @include media-breakpoint-up(md) {
        min-height: 35px;
      }

      font-size: 1.15rem;
    }

    img {
      border: 2px solid $gray-lighter;
    }
  }

  .placeholder {
    display: inline-block;
    width: 120px;
  }

  .language-switch {
    text-align: center;
  }
}

@import 'news';
@import 'table';
@import 'calendar';
@import 'reports';
@import 'persons';
@import 'contact-form';
@import 'contact-info';
@import 'jobs';
@import 'annual-reports';
@import 'tv';
@import 'support';
@import 'feed';