@import '../variables';

.page {
  .row-person {
    margin: ($spacer * 2) ($spacer / 2) 0;
    padding-bottom: $spacer * 2;
    border-bottom: $border-width solid $gray-lightest;

    &:last-child {
      border: 0;
    }

    > div {
      padding: 0;
    }

    img {
      border: 2px solid $gray-lightest;
    }

    h2 {
      margin: 0 0 $spacer;
    }

    p {
      margin: 0;
    }
  }
}
