@import '../variables';

.page {
  .list-reports {
    li {
      position: relative;
      padding: $spacer 0;
      border-bottom: $border-width solid $gray-lighter;

      .btn-group-right {
        @include media-breakpoint-down(sm) {
          position: relative;

          a {
            display: inline-block;
          }
        }

        position: absolute;
        top: $spacer / 2;
        right: 0;

        a {
          width: 120px;
        }
      }
    }
  }
}
