@import '../variables';

.side-navi {
  border: $border-width solid $gray-lighter;

  .card {
    margin-bottom: 0;
    border: 0;

    &:last-child a {
      border: 0;
    }
  }

  .card-header {
    padding: 0;
    border-radius: 0;
    background: $brand-info;

    a:not(.collapsed) .icon-angle-right {
      display: inline-block;
      position: relative;
      left: -4px;
      transform: rotate(90deg);
    }
  }

  .collapse,
  .collapsing {
    margin: 0;
    background: $gray-lightest;
  }

  .card-block {
    padding: 0;

    a {
      padding: $spacer ($spacer * 2);
    }
  }

  a {
    display: block;
    margin: 0 $spacer;
    padding: $spacer;
    border-bottom: $border-width solid $gray-lighter;

    .icon-angle-right {
      transition: transform .5s ease;
    }
  }
}

.page-jobs .side-navi a:last-child,
.page-support .side-navi > a:last-child {
  border: 0;
}
