@import '../variables';

.page {
  table {
    &.table-key-figures {
      th,
      td {
        &:nth-child(even) {
          min-width: 90px;
        }

        &:nth-child(odd) {
          &:not(:first-child) {
            padding-left: $spacer / 2;
          }
        }
      }
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      font-size: $font-size-sm;
      table-layout: fixed;

      th,
      td {
        overflow: hidden;
      }

      &.table-key-figures {
        th,
        td {
          &:first-child {
            width: 25%;
          }

          &:nth-child(2),
          &:nth-child(4) {
            width: 15%;
          }

          &:nth-child(3),
          &:nth-child(5) {
            width: 10%;
          }
        }
      }
    }

    width: 100%;
    float: none;

    th {
      padding-bottom: $spacer / 2;
    }

    tr td {
      border-bottom: $border-width solid $gray-lighter;
    }

    td {
      line-height: 2;
    }

    th ~ th,
    td ~ td {
      text-align: right;
    }

    .spacer {
      height: $spacer * 2;
    }
  }
}
