.page-contract-configurator {
  fieldset {
    margin: ($spacer * 2) ($spacer * 4);

    @include media-breakpoint-down(sm) {
      margin: ($spacer * 2) 0;
    }
  }

  .survey {
    text-align: center;

    fieldset {
      padding: $spacer * 2;
      border-radius: $border-radius-lg;
      background: $brand-info;

      @include media-breakpoint-down(sm) {
        padding: ($spacer * 2) $spacer;
      }
    }

    h3 {
      display: inline-block;
      position: relative;
      padding: ($spacer / 2) ($spacer * 4);
      border-radius: 25px;
      background: $brand-info;
      color: $brand-danger;

      @include media-breakpoint-down(sm) {
        padding: ($spacer / 2) $spacer;
      }

      &::after {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 5px;
        height: $spacer * 3;
        background: $brand-info;
        content: '';
      }
    }

    h4 {
      margin-bottom: $spacer * 2;
    }

    .custom-controls-inline {
      display: inline-block;

      label {
        display: inline-block;
      }
    }

    .target-wrapper {
      display: none;
    }
  }

  .contact {
    legend {
      margin: 0 $spacer ($spacer / 3);
      padding: 0;
      font-size: $font-size-h3;
    }

    label {
      font-weight: normal;
    }
  }
}
